<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('招聘职位列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>职位名称：</label>
                                <input type="text" name="jobTitle"/>
                            </li>
                            <li>
                                <label>用人部门：</label>
                                <input type="text" name="employPersons"/>
                            </li>
                            <li>
                                <label>工作性质：</label>
                                <input type="text" name="natureofWork"/>
                            </li>
                            <li>
                                <label>工作城市：</label>
                                <input type="text" name="workCity"/>
                            </li>
                            <li>
                                <label>招聘人数：</label>
                                <input type="text" name="hiring"/>
                            </li>
                            <li>
                                <label>已入职人数：</label>
                                <input type="text" name="employees"/>
                            </li>
                            <li>
                                <label>招聘进度：</label>
                                <input type="text" name="schedule"/>
                            </li>
                            <li>
                                <label>工作经验：</label>
                                <input type="text" name="experience"/>
                            </li>
                            <li>
                                <label>学历要求：</label>
                                <input type="text" name="required"/>
                            </li>
                            <li>
                                <label>薪资范围：</label>
                                <input type="text" name="range"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:recruitment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:recruitment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:recruitment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:recruitment:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:recruitment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:recruitment:remove')}]];
        var prefix = ctx + "system/recruitment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "招聘职位",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'jobTitle',
                    title: '职位名称'
                },
                {
                    field: 'employPersons',
                    title: '用人部门'
                },
                {
                    field: 'natureofWork',
                    title: '工作性质'
                },
                {
                    field: 'workCity',
                    title: '工作城市'
                },
                {
                    field: 'hiring',
                    title: '招聘人数'
                },
                {
                    field: 'employees',
                    title: '已入职人数'
                },
                {
                    field: 'schedule',
                    title: '招聘进度'
                },
                {
                    field: 'experience',
                    title: '工作经验'
                },
                {
                    field: 'required',
                    title: '学历要求'
                },
                {
                    field: 'range',
                    title: '薪资范围'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>