<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('电子签呈列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
		<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								类型：<select name="typeType">
								         <option value="">All</option>
								         <option value="1">用印签呈</option>
								         <option value="2">请采购</option>
								         <option value="3">其他</option>
							         </select>
							</li>
							<li>
								申请人：<input type="text" name="applyname"/>
							</li>
							<li class="select-time">
								<label>申请日期： </label>
								<input type="text" class="time-input" id="startTime" placeholder="StartTime" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="EndTime" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
<!--	        <div class="btn-group-sm" id="toolbar" role="group">-->

<!--				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:petition:remove">-->
<!--					<i class="fa fa-remove"></i> 删除-->
<!--				</a>-->
<!--			</div>-->
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:petition:edit')}]];
        var detailFlag = [[${@permission.hasPermi('system:petition:detail')}]];
        var removeFlag = [[${@permission.hasPermi('system:petition:remove')}]];
        var auditFlag = [[${@permission.hasPermi('system:petition:audit')}]];
        var subFlag = [[${@permission.hasPermi('system:petition:sub')}]];
        var auditcwFlag = [[${@permission.hasPermi('system:petition:auditcw')}]];
        var auditcwManagerFlag = [[${@permission.hasPermi('system:petition:auditcwManager')}]];
        var auditHRFlag = [[${@permission.hasPermi('system:petition:auditHR')}]];
        var auditGMFlag = [[${@permission.hasPermi('system:petition:auditGM')}]];
        var audithistroyFlag = [[${@permission.hasPermi('system:petition:audithistroy')}]];
        var auditFWFlag = [[${@permission.hasPermi('system:petition:auditFW')}]];
        var addauditFlag = [[${@permission.hasPermi('system:petition:addauditFlagg')}]];
        var removeLogicFlag = [[${@permission.hasPermi('system:petition:removeLogic')}]];
        var prefix = ctx + "system/petition";

		$(function () {
			var options = {
				url: prefix + "/list/Todo",
				createUrl: prefix + "/add",
				updateUrl: prefix + "/edit/{id}",
				removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				modalName: "签呈审批",
				showExport: true,
				columns: [
					{
						field: 'id',
						title: 'id',
						visible: true
					},
					{
						field: 'typeType',
						title: '类型',
						formatter: function (value) {
							return typeType(value);
						}
					},
					{
						field: 'company',
						title: '公司',
						formatter: function (value) {
							return companyTools(value);
						}
					},
					{
						field: 'comNo',
						title: '表单编号',
						sortable: true
					},
					{
						field: 'applyname',
						title: '申请人',
						sortable: true
					},
					{
						field: 'applydate',
						title: '申请日期',
						sortable: true
					},
					{
						title: '附件',
						formatter: function (value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="fileList(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>列表</a>');
							return actions.join('');
						}
					},
					{
						field: 'status',
						title: '状态',
						formatter: function (value) {
							return statusTools(value);
						}
					},
					{
						field: 'searchValue',
						title: '待签核人员',
					},
					{
						title: '操作',
						// align: 'right',
						formatter: function (value, row, index) {

							var actions = [];
							if (row.status == 1 || row.status == 7) {
								actions.push('<a class="btn btn-info btn-xs ' + subFlag + '" href="javascript:void(0)" onclick="submit(\'' + row.id + '\')"><i class="fa fa-check"></i> 提交</a> ');
								actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');

							}
							if (row.status == 0) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="addaudit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 加签人员审核</a> ');
							}
							if (row.status == 2) {
								// actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待主管审核</a> ');
							}
							if (row.status == 3) {
								actions.push('<a class="btn btn-info btn-xs ' + auditHRFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待印鉴保管人审核</a> ');

							}
							if (row.status == 4) {
								actions.push('<a class="btn btn-info btn-xs ' + auditcwFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待财务总账审核</a> ');
							}
							if (row.status == 5) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待财务经理审核</a> ');

							}
							if (row.status == 6) {
								actions.push('<a class="btn btn-info btn-xs ' + auditGMFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待核准人审核</a> ');
							}
							if (row.status == 9) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="audit(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待法务审核</a> ');
							}
							if (row.status == 11) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="auditOtherGM(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待新增核准人审核</a> ');
							}
							if (row.status == 13) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="auditOtherPT(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待新增会审人审核</a> ');
							}
							if (row.status == 12) {
								actions.push('<a class="btn btn-info btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="auditAC(\'' + row.id + '\')"><i class="fa fa-audit"></i> 待审核人审核</a> ');
							}
							;
							actions.push('<a class="btn btn-primary btn-xs ' + auditGMFlag + '" href="javascript:void(0)" onclick="audithistory(\'' + row.id + '\')"><i class="fa fa-edit"></i> 审批历史</a> ');
							actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.id + '\')"><i class="fa fa-search"></i> 详情</a> ');
							return actions.join('');
						}
					}]
			};
			$.table.init(options);
		});

        function typeType(value){
            if (value==1){
                return 'A用印签呈'
            } else if (value==2){
                return 'B请采购签呈'
            }else if (value==3){
                return 'C其他'
            }
        };

        function statusTools(value){
            if (value==1){
                return '保存未提交'
            } else if (value==2){
                return '待主管审核'
            }else if (value==3){
                return '待印鉴保管人审核'
            }else if (value==4){
                return '待财务总账审核'
            }else if (value==5){
                return '待财务经理审核'
            }else if (value==6){
                return '待核准人审核'
            }else if (value==7){
                return '撤回'
            }else if (value==8){
                return '完成'
            }else if (value==9){
                return '待法务审核'
            }else if (value==0){
                return '加签人员审核'
            }else if (value==11){
                return '待新增核准人审核'
            }else if (value==12){
                return '待审核人审核'
            }else if (value==13){
				return '待新增会审人审核'
			}else if (value==14){
				return '否决'
			}
        };

		function companyTools(value) {
			if (value == 5) {
				return '杭州'
			} else if (value == 7) {
				return '西安'
			} else if (value == 17) {
				return '成都'
			} else if (value == 19) {
				return '上海'
			} else if (value == 3) {
				return '韩国'
			} else if (value == 16) {
				return '印度'
			} else if (value == 15) {
				return '日本'
			} else if (value == 12) {
				return '台湾矽力杰'
			} else if (value == 6) {
				return '南京'
			} else if (value == 13) {
				return '香港'
			} else if (value == 14) {
				return '上海矽力杰微电子'
			} else if (value == 20) {
				return '南京香港'
			} else if (value == 4) {
				return '美国'
			} else if (value == 9) {
				return '萨摩亚'
			} else if (value == 1) {
				return 'corp'
			} else if (value == 21) {
				return '矽望'
			} else if (value == 0) {
				return '其他'
			} else if (value == 20) {
				return '南京香港'
			} else if (value == 4) {
				return '美国'
			}else if (value == 22) {
				return '合肥'
			}else if (value == 23) {
				return '澳门'
			}
		}


        function fileList(id) {
            var url = prefix + '/filePage/' + id;
            $.modal.open("File列表", url);
        }

        function submit(id) {
            $.modal.confirm("确定提交吗？", function() {
                $.ajax({
                    //几个参数需要注意一下
                    type: "GET",//方法类型
                    url: prefix + "/submit?id=" + id,//url
                    dataType: "json",//预期服务器返回的数据类型
                    beforeSend: function () {
                        $.modal.loading("正在给相关人员发送邮件,请稍等......");
                    },
                    success: function (result) {
						if (result.code == web_status.SUCCESS) {
							result.msg = "操作成功！";
							$.operate.successCallback(result);
						} else {
							$.modal.closeLoading();
							$.modal.alertError(result.msg);
						}
                    },
                    error : function() {
                        alert("error！");
                    }
                });
            })
        };
        // 删除
        function removeLogic(id) {

            $.modal.confirm("确定删除该文件吗？", function() {
                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    url: prefix + "/removeLogic?id=" + id,//url
                    dataType: "json",//预期服务器返回的数据类型
                    timeout:20000,
                    success: function (result) {
                        $.operate.ajaxSuccess(result);
                    },
                    error : function() {
                        alert("error！");
                    }
                });
            });
        }

        //待主管审核
        function audit(id) {
            var url = prefix+'/audit/' + id;
            createMenuItem(url,"审核界面");
        };
       /* function auditHR(id) {
            var url = prefix+'/auditHR/' + id;
            createMenuItem(url,"印鉴保管人审核")
        };
        function auditcw(id) {
            var url = prefix+'/auditcw/' + id;
            createMenuItem(url,"财务总账审核");
        };
        function auditcwManager(id) {
            var url = prefix+'/auditcwManager/' + id;
            createMenuItem(url,"财务经理审核");
        };
        function auditGM(id) {
            var url = prefix+'/auditGM/' + id;
            createMenuItem(url,"总经理审核");
        };
        function auditFW(id) {
            var url = prefix+'/auditFW/' + id;
            createMenuItem(url,"法务审核");
        };
*/
        function detail(id) {

            var url = prefix+'/detail/' + id + '/' + 1;
            createMenuItem(url,"详情");
        };
        function addaudit(id) {

            var url = prefix+'/addaudit/' + id;
            createMenuItem(url,"加签人员审核");
        };
        function auditAC(id) {

            var url = prefix+'/audit/' + id;
            createMenuItem(url,"审核人审核");
        };

        function auditOtherGM(id) {
            var url = prefix+'/auditOtherGM/' + id;
            createMenuItem(url,"新增审核人审核");
        };

		function auditOtherPT(id) {
			var url = prefix+'/auditOtherPT/' + id;
			createMenuItem(url,"新增会审人审核");
		};
        //日志
        function audithistory(id) {
            var url = prefix+'/audithistory/' + id;
            $.modal.open("查看审批历史", url, null, null, null, true);
        };
        function exportPDF(id) {
            window.location.href=prefix+'/exportPDF/'+id;
        };


    </script>
</body>
</html>