<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('创建活动')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: jquery-smartwizard-css"/>
    <th:block th:include="include :: jasny-bootstrap-css"/>
</head>
<style type='text/css'>
    .rightarea {
        float: left;
        width: 40%;
        height: 300px;
    }

    .leftarea {
        float: left;
        width: 50%;
        height: 300px;
    }

    .sw > .tab-content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .col-sm-6 {
        width: 50%;
    }

    .drawNamePic {
        text-align: center;
        position: absolute;
        top: 100px;
        font-size: 37px;
        left: 0px;
        color: #F00;
        width: 100%;
    }

    .drawDescribePic {
        text-align: center;
        position: absolute;
        top: 150px;
        font-size: 20px;
        left: 0px;
        color: #F00;
        width: 100%;
    }

    .drawbtnPic {
        text-align: center;
        position: absolute;
        top: 70%;
        font-size: 20px;
        color: #F00;
        left: 0px;
        width: 100%;
    }

    .drawbtnPic2 {
        text-align: center;
        position: absolute;
        top: 78%;
        font-size: 20px;
        color: #F00;
        left: 0px;
        width: 100%;
    }
    .btnSelect{
        cursor: pointer;
        background-color: #4CAF50;
        color: white;padding: 15px 32px;
        display: inline-block;
        font-size: 15px;
    }
    /* 配置收集信息*/
    .drawTotalPri {
        text-align: center;
        position: absolute;
        top: 10%;
        font-size: 37px;
        left: 0;
        color: #F00;
        width: 100%;
    }
    .drawDescribePri{
        text-align: center;
        position: absolute;
        top: 25%;
        font-size: 20px;
        left: 0;
        color: #F00;
        width: 100%;
    }
    .drawTextPri{
        text-align: center;
        position: absolute;
        top: 50%;
        font-size: 15px;
        left: 0;
        color: #F00;
        width: 100%;
    }
    .drawText2Pri{
        text-align: center;
        position: absolute;
        top: 55%;
        font-size: 10px;
        left: 0;
        color: #F00;
        width: 80%;
    }
    .drawText3Pri{
          text-align: center;
          position: absolute;
          top: 60%;
          font-size: 20px;
          left: 0;
          color: #F00;
          width: 100%;
      }
    .drawbtnPri {
        text-align: center;
        position: absolute;
        top: 88%;
        font-size: 20px;
        color: #F00;
        left: 0px;
        width: 100%;
    }

   /* 配置分享信息*/
    .drawShareTitlePri {
        text-align: center;
        position: absolute;
        top: 40%;
        font-size: 20px;
        left: 28%;
        color: #F00;
        width: 100%;
    }

    .drawShareDescribePri {
        text-align: center;
        position: absolute;
        top: 50%;
        font-size: 10px;
        left: 25%;
        color: #F00;
        width: 100%;
    }
    .drawShareImgPic {
           text-align: center;
           position: absolute;
           top: 50%;
           font-size: 37px;
           left: 35%;
           color: #F00;
           width: 100%;
       }

    .drawShareImg2Pic{
        text-align: center;
        position: absolute;
        top: 40%;
        font-size: 37px;
        left: 30%;
        color: #F00;
        width: 100%;
    }
    /* 关注二维码*/



    .drawCodeImgPic{
        text-align: center;
        position: absolute;
        top: 50%;
        font-size: 37px;
        left: 0%;
        color: #F00;
        width: 100%;
    }
    .drawQrCodePri{
        text-align: center;
        position: absolute;
        top: 70%;
        font-size: 25px;
        left: 0%;
        color: #F00;
        width: 100%;
    }



</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-info-add">

        <div id="smartwizard">
            <ul class="nav">
              <li class="nav-item">
                    <a class="nav-link" href="#step-1"> 基本信息 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-2"> 选择UI模板 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-3"> 配置展现内容 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-4"> 选择玩法 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-5"> 配置收集信息 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-6"> 配置分享信息 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-7"> 关注二维码 </a>
                </li>
            </ul>
            <div class="tab-content" style="height: 610px;">
           <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <div>
                        <form class="form form-horizontal m-t">
                            <h4 class="form-header h4">第1步-基本信息</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">活动名称：</label>
                                        <div class="col-sm-8">
                                            <input name="DRAWNAME" placeholder="活动名称"  class="form-control" type="text" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">状态：</label>
                                        <div class="col-sm-8">
                                            <select name="STATUS" class="form-control" th:with="type=${@dict.getType('start_stop')}">
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"  ></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">消耗对象：</label>
                                        <div class="col-sm-8">
                                            <select name="EXPENO" class="form-control" th:with="type=${@dict.getType('expeType')}">
                                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">消耗价值：</label>
                                        <div class="col-sm-8">
                                            <input name="EXPENOVALUE"  placeholder="消耗价值" class="form-control" type="text" maxlength="30">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">开始时间：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <input name="STARTTIME"  class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label is-required">结束时间：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <input name="ENDTIME"  class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <div>
                        <form class="form form-horizontal m-t">
                            <h4 class="form-header h4">第2步-选择UI模板</h4>
                            <div th:with="type=${@dict.getType('activityTemplate')}">
                                <a class="btn  btn-rounded" href="#" th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" onclick="activityTemplate(this)"></a>
                            </div>
                            <h4 class="form-header h4">字典表显示字段</h4>
                            <img src="../../img/1.jpg" width="104" height="142">
                        </form>
                    </div>
                </div>
                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <div style="height: 610px">
                        <form class="form form-horizontal m-t">
                            <div class="leftarea">
                                <h4 class="form-header h4">第3步-配置展现内容</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">活动标题：</label>
                                            <div class="col-sm-8">
                                                <input id="drawname" name="DRAWNAME" placeholder="活动名称"
                                                       class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePic(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">活动描述：</label>
                                            <div class="col-sm-8">
                                                <input id="drawDescribe" name="drawDescribe" placeholder="活动描述"
                                                       class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePic(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label is-required">背景图片：</label>

                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                 style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="pic"></span>
                                                <a href="#" class="btn btn-white fileinput-exists"
                                                   data-dismiss="fileinput">清除</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">自定义按钮1：</label>
                                            <div class="col-sm-8">
                                                <input id="btn1" name="btn1" placeholder="自定义按钮1" class="form-control"
                                                       type="text"
                                                       maxlength="30" onkeyup="updatePic(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">按钮1跳转链接：</label>
                                            <div class="col-sm-8">
                                                <input name="btn1Link" placeholder="按钮1跳转链接" class="form-control"
                                                       type="text"
                                                       maxlength="30">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">自定义按钮2：</label>
                                            <div class="col-sm-8">
                                                <input id="btn2" name="btn2" placeholder="自定义按钮2" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePic(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">按钮2跳转链接：</label>
                                            <div class="col-sm-8">
                                                <input name="btn2Link" placeholder="按钮2跳转链接" class="form-control"
                                                       type="text"
                                                       maxlength="30">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="rightarea">
                                <h4 class="form-header h4">效果图</h4>
                                <div style="position: relative;text-align:center">
                                    <img id="imgPic" src="../../img/1.jpg" width="380" height="500">
                                    <span class="drawNamePic" id="drawnamePic">活动标题</span>
                                    <span class="drawDescribePic" id="drawDescribePic">活动描述</span>
                                    <span class="drawbtnPic">
                                        <a id="btn1Pic" class="btn btn-success btn-xs ">自定义按钮1</a>
                                    </span>
                                    <span class="drawbtnPic2">
                                        <a id="btn2Pic" class="btn btn-success btn-xs ">自定义按钮2</a>
                                    </span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                    <h4 class="form-header h4">第4步-选择玩法</h4>
                    <div th:with="type=${@dict.getType('activityPlay')}">
                        <a class="btn  btn-rounded" href="#" th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" onclick="activityTemplate(this)"></a>
                    </div>
                    <img src="../../img/1.jpg" width="104" height="142">
                    <h4 class="form-header h4">活动规则</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">首次中奖配置：</label>
                                <div class="col-sm-8">
                                    <select name="FIRSTFLAG" id="FIRSTFLAG" onchange="firstflag()" class="form-control"
                                            th:with="type=${@dict.getType('is_boolean')}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">首次中奖奖品：</label>
                                <div class="col-sm-8">
                                    <select name="FIRSTAWARDPRIZE" class="form-control" id="firstawardprize" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">时间段抽奖配置：</label>
                                <div class="col-sm-8">
                                    <select name="DAILYFLAG" id="DAILYFLAG" onchange="dailyflag()" class="form-control"
                                            th:with="type=${@dict.getType('is_boolean')}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">时间段限制次数：</label>
                                <div class="col-sm-8">
                                    <input name="DAILYNUMBER" id="dailynumber" placeholder="时间段限制次数"
                                           class="form-control" type="text" maxlength="30" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">抽奖限制开始时间：</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <input name="DAILYSTARTTIME" id="dailystarttime" class="form-control"
                                               placeholder="HH:mm:ss" type="text" disabled>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">抽奖限制结束时间：</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <input name="DAILYENDTIME" id="dailyendtime" class="form-control"
                                               placeholder="HH:mm:ss" type="text" disabled>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">抽奖必中配置：</label>
                                <div class="col-sm-8">
                                    <select name="WILLDRAWFLAG" id="WILLDRAWFLAG" onchange="willdrawflag()"
                                            class="form-control" th:with="type=${@dict.getType('is_boolean')}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                                th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">抽奖必中计数：</label>
                                <div class="col-sm-8">
                                    <input name="WILLDRAWAWARDNUMBER" id="willdrawawardnumber" placeholder="抽奖必中计数"
                                           class="form-control" type="text" maxlength="30" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">抽奖必中奖品：</label>
                                <div class="col-sm-8">
                                    <select name="WILLDRAWAWARDPRIZE" class="form-control" id="willdrawawardprize"
                                            disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-5">
                    <div style="height: 610px">
                        <form class="form form-horizontal m-t">
                            <div class="leftarea">
                                <h4 class="form-header h4">第五步-配置收集信息</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">标题：</label>
                                            <div class="col-sm-8">
                                                <input id="title" name="title" placeholder="例如：客户姓名" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">描述：</label>
                                            <div class="col-sm-8">
                                                <input id="describe" name="describe" placeholder="例如：客户手机号" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">协议内容：</label>
                                            <div class="col-sm-8">
                                                <input id="agreement" name="agreement"  height="100px"  class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label is-required">背景图片：</label>

                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                 style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="picture"></span>
                                                <a href="#" class="btn btn-white fileinput-exists"
                                                   data-dismiss="fileinput">清除</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">自定义按钮1：</label>
                                            <div class="col-sm-8">
                                                <input id="btn" name="btn" placeholder="自定义按钮" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">按钮跳转链接：</label>
                                            <div class="col-sm-8">
                                                <input  name="btnLink" placeholder="按钮跳转链接" class="form-control" type="text"
                                                        maxlength="30" onkeyup="updatePri(this)" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">客户必填信息：</label>
                                            <div class="col-sm-8">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="name"   id="name" onclick="updateText(this)">姓名</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="phone"   id="phone" onclick="updateText(this)">手机号</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="sex"  id="sex"  onclick="updateText(this)">性别</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="address" id="address"   onclick="updateText(this)">地址</input>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label ">代理人信息：</label>
                                            <div class="col-sm-8">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="agentName"   id="agentName" onclick="updateText(this)">代理人姓名</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="agentPhone"   id="agentPhone" onclick="updateText(this)">代理人手机号</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="agentSex"  id="agentSex"  onclick="updateText(this)">代理人性别</input>
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="agentNumber" id="agentNumber"   onclick="updateText(this)">代理人工号</input>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="rightarea">
                                <h4 class="form-header h4">效果图</h4>
                                <div style="position: relative;text-align:center">
                                    <img id="imgPri" src="../../img/shj.jpg" width="380" height="500">
                                    <span class="drawTotalPri" id="titlePri">标题</span>
                                    <span class="drawDescribePri" id="describePri">描述</span>
                                    <span class="drawTextPri">请填写您的基本信息</span>
                                    <div class="drawText2Pri">
                                        <input type="checkbox">
                                        <span id="agreementPri">信息页文本协议提示</span>
                                    </div>

                                    <div class="drawText3Pri">
                                        <div>
                                            <input placeholder="姓名" name="name"  type="hidden" id="namePri">
                                        </div>
                                        <div>
                                            <input placeholder="手机号" name="phone"  type="hidden" id="phonePri">
                                        </div>
                                        <div>
                                            <input placeholder="性别" name="sex" height="10px" type="hidden" id="sexPri">
                                        </div>
                                        <div>
                                            <input placeholder="地址" name="address"  type="hidden" id="addressPri">
                                        </div>
                                        <div>
                                            <input placeholder="代理人姓名" name="agentName"  type="hidden" id="agentNamePri">
                                        </div>
                                        <div>
                                            <input placeholder="代理人手机号" name="agentPhone"  type="hidden" id="agentPhonePri">
                                        </div>
                                        <div>
                                            <input placeholder="代理人性别" name="agentSex"  type="hidden" id="agentSexPri">
                                        </div>
                                        <div>
                                            <input placeholder="代理人地址" name="agentNumber"  type="hidden" id="agentNumberPri">
                                        </div>
                                    </div>

                                    <span class="drawbtnPri">
                                    <a id="btnPri" class="btn btn-success btn-xs ">自定义按钮</a>
                                    </span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div id="step-6" class="tab-pane" role="tabpanel" aria-labelledby="step-6">
                    <div style="height: 610px">
                        <form class="form form-horizontal m-t">
                            <div class="leftarea">
                                <h4 class="form-header h4">第六步-配置分享信息</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">分享连接：</label>
                                            <div class="col-sm-8">
                                                <input id="shareConnect" name="shareConnect" placeholder="例如：http://XX" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">分享标题：</label>
                                            <div class="col-sm-8">
                                                <input id="shareTitle" name="shareTitle" placeholder="例如：2021XX客户节" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">分享描述：</label>
                                            <div class="col-sm-8">
                                                <input id="shareDescribe" name="shareDescribe" placeholder="例如：参与活动，赢大奖" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label is-required">分享图片：</label>

                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                 style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="shareImg"></span>
                                                <a href="#" class="btn btn-white fileinput-exists"
                                                   data-dismiss="fileinput">清除</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           <div class="rightarea">
                                <h4 class="form-header h4">效果图</h4>
                               <div style="height: 210px">
                                   <div class="drawShareImg2Pic">
                                   <img id="ss" src="../../img/shj.jpg" width="254" height="142">
                                   </div>
                                   <div class="drawShareImgPic">
                                       <img id="shareImgPic" src="../../img/shj.jpg" width="50" height="50">
                                   </div>
                                   <div>
                                    <span class="drawShareTitlePri"  id="shareTitlePri">中国人寿举办活动</span>
                                   </div>
                                    <span class="drawShareDescribePri" id="shareDescribePri">分享必得奖品</span>

                                </div>
                            </div>
                        </form>
                   </div>
                </div>
                <div id="step-7" class="tab-pane" role="tabpanel" aria-labelledby="step-7">
                    <div style="height: 610px">
                        <form class="form form-horizontal m-t">
                            <div class="leftarea">
                                <h4 class="form-header h4">第七步-关注二维码</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label is-required">关注二维码描述：</label>
                                            <div class="col-sm-8">
                                                <input id="qrCode" name="qrCode" placeholder="例如：扫描二维码参加活动" class="form-control" type="text"
                                                       maxlength="30" onkeyup="updatePri(this)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label is-required">背景图片：</label>

                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                 style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="backdropImg"></span>
                                                <a href="#" class="btn btn-white fileinput-exists"
                                                   data-dismiss="fileinput">清除</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label is-required">二维码图片：</label>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                                                 style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="qrCodeImg"></span>
                                                <a href="#" class="btn btn-white fileinput-exists"
                                                   data-dismiss="fileinput">清除</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="rightarea">
                                <h4 class="form-header h4">效果图</h4>
                                <div style="position: relative;text-align:center">
                                        <img id="backdropImgPri" src="../../img/shj.jpg" width="400" height="400">
                                    <div class="drawCodeImgPic">
                                        <img id="qrCodeImgPri" src="../../img/shj.jpg" width="80" height="80">
                                    </div>

                                    <span class="drawQrCodePri" id="qrCodePri">关注二维码</span>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: jquery-smartwizard-js"/>
<th:block th:include="include :: jasny-bootstrap-js"/>
<script th:inline="javascript">
    var prefix = ctx + "activity/info"

    /**获取奖品及信息列表*/
    $(document).ready(function () {
        var job = "";
        $.ajax({

                url: prefix + "/prizeInfo",
                success: function (data) {

                    for (var i in data) {
                        if (job.length == 0) {
                            job = "<option value='" + data[i].prizecode + "'>" + data[i].prizename + "</option>"
                        } else {
                            job += "<option value='" + data[i].prizecode + "'>" + data[i].prizename + "</option>"
                        }
                    }
                    $("#firstawardprize").html(job);
                    $("#willdrawawardprize").html(job);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                async: false             //false表示同步
            }
        );
    });

    $("#form-info-add").validate({
        focusCleanup: true
    });


    function submitHandler() {
        var data = $("#form-info-add").serializeArray();
        $.operate.saveModal(prefix + "/add", data);
    }

    //时间段抽奖配置
    function dailyflag() {
        var DAILYFLAG = $("#DAILYFLAG").val();
        if (DAILYFLAG == 1) {
            $('#dailynumber').removeAttr('disabled');
            $('#dailystarttime').removeAttr('disabled');
            $('#dailyendtime').removeAttr('disabled');
        } else if (DAILYFLAG == 0) {
            $("#dailynumber").attr('disabled', 'true');
            $("#dailystarttime").attr('disabled', 'true');
            $("#dailyendtime").attr('disabled', 'true');
        }
    }

    //抽奖必中配置
    function willdrawflag() {
        var WILLDRAWFLAG = $("#WILLDRAWFLAG").val();
        if (WILLDRAWFLAG == 1) {
            $('#willdrawawardnumber').removeAttr('disabled');
            $('#willdrawawardprize').removeAttr('disabled');
        } else if (WILLDRAWFLAG == 0) {
            $("#willdrawawardnumber").attr('disabled', 'true');
            $("#willdrawawardprize").attr('disabled', 'true');

        }
    }

    //首次中奖配置
    function firstflag() {
        var FIRSTFLAG = $("#FIRSTFLAG").val();
        if (FIRSTFLAG == 1) {
            $('#firstawardprize').removeAttr('disabled');
        } else if (FIRSTFLAG == 0) {
            $("#firstawardprize").attr('disabled', 'true');
        }

    }

    $("input[name='STARTTIME']").datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        format: 'yyyy-mm-dd hh:ii:ss'
    });

    $("input[name='ENDTIME']").datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        format: 'yyyy-mm-dd hh:ii:ss'
    });

    $("input[name='DAILYSTARTTIME']").datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        format: 'hh:ii:ss'
    });

    $("input[name='DAILYENDTIME']").datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        format: 'hh:ii:ss'
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        // 工具栏按钮
        var btnFinish = $('<a id="btn-finish"></a>').text('完成')
            .addClass('btn btn-info')
            .on('click', function () {
                submit();
            });
        var btnCancel = $('<a id="btn-cancel"></a>').text('取消')
            .addClass('btn btn-danger')
            .on('click', function () {
                $('#smartwizard').smartWizard("reset");
            });
        // 下面两个按钮是为了因为插件默认的是botton,这里换成<a>,也可以选择用样式替换,或者不替换
        var btnNext = $('<a id="btn-next"></a>').text('下一步')
            .addClass('btn btn-info')
            .on('click', function () {
                $('#smartwizard').smartWizard("next");
            });
        var btnPrev = $('<a id="btn-prev"></a>').text('上一步')
            .addClass('btn btn-success disabled')
            .on('click', function () {
                $('#smartwizard').smartWizard("prev");
            });
        // 初始化表单向导组件
        $('#smartwizard').smartWizard({
            theme: 'dots', // default, arrows, dots, progress
            autoAdjustHeight: true, // 自动调整高度, 默认true
            enableURLhash: false, //开启URL hash,开启后点击浏览器前进后退按钮会执行下一步和上一步操作
            transition: {
                animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
                showNextButton: false,// 因为上面自定义了下一步按钮, 所以隐藏掉插件自带的按钮, 如果不使用自定义按钮, 需要改为true或者去掉该属性
                showPreviousButton: false,// 因为上面自定义了上一步按钮, 所以隐藏掉插件自带的按钮, 如果不使用自定义按钮, 需要改为true或者去掉该属性
                toolbarExtraButtons: [btnCancel, btnPrev, btnNext, btnFinish]// 扩展的按钮集合
            }
        });
    });

    // 显示步骤时将触发事件
    $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
        // 下面按钮是快速操作栏的
        $("#prev-btn").removeClass('disabled');
        $("#next-btn").removeClass('disabled');
        // 下面按钮是工具栏的
        $("#btn-prev").removeClass('disabled');
        $("#btn-next").removeClass('disabled');
        $("#btn-finish").removeClass('disabled');
        if (stepPosition === 'first') {
            $("#prev-btn").addClass('disabled');// 快速操作栏（演示用）
            $("#btn-prev").addClass('disabled');
            $("#btn-finish").addClass('disabled');
        } else if (stepPosition === 'last') {
            $("#next-btn").addClass('disabled');// 快速操作栏（演示用）
            $("#btn-next").addClass('disabled');
        } else {
            $("#prev-btn").removeClass('disabled');// 快速操作栏（演示用）
            $("#next-btn").removeClass('disabled');// 快速操作栏（演示用）
            $("#btn-prev").removeClass('disabled');
            $("#btn-next").removeClass('disabled');
            $("#btn-finish").addClass('disabled');
        }
    });

    // 该事件在离开某个步骤之前触发
    $("#smartwizard").on("leaveStep", function (e, anchorObject, currentStepNumber, nextStepNumber, stepDirection) {
        if (stepDirection == 'forward') {
            var form = $("#step-" + (currentStepNumber + 1)).find('.form');
            if (form.length > 0) {
                return form.validate().form();
            }
            return true;
        }
        return true;
    });

    $("#theme-selector").on("change", function () {
        // Change theme
        var options = {
            theme: $(this).val()
        };
        $('#smartwizard').smartWizard("setOptions", options);
        return true;
    });

    $("#reset-btn").on("click", function () {
        // Reset wizard
        $('#smartwizard').smartWizard("reset");
        return true;
    });

    $("#prev-btn").on("click", function () {
        // Navigate previous
        $('#smartwizard').smartWizard("prev");
        return true;
    });

    $("#next-btn").on("click", function () {
        // Navigate next
        $('#smartwizard').smartWizard("next");
        return true;
    });
</script>
<script th:inline="javascript">


   function updateText(val){

       var id = val.id;
          var boolean = $("#"+id).prop("checked");
            if (boolean){
                $("#" + id + "Pri").attr('type','text');
            }else{
                $("#" + id + "Pri").attr('type','hidden');
            }
   }


    function updatePic(val) {
        var id = val.id;
        var value = val.value;
        if (value == null || value == ""&& id.indexOf("btn") != -1){
            //默认值
            value = "自定义按钮"+id.charAt(id.length -1);
        }
        $("#" + id + "Pic").text(value);

    }
    function updatePri(val) {
        var id = val.id;
        var value = val.value;
        if (value == null || value == ""&& id.indexOf("btn") != -1){
            //默认值
            value = "自定义按钮";
        }
        $("#" + id + "Pri").text(value);
    }
//分享图片
   $("#qrCodeImg").change(function () {
       qrCodeImg(this);
       if ($(this).val() != '') {
           $("#qrCodeImgPri").attr("src", $(this).val());

       }
   });
   function qrCodeImg(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               //$('#prevImg').attr('src', e.target.result);
               $("#qrCodeImgPri").attr("src", e.target.result);
               //$('#preview').css("background", "url(" + e.target.result +")" + " right top no-repeat");
           }

           reader.readAsDataURL(input.files[0]);
       }
   }
   //分享图片
   $("#backdropImg").change(function () {
       backdropImg(this);
       if ($(this).val() != '') {
           $("#backdropImgPri").attr("src", $(this).val());

       }
   });
   function backdropImg(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               //$('#prevImg').attr('src', e.target.result);
               $("#backdropImgPri").attr("src", e.target.result);
               //$('#preview').css("background", "url(" + e.target.result +")" + " right top no-repeat");
           }

           reader.readAsDataURL(input.files[0]);
       }
   }
   //分享图片
   $("#shareImg").change(function () {
       shareImg(this);
       if ($(this).val() != '') {
           $("#shareImgPic").attr("src", $(this).val());

       }
   });
   function shareImg(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               //$('#prevImg').attr('src', e.target.result);
               $("#shareImgPic").attr("src", e.target.result);
               //$('#preview').css("background", "url(" + e.target.result +")" + " right top no-repeat");
           }

           reader.readAsDataURL(input.files[0]);
       }
   }

    $("#picture").change(function () {
        btnURL(this);
        if ($(this).val() != '') {
            // var formData = new FormData();
            // formData.append('file', $(this)[0].files[0]);
            // $.ajax({
            //     url: '/path/to/upload',
            //     type: 'POST',
            //     data: formData,
            //     async: false,
            //     success: function (r) {
            //         if(r.success) {
            //             //success work
            //         }
            //     },
            //     cache: false,
            //     contentType: false,
            //     processData: false
            // });
            $("#imgPri").attr("src", $(this).val());

        }
    });

    function btnURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#prevImg').attr('src', e.target.result);
                $("#imgPri").attr("src", e.target.result);
                //$('#preview').css("background", "url(" + e.target.result +")" + " right top no-repeat");
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#pic").change(function () {
        previewURL(this);
        if ($(this).val() != '') {
            // var formData = new FormData();
            // formData.append('file', $(this)[0].files[0]);
            // $.ajax({
            //     url: '/path/to/upload',
            //     type: 'POST',
            //     data: formData,
            //     async: false,
            //     success: function (r) {
            //         if(r.success) {
            //             //success work
            //         }
            //     },
            //     cache: false,
            //     contentType: false,
            //     processData: false
            // });
            $("#imgPic").attr("src", $(this).val());

        }
    });

    function previewURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#prevImg').attr('src', e.target.result);
                $("#imgPic").attr("src", e.target.result);
                //$('#preview').css("background", "url(" + e.target.result +")" + " right top no-repeat");
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function activityTemplate(val){
        $(val).addClass('btn-success').siblings().removeClass('btn-success');
        //todo 添加逻辑
    }

</script>
</body>
</html>