<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改抽奖活动管理')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-edit" th:object="${drawInfo}">
            <input name="DRAWID" th:field="*{DRAWID}" type="hidden">
            <input name="DRAWRULEID" th:field="*{DRAWRULEID}" type="hidden">
            <h4 class="form-header h4">活动管理</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">活动名称：</label>
                            <div class="col-sm-8">
                                <input name="DRAWNAME" placeholder="活动名称" th:field="*{DRAWNAME}" class="form-control" type="text" maxlength="30">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">状态：</label>
                            <div class="col-sm-8">
                                <select name="STATUS" class="form-control" th:with="type=${@dict.getType('start_stop')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"  th:field="*{STATUS}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">消耗对象：</label>
                            <div class="col-sm-8">
                                <select name="EXPENO" class="form-control" th:with="type=${@dict.getType('expeType')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{EXPENO}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">消耗价值：</label>
                            <div class="col-sm-8">
                                <input name="EXPENOVALUE" th:field="*{EXPENOVALUE}" placeholder="消耗价值" class="form-control" type="text" maxlength="30">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">开始时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="STARTTIME" th:value="${#dates.format(drawInfo.STARTTIME, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">结束时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="ENDTIME" th:value="${#dates.format(drawInfo.ENDTIME, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-header h4">活动规则</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">首次中奖配置：</label>
                            <div class="col-sm-8">
                                <select name="FIRSTFLAG" class="form-control" th:with="type=${@dict.getType('is_boolean')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{FIRSTFLAG}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">首次中奖奖品：</label>
                            <div class="col-sm-8">
                                <select name="FIRSTAWARDPRIZE" class="form-control" id="firstawardprize" >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">时间段抽奖配置：</label>
                            <div class="col-sm-8">
                                <select name="DAILYFLAG" class="form-control" th:with="type=${@dict.getType('is_boolean')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{DAILYFLAG}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">时间段限制次数：</label>
                            <div class="col-sm-8">
                                <input name="DAILYNUMBER" th:field="*{DAILYNUMBER}" placeholder="时间段限制次数" class="form-control" type="text" maxlength="30">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">抽奖限制开始时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="DAILYSTARTTIME"   th:value="${#dates.format(drawInfo.DAILYSTARTTIME, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">抽奖限制结束时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="DAILYENDTIME"   th:value="${#dates.format(drawInfo.DAILYENDTIME, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">抽奖必中配置：</label>
                            <div class="col-sm-8">
                                <select name="WILLDRAWFLAG" class="form-control" th:with="type=${@dict.getType('is_boolean')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{WILLDRAWFLAG}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">抽奖必中计数：</label>
                            <div class="col-sm-8">
                                <input name="WILLDRAWAWARDNUMBER" th:field="*{WILLDRAWAWARDNUMBER}" placeholder="抽奖必中计数" class="form-control" type="text" maxlength="30">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">抽奖必中奖品：</label>
                            <div class="col-sm-8">
                                <select name="WILLDRAWAWARDPRIZE"  class="form-control" id="willdrawawardprize">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "activity/info"
        $("#form-info-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.saveModal(prefix + "/edit", $('#form-info-edit').serialize());
            }
        }
        /**获取奖品及信息列表*/
        $(document).ready(function() {
            var WILLDRAWAWARDPRIZE = [[${drawInfo.WILLDRAWAWARDPRIZE}]];
            var FIRSTAWARDPRIZE = [[${drawInfo.FIRSTAWARDPRIZE}]];

            var job= "";
            var jobj= "";
            $.ajax({

                    url:prefix + "/prizeInfo",
                    success: function (data) {

                        for(var i in data){
                            if (job.length==0){
                                if(data[i].prizecode==WILLDRAWAWARDPRIZE){
                                    job = "<option value='"+data[i].prizecode+"' selected=\"selected\">"+data[i].prizename+"</option>"
                                }
                                job = "<option value='"+data[i].prizecode+"' >"+data[i].prizename+"</option>"

                            }
                            else{
                                if(data[i].prizecode==WILLDRAWAWARDPRIZE){
                                    job += "<option value='"+data[i].prizecode+"' selected=\"selected\">"+data[i].prizename+"</option>"
                                }
                                job += "<option value='"+data[i].prizecode+"' >"+data[i].prizename+"</option>"
                        }
                        }
                        $("#willdrawawardprize").html(job);
                        for(var i in data){
                            if(jobj.length==0){
                                if(data[i].prizecode==FIRSTAWARDPRIZE){
                                    jobj = "<option value='"+data[i].prizecode+"' selected=\"selected\">"+data[i].prizename+"</option>"
                                }
                                jobj = "<option value='"+data[i].prizecode+"' >"+data[i].prizename+"</option>"

                            }else{

                                if(data[i].prizecode==FIRSTAWARDPRIZE){
                                    jobj += "<option value='"+data[i].prizecode+"' selected=\"selected\">"+data[i].prizename+"</option>"
                                }
                                jobj += "<option value='"+data[i].prizecode+"' >"+data[i].prizename+"</option>"
                            }
                        }
                        $("#firstawardprize").html(jobj);

                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    async:false             //false表示同步
                }

            );
        });

        $("input[name='STARTTIME']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='ENDTIME']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='DAILYSTARTTIME']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='DAILYENDTIME']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>