<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusResourceCommentMapper">
    
    <resultMap type="BusResourceComment" id="BusResourceCommentResult">
        <result property="commentId"    column="comment_id"    />
        <result property="resourceId"    column="resource_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectBusResourceCommentVo">
        select comment_id, resource_id, user_id, user_name, content, create_time from bus_resource_comment
    </sql>
	
    <select id="selectBusResourceCommentList" parameterType="BusResourceComment" resultMap="BusResourceCommentResult">
        <include refid="selectBusResourceCommentVo"/>
        <where>  
            <if test="commentId != null "> and comment_id = #{commentId}</if>
             <if test="resourceId != null "> and resource_id = #{resourceId}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="userName != null  and userName != '' "> and user_name = #{userName}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectBusResourceCommentById" parameterType="Long" resultMap="BusResourceCommentResult">
        <include refid="selectBusResourceCommentVo"/>
        where comment_id = #{commentId}
    </select>
        
    <insert id="insertBusResourceComment" parameterType="BusResourceComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into bus_resource_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resourceId != null  ">resource_id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="userName != null  and userName != ''  ">user_name,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="createTime != null  ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resourceId != null  ">#{resourceId},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="userName != null  and userName != ''  ">#{userName},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="createTime != null  ">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateBusResourceComment" parameterType="BusResourceComment">
        update bus_resource_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceId != null  ">resource_id = #{resourceId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''  ">user_name = #{userName},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where comment_id = #{commentId}
    </update>

	<delete id="deleteBusResourceCommentById" parameterType="Long">
        delete from bus_resource_comment where comment_id = #{commentId}
    </delete>
	
    <delete id="deleteBusResourceCommentByIds" parameterType="String">
        delete from bus_resource_comment where comment_id in 
        <foreach item="commentId" collection="array" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>
    
</mapper>