<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户消息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								消息类型：<input type="text" name="messageType"/>
							</li>

							<li>
								消息内容：<input type="text" name="content"/>
							</li>

							<li>
								消息时间：<input type="text" name="createTime"/>
							</li>

							<li>
								接收人id：<input type="text" name="receiveUserId"/>
							</li>

							<li>
								接收人名称：<input type="text" name="receiveUserName"/>
							</li>

							<li>
								发布人id：<input type="text" name="publishUserId"/>
							</li>

							<li>
								发布人名称：<input type="text" name="publishUserName"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:busUserMessage:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:busUserMessage:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:busUserMessage:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:busUserMessage:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:busUserMessage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:busUserMessage:remove')}]];
        var prefix = ctx + "system/busUserMessage";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户消息",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'messageId', 
					title : '消息id',
					visible: false
				},
				{
					field : 'messageType', 
					title : '消息类型',
					sortable: true
				},
				{
					field : 'content', 
					title : '消息内容',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '消息时间',
					sortable: true
				},
				{
					field : 'receiveUserId', 
					title : '接收人id',
					sortable: true
				},
				{
					field : 'receiveUserName', 
					title : '接收人名称',
					sortable: true
				},
				{
					field : 'publishUserId', 
					title : '发布人id',
					sortable: true
				},
				{
					field : 'publishUserName', 
					title : '发布人名称',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.messageId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.messageId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>