<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产品需求')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productRequire-add">
            <h4 class="form-header h4">产品需求信息</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">所属订单：</label>
                <div class="col-sm-8">
<!--                    <input name="orderId" class="form-control" type="text" required>-->
                    <input  id="treeName" name="orderName" readonly="true" onclick="selectOrder(1)"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">数量：</label>
                <div class="col-sm-8">
                    <input name="amount" class="form-control digits" type="text" required >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">尺码：</label>
                <div class="col-sm-8">
                    <select name="size" class="form-control m-b" th:with="type=${@dict.getType('busi_size')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">颜色：</label>
                <div class="col-sm-8">
                    <select name="color" class="form-control m-b" th:with="type=${@dict.getType('busi_color')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">截止日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="endDate" class="form-control" readonly placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">物料需求信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "busi/productRequire"
        var unitDatas = [[${@dict.getType('busi_material_unit')}]];
        var colorDatas = [[${@dict.getType('busi_color')}]];
        var classifyDatas = [[${@dict.getType('busi_material_type')}]];
        $("#form-productRequire-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-productRequire-add').serialize());
            }
        }

        $("input[name='endDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            startDate: new Date(),
            autoclose: true
        });

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'amount',
                    align: 'center',
                    title: '数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='busiMaterialRequireList[%s].amount' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'unit',
                    align: 'center',
                    title: '单位',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("busiMaterialRequireList[%s].unit", index);
                        return $.common.dictToSelect(unitDatas, value, name);
                    }
                },
                {
                    field: 'color',
                    align: 'center',
                    title: '颜色',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("busiMaterialRequireList[%s].color", index);
                        return $.common.dictToSelect(colorDatas, value, name);
                    }
                },
                {
                    field: 'classify',
                    align: 'center',
                    title: '类型',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("busiMaterialRequireList[%s].classify", index);
                        return $.common.dictToSelect(classifyDatas, value, name);
                    }
                }]
            };
            $.table.init(options);
        });

        function addColumn() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            sub.editColumn();
        	
            $("#" + table.options.id).bootstrapTable('insertRow', {
                index: count,
                row: {
                    index: $.table.serialNumber(count),
                    amount: "",
                    unit: "",
                    color: "",
                    classify: ""
                }
            });
        }

        /*订单选择*/
        function selectOrder(status) {
            var options = {
                title: '选择订单',
                width: "380",
                height: "400",
                url: ctx + "busi/order/selectOrder/" + status,
                callBack: function(index, layero){
                    var body = $.modal.getChildFrame(index);
                    $("#treeId").val(body.find('#treeId').val());
                    $("#treeName").val(body.find('#treeName').val());
                    $.modal.close(index);
                }
            };
            $.modal.openOptions(options);
        }
    </script>
</body>
</html>