<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.content.mapper.ArticleQueryMapper">
    <resultMap id="PublishedArticlesMap"
               type="com.ruoyi.content.domain.PublishedArticleInfo">
        <result column="ARTICLE_ID" property="articleId" jdbcType="VARCHAR"/>
        <result column="ARTICLE_NAME" property="articleName" jdbcType="VARCHAR"/>
        <result column="PUSH_DATE" property="pushDate" jdbcType="VARCHAR"/>
        <result column="ARTICLE_AUTHOR" property="articleAuthor"
                jdbcType="VARCHAR"/>
        <result column="SPECIAL" property="special" jdbcType="VARCHAR"/>
        <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR"/>
        <result column="ARTICLE_STATE" property="articleState"
                jdbcType="VARCHAR"/>
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="ORIGINAL_URL" property="originalUrl" jdbcType="VARCHAR"/>
        <result column="SHARE_TITLE" property="shareTitle" jdbcType="VARCHAR"/>
        <result column="SHARE_DES" property="shareDes" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR"/>
        <result column="MODIFIED_EDIT_URL" property="modifiedEditUrl"
                jdbcType="VARCHAR"/>
        <result column="MODIFIED_VIEW_URL" property="modifiedViewUrl"
                jdbcType="VARCHAR"/>
        <result column="VISITOR_COUNT" property="visitorCount"
                jdbcType="VARCHAR"/>
        <result column="SHARE_COUNT" property="shareCount" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap"
               type="com.ruoyi.content.domain.ArticleInfo">
        <!-- WARNING - @mbggenerated This element is automatically generated by
            MyBatis Generator, do not modify. This element was generated on Fri May 25
            15:02:37 CST 2018. -->
        <id column="ARTICLE_ID" property="articleId" jdbcType="INTEGER"/>
        <result column="ARTICLE_NAME" property="articleName" jdbcType="VARCHAR"/>
        <result column="PUSH_DATE" property="pushDate" jdbcType="VARCHAR"/>
        <result column="ARTICLE_AUTHOR" property="articleAuthor"
                jdbcType="VARCHAR"/>
        <result column="ARTICLE_EDIT_URL" property="articleEditUrl"
                jdbcType="VARCHAR"/>
        <result column="ARTICLE_VIEW_URL" property="articleViewUrl"
                jdbcType="VARCHAR"/>
        <result column="LIST_PIC_URL" property="listPicUrl" jdbcType="VARCHAR"/>
        <result column="SPECIAL" property="special" jdbcType="VARCHAR"/>
        <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="VARCHAR"/>
        <result column="ORIGINAL_URL" property="originalUrl" jdbcType="VARCHAR"/>
        <result column="SHARE_IMG_URL" property="shareImgUrl" jdbcType="VARCHAR"/>
        <result column="SHARE_TITLE" property="shareTitle" jdbcType="VARCHAR"/>
        <result column="ARTICLE_STATE" property="articleState"
                jdbcType="VARCHAR"/>
        <result column="SHARE_DES" property="shareDes" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR"/>
        <result column="MODIFIED_EDIT_URL" property="modifiedEditUrl"
                jdbcType="VARCHAR"/>
        <result column="MODIFIED_VIEW_URL" property="modifiedViewUrl"
                jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="CompanyArticlesMap"
               type="com.ruoyi.content.domain.CompanyArticleInfo">
        <result column="PUBLISH_ID" property="publishId" jdbcType="VARCHAR"/>
        <result column="ARTICLE_ID" property="articleId" jdbcType="VARCHAR"/>
        <result column="ARTICLE_NAME" property="articleName" jdbcType="VARCHAR"/>
        <result column="LIST_PIC_URL" property="listPicUrl" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/>
        <result column="VISITOR_COUNT" property="visitorCount"
                jdbcType="VARCHAR"/>
        <result column="SHARED_COUNT" property="sharedCount" jdbcType="VARCHAR"/>
        <result column="PUBLISH_VIEW_URL" property="publishViewUrl"
                jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据文章主键集合查询文章对应的所有标签集合 -->
    <resultMap id="ArticleLabelRelDTOMap"
               type="com.ruoyi.content.domain.ArticleLabelRelDTO">
        <result column="ARTICLE_ID" property="articleId" jdbcType="INTEGER"/>
        <result column="LABEL_NAME" property="labelName" jdbcType="VARCHAR"/>
        <result column="LABEL_ID" property="labelId" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 查询文章列表 -->
    <sql id="countVisitorSQL">
		SELECT COUNT(ct.CLICK_USER_ID)
		FROM click_track_info ct
		WHERE ct.PUBLISH_USER_ID = ap.USER_ID AND ct.ARTICLE_ID =
		ap.ARTICLE_ID
	</sql>

    <sql id="countSharedSQL">
		SELECT COUNT(ct.CLICK_USER_ID)
		FROM click_track_info ct
		WHERE ct.PUBLISH_USER_ID = ap.USER_ID AND ct.ARTICLE_ID =
		ap.ARTICLE_ID AND
		ct.SHARE_STATE!='0'
	</sql>
    <sql id="pageVisitorSQL">
		SELECT COUNT(ct.CLICK_ID)
		FROM click_track_info ct
		WHERE
		ct.ARTICLE_ID = #{articleId,jdbcType=VARCHAR}
	</sql>

    <sql id="sharedSQL">
		SELECT COUNT(FORWARD_ID)
		FROM article_forward_track aft
		WHERE aft.ARTICLE_ID = #{articleId,jdbcType=VARCHAR}
	</sql>
    <resultMap id="PublishedDetailsMap"
               type="com.ruoyi.content.domain.ArticeClickInfo">
        <result column="CLICK_USER_NICKNAME" property="clickUserNickname"
                jdbcType="VARCHAR"/>
        <result column="CLICK_USER_HEADIMGURL" property="clickUserHeadimgurl"
                jdbcType="VARCHAR"/>
        <result column="SHARE_STATE" property="shareState" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="WATCH_TIME" property="watchTime" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询我的发布列表 -->
    <!-- <select id="queryAllPublishedArticles" resultMap="PublishedArticlesMap"
        parameterType="java.lang.String"> SELECT ap.PUBLISH_ID,ap.ARTICLE_ID,ai.ARTICLE_NAME,ai.LIST_PIC_URL,ap.CREATE_DATE
        , ( <include refid="countVisitorSQL" /> ) as VISITOR_COUNT, ( <include refid="countSharedSQL"
        /> ) as SHARED_COUNT FROM article_publish_track ap, article_info ai WHERE
        ap.USER_ID = #{userId,jdbcType=VARCHAR} AND ap.ARTICLE_ID = ai.ARTICLE_ID
        ORDER BY ap.CREATE_DATE,ap.CREATE_TIME </select> -->

    <!-- 查询单条文章浏览详情 -->
    <select id="queryPublishedById" resultMap="PublishedArticlesMap"
            parameterType="java.lang.String">
        SELECT
        ap.PUBLISH_ID,ap.ARTICLE_ID,ai.ARTICLE_NAME,ai.LIST_PIC_URL,ap.CREATE_DATE
        ,
        (
        <include refid="countVisitorSQL"/>
        ) as VISITOR_COUNT,
        (
        <include refid="countSharedSQL"/>
        ) as SHARED_COUNT
        FROM article_publish_track ap, article_info ai
        WHERE
        ap.USER_ID = #{userId,jdbcType=VARCHAR}
        AND ap.ARTICLE_ID =
        #{articleId,jdbcType=VARCHAR}
        AND ai.ARTICLE_ID =
        #{articleId,jdbcType=VARCHAR}
    </select>

    <!-- 查询浏览详情 -->
    <select id="queryPublishedDetails" resultMap="PublishedDetailsMap"
            parameterType="java.lang.String">
		SELECT
		ct.CLICK_USER_NICKNAME,ct.WATCH_TIME,ct.CREATE_DATE,ct.CREATE_TIME,ct.SHARE_STATE,
		CLICK_USER_HEADIMGURL
		FROM click_track_info ct
		WHERE ct.PUBLISH_USER_ID=
		#{userId,jdbcType=VARCHAR} AND ct.ARTICLE_ID
		=#{articleId,jdbcType=VARCHAR}
	</select>

    <!-- 根据连接查询文章是否存在 -->
    <select id="queryArticleByUrl" resultType="java.lang.Integer"
            parameterType="java.lang.String">
		SELECT COUNT(1) FROM article_info
		WHERE ORIGINAL_URL =
		#{originalUrl,jdbcType=VARCHAR}
	</select>

    <!-- 根据文章的url和创建人查该条数据 -->
    <select id="queryArticleInfoByCompanyId" resultMap="BaseResultMap"
            parameterType="java.lang.String">
		SELECT ARTICLE_ID, ARTICLE_NAME, PUSH_DATE,
		ARTICLE_AUTHOR, ARTICLE_EDIT_URL, ARTICLE_VIEW_URL,
		LIST_PIC_URL,
		SPECIAL, CHANNEL_ID, COMPANY_ID, ORIGINAL_URL, SHARE_IMG_URL,
		SHARE_TITLE,
		ARTICLE_STATE, SHARE_DES, CREATE_DATE, CREATE_TIME,
		CREATE_USER, UPDATE_DATE,
		UPDATE_TIME,
		MODIFIED_EDIT_URL,
		MODIFIED_VIEW_URL
		FROM article_info
		WHERE COMPANY_ID
		=
		#{companyId,jdbcType=VARCHAR} AND
		ORIGINAL_URL =
		#{originalUrl,jdbcType=VARCHAR}
	</select>

    <!-- 更新个人已经发布过的文章 -->
    <update id="updatePublishedArticle" parameterType="java.util.Map">
        UPDATE article_info ai,article_publish_track ap
        set ap.UPDATE_DATE =
        #{updateDate,jdbcType=VARCHAR},ap.UPDATE_TIME =
        #{updateTime,jdbcType=VARCHAR}
        <if test="companyId == null or companyId == ''">
            ,ai.ARTICLE_CONTENT =
            #{articleContent,jdbcType=LONGVARCHAR}
        </if>
        <if test="shareTitle != null and shareTitle != ''">
            ,ai.SHARE_TITLE = #{shareTitle,jdbcType=VARCHAR}
        </if>
        <if test="articleName != null and articleName != ''">
            ,ai.ARTICLE_NAME = #{articleName,jdbcType=VARCHAR}
        </if>
        <if test="adId != null and adId != ''">
            ,ap.AD_ID = #{adId,jdbcType=VARCHAR}
        </if>
        <if test="cardId != null and adId != ''">
            ,ap.CARD_ID = #{cardId,jdbcType=VARCHAR}
        </if>
        WHERE ai.ARTICLE_ID=ap.ARTICLE_ID AND ap.PUBLISH_ID =
        #{publishId,jdbcType=VARCHAR}
    </update>

    <select id="selectAllWithLimit"
            parameterType="com.ruoyi.content.domain.PublishedArticleInfo"
            resultMap="PublishedArticlesMap">
        SELECT
        ai.ARTICLE_ID,
        ai.ARTICLE_NAME,
        ai.PUSH_DATE,
        ai.ARTICLE_AUTHOR,
        ai.LIST_PIC_URL,
        ai.SPECIAL,
        ai.CHANNEL_ID,
        ai.COMPANY_ID,
        ai.ORIGINAL_URL,
        ai.SHARE_IMG_URL,
        ai.SHARE_TITLE,
        ai.ARTICLE_STATE,
        ai.SHARE_DES,
        ai.CREATE_DATE,
        ai.CREATE_TIME,
        ai.CREATE_USER,
        ai.UPDATE_DATE,
        ai.UPDATE_TIME,
        ai.MODIFIED_EDIT_URL,
        ai.MODIFIED_VIEW_URL
        <!-- , ( <include refid="pageVisitorSQL" /> ) AS VISITOR_COUNT, ( <include
            refid="sharedSQL" /> ) AS SHARE_COUNT -->
        FROM
        article_info ai WHERE 1=1
        <if test="articelName != null and articelName!=''">
            and ai.ARTICLE_NAME like CONCAT(CONCAT('%', #{articelName,
			jdbcType=VARCHAR}), '%')
        </if>
        <if test="articelAuthor != null and articelAuthor!=''">
            and ai.ARTICLE_AUTHOR like CONCAT(CONCAT('%',
            #{articelAuthor,
            jdbcType=VARCHAR}), '%')
        </if>
        <if test="special != null and special!=''">
            and ai.SPECIAL = #{special,jdbcType=VARCHAR}
        </if>
        <if test="channelId != null and channelId !=''">
            and ai.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
        </if>
        <if test="companyId != null and companyId !=''">
            and ai.COMPANY_ID = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="articleState != null">
            and ai.ARTICLE_STATE in
            <foreach collection="articleState" item="articleState" index="index"
                     open="(" close=")" separator=",">#{articleState}
            </foreach>
        </if>
        order by ai.CREATE_DATE DESC,ai.CREATE_TIME DESC, ai.UPDATE_DATE DESC,ai.UPDATE_TIME DESC
    </select>


    <select id="queryModifiedEditUrlByArticleId" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
		select ARTICLE_ID, ARTICLE_NAME, PUSH_DATE,
		ARTICLE_AUTHOR, ARTICLE_EDIT_URL,
		ARTICLE_VIEW_URL,
		LIST_PIC_URL,
		SPECIAL, CHANNEL_ID, COMPANY_ID, ORIGINAL_URL, SHARE_IMG_URL,
		SHARE_TITLE,
		ARTICLE_STATE, SHARE_DES, CREATE_DATE, CREATE_TIME,
		CREATE_USER, UPDATE_DATE,
		UPDATE_TIME,
		MODIFIED_EDIT_URL,
		MODIFIED_VIEW_URL from article_info where ARTICLE_ID =
		#{articleId,jdbcType=INTEGER}
	</select>

    <!-- 单条查询公司发布文章 -->
    <select id="queryCompanyArticleById" resultMap="CompanyArticlesMap">
        SELECT
        apt.PUBLISH_ID,apt.ARTICLE_ID,apt.PUBLISH_VIEW_URL,ai.ARTICLE_NAME,ai.LIST_PIC_URL,apt.CREATE_DATE
        ,
        (
        <include refid="pageVisitorSQL"/>
        ) as VISITOR_COUNT,
        (
        <include refid="sharedSQL"/>
        ) as SHARED_COUNT
        FROM article_publish_track apt, article_info ai
        WHERE
        apt.PUBLISH_ID =#{publishId,jdbcType=VARCHAR}
        AND ai.ARTICLE_ID =
        #{articleId,jdbcType=VARCHAR}
    </select>

    <!-- 根据文章主键集合查询文章对应的所有标签集合 -->
    <select id="findArticleLabelRelByArticleIds" resultMap="ArticleLabelRelDTOMap"
            parameterType="java.util.ArrayList">
        SELECT
        r.ARTICLE_ID,lab.label_id,lab.LABEL_NAME
        FROM
        article_label_relationship r
        INNER JOIN article_label lab ON
        lab.LABEL_ID = r.LABEL_ID
        WHERE
        r.ARTICLE_ID IN
        <foreach collection="articelId" item="id" index="index" open="("
                 close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <resultMap id="noSendResult" type="com.ruoyi.content.domain.ArticlePublishSend">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ARTICLE_ID" property="articleId" jdbcType="INTEGER"/>
        <result column="PUBLISH_ID" property="publishId" jdbcType="VARCHAR"/>
        <result column="SEND_TYPE" property="sendType" jdbcType="VARCHAR"/>
        <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR"/>
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
        <result column="OPERATE_ID" property="operateId" jdbcType="VARCHAR"/>
        <result column="OPERATE_NAME" property="operateName" jdbcType="VARCHAR"/>
        <result column="PUBLISH_DATE" property="publishDate" jdbcType="VARCHAR"/>
        <result column="PUBLISH_TIME" property="publishTime" jdbcType="VARCHAR"/>
        <result column="OPERATE_DATE" property="operateDate" jdbcType="VARCHAR"/>
        <result column="OPERATE_TIME" property="operateTime" jdbcType="VARCHAR"/>
        <result column="SEND_STATE" property="sendState" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="noSendPublishArticle" parameterType="map" resultMap="noSendResult">
        SELECT
        ID,
        ARTICLE_ID,
        PUBLISH_ID,
        SEND_TYPE,
        GROUP_ID,
        GROUP_NAME,
        OPERATE_ID,
        OPERATE_NAME,
        PUBLISH_DATE,
        PUBLISH_TIME,
        OPERATE_DATE,
        OPERATE_TIME,
        SEND_STATE
        FROM
        article_publish_send WHERE 1=1
        <if test="articleId != null and articleId !=''">
            and ARTICLE_ID = #{articleId,jdbcType=VARCHAR}
        </if>
        <if test="publishId != null and publishId !=''">
            and PUBLISH_ID = #{publishId,jdbcType=VARCHAR}
        </if>
        <if test="sendState != null and sendState !=''">
            and SEND_STATE = #{sendState,jdbcType=VARCHAR}
        </if>
        order by PUBLISH_DATE desc,PUBLISH_TIME desc
        limit
        #{startRow,jdbcType=DECIMAL},#{rows,jdbcType=DECIMAL}
    </select>


</mapper>