<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.content.mapper.CmsSysUserExMapper" >
  <resultMap id="BaseResultMap" type="com.ruoyi.content.domain.CmsSysUser" >
<id column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="SALT" property="salt" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="JOB_NUMBER" property="jobNumber" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="VARCHAR" />
    <result column="BRANCH_ID" property="branchId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="UPDATE_REMARK" property="updateRemark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 17 17:24:12 CST 2017.
    -->
      EMAIL, OPEN_ID, PWD, SALT, USER_ID, JOB_NUMBER, COMPANY_ID, BRANCH_ID, NAME, SEX, 
    PHONE, STATE, CREATE_USER, CREATE_DATE, CREATE_TIME, UPDATE_USER, UPDATE_DATE, UPDATE_TIME, 
    UPDATE_REMARK
  </sql>
 
  <!-- 分页查询 -->
  <select id="selectByPage" resultMap="BaseResultMap">
   	select
    <include refid="Base_Column_List" />
    from cms_sys_user
    where 1=1
    <if test="email != null and email !=''" >
       	and EMAIL like CONCAT(CONCAT('%', #{email, jdbcType=VARCHAR}), '%')
    </if>
	<if test="phone != null and phone !=''" >
       	and PHONE like CONCAT(CONCAT('%', #{phone, jdbcType=VARCHAR}), '%')
     </if>
     <if test="name != null and name !=''" >
       	and NAME like CONCAT(CONCAT('%', #{name,jdbcType=VARCHAR}), '%')
     </if>
     <if test="companyId != null and companyId !=''" >
       	and COMPANY_ID = #{companyId,jdbcType=VARCHAR} 
     </if>
    order by CREATE_DATE desc ,CREATE_TIME desc,UPDATE_DATE desc
	limit #{startRow,jdbcType=DECIMAL},#{rows,jdbcType=DECIMAL}
  </select>
  
  <select id="queryLoginInfoByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
   	select
    <include refid="Base_Column_List" />
    from cms_sys_user
    where 
    EMAIL = #{email, jdbcType=VARCHAR}
    
  </select>
  
  
</mapper>