<ul th:fragment="right_float" class="xfList">
    <li>
        <div class="div">
            <dl><dt class="icont"><a href="" target="_blank">返回<br>平台</a></dt></dl>
        </div>
    </li>
    <li class="">
        <div class="div">
            <dl><dt class="icon"><img class="blImg" th:src="@{/images/icon2.png}"></dt></dl>
        </div>
        <div class="telDiv"><i class="icons"><img th:src="@{/images/icon2.png}"></i>
            <div class="divs">
                <div class="telSmldiv">021-63212255</div>
            </div>
        </div>
    </li>
    <li>
        <a href="" target="_blank">
            <div class="div">
                <dl><dt class="icon"><img th:src="@{/images/icon3.png}" alt=""></dt></dl>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript: initScrollToTop();">
            <div class="div">
                <dl><dt class="icon"><img class="blImg" th:src="@{/images/icon4.png}"></dt></dl>
            </div>
        </a>
    </li>
</ul>