<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增企业入驻申请')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-busDeptApply-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请类型（企业注册/企业迁址）：</label>
				<div class="col-sm-8">
					<input id="applyType" name="applyType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业名称：</label>
				<div class="col-sm-8">
					<input id="deptName" name="deptName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">行业：</label>
				<div class="col-sm-8">
					<input id="business" name="business" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业经营范围：</label>
				<div class="col-sm-8">
					<input id="deptScope" name="deptScope" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业类型：</label>
				<div class="col-sm-8">
					<input id="deptType" name="deptType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业链接：</label>
				<div class="col-sm-8">
					<input id="deptAddress" name="deptAddress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业联系电话：</label>
				<div class="col-sm-8">
					<input id="deptPhone" name="deptPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">法人信息(姓名、性别、政治面貌、固定电话、手机号码等)：</label>
				<div class="col-sm-8">
					<input id="legalConfig" name="legalConfig" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">企业工作人员信息列表（姓名、性别、手机号码、车牌号等）：</label>
				<div class="col-sm-8">
					<input id="deptUsers" name="deptUsers" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工商注册号：</label>
				<div class="col-sm-8">
					<input id="regCode" name="regCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">统一社会信用代码：</label>
				<div class="col-sm-8">
					<input id="creditCode" name="creditCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组织机构代码：</label>
				<div class="col-sm-8">
					<input id="orgCode" name="orgCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">纳税人识别号：</label>
				<div class="col-sm-8">
					<input id="taxpayerCode" name="taxpayerCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">纳税人资质：</label>
				<div class="col-sm-8">
					<input id="taxpayerQua" name="taxpayerQua" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核状态（00待审核/01已通过/99未通过）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核人id：</label>
				<div class="col-sm-8">
					<input id="auditUserId" name="auditUserId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核人名称：</label>
				<div class="col-sm-8">
					<input id="auditUserName" name="auditUserName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核时间：</label>
				<div class="col-sm-8">
					<input id="auditTime" name="auditTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核意见：</label>
				<div class="col-sm-8">
					<input id="auditRemark" name="auditRemark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/busDeptApply"
		$("#form-busDeptApply-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-busDeptApply-add').serialize());
	        }
	    }
	</script>
</body>
</html>
