root = true

[*.java]
charset = utf-8
#缩进使用 tab 或者 space
indent_style = space
#缩进为 space 时，缩进的字符数
indent_size = 4
#缩进为 tab 时，缩进的宽度
#tab_width = 2
#换行符的类型。lf, cr, crlf三种
end_of_line = crlf
ij_java_block_brace_style = next_line
ij_java_class_brace_style = next_line
ij_java_method_brace_style = next_line
