<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('地区资料列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="regionalName"/>
                            </li>
                            <li>
                                <label>上级区域：</label>
                                <input type="text" name="parentId"/>
                            </li>
                            <li>
                                <label>祖级列表：</label>
                                <input type="text" name="ancestors"/>
                            </li>
                            <li>
                                <label>资料状态：</label>
                                <select name="status" th:with="type=${@dict.getType('platf_doc_statu')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="platform:regional:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="platform:regional:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('platform:regional:add')}]];
        var editFlag = [[${@permission.hasPermi('platform:regional:edit')}]];
        var removeFlag = [[${@permission.hasPermi('platform:regional:remove')}]];
        var statusDatas = [[${@dict.getType('platf_doc_statu')}]];
        var prefix = ctx + "platform/regional";

        $(function() {
            var options = {
                code: "regionalId",
                parentCode: "parentId",
                expandColumn: "1",
                uniqueId: "regionalId",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "地区资料",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'regionalName',
                    title: '名称',
                    align: 'left'
                },
                {
                    field: 'parentId',
                    title: '上级区域',
                    align: 'left'
                },
                {
                    field: 'ancestors',
                    title: '祖级列表',
                    align: 'left'
                },
                {
                    field: 'docNum',
                    title: '单据号',
                    align: 'left'
                },
                {
                    field: 'status',
                    title: '资料状态',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'left'
                },
                {
                    field: 'createByuserName',
                    title: '制单人',
                    align: 'left'
                },
                {
                    field: 'createBy',
                    title: '制单人ID',
                    align: 'left'
                },
                {
                    field: 'createTime',
                    title: '制单时间',
                    align: 'left'
                },
                {
                    field: 'updateByuserName',
                    title: '修改人',
                    align: 'left'
                },
                {
                    field: 'updateBy',
                    title: '修改人ID',
                    align: 'left'
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    align: 'left'
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.regionalId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.regionalId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.regionalId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });
    </script>
</body>
</html>