<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiSubTaskMapper">
    
    <resultMap type="BusiSubTask" id="BusiSubTaskResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="productRequireId"    column="product_require_id"    />
        <result property="targetAmount"    column="target_amount"    />
        <result property="completedAmount"    column="completed_amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBusiSubTaskVo">
        select id, task_id, product_require_id, target_amount, completed_amount, create_by, create_time, status from busi_sub_task
    </sql>

    <select id="selectBusiSubTaskList" parameterType="BusiSubTask" resultMap="BusiSubTaskResult">
        <include refid="selectBusiSubTaskVo"/>
        <where>  
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="productRequireId != null  and productRequireId != ''"> and product_require_id = #{productRequireId}</if>
            <if test="targetAmount != null "> and target_amount = #{targetAmount}</if>
            <if test="completedAmount != null "> and completed_amount = #{completedAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusiSubTaskById" parameterType="String" resultMap="BusiSubTaskResult">
        <include refid="selectBusiSubTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiSubTask" parameterType="BusiSubTask" useGeneratedKeys="true" keyProperty="id">
        insert into busi_sub_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null and taskId != ''">task_id,</if>
            <if test="productRequireId != null and productRequireId != ''">product_require_id,</if>
            <if test="targetAmount != null">target_amount,</if>
            <if test="completedAmount != null">completed_amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null and taskId != ''">#{taskId},</if>
            <if test="productRequireId != null and productRequireId != ''">#{productRequireId},</if>
            <if test="targetAmount != null">#{targetAmount},</if>
            <if test="completedAmount != null">#{completedAmount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateBusiSubTask" parameterType="BusiSubTask">
        update busi_sub_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null and taskId != ''">task_id = #{taskId},</if>
            <if test="productRequireId != null and productRequireId != ''">product_require_id = #{productRequireId},</if>
            <if test="targetAmount != null">target_amount = #{targetAmount},</if>
            <if test="completedAmount != null">completed_amount = #{completedAmount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiSubTaskById" parameterType="String">
        delete from busi_sub_task where id = #{id}
    </delete>

    <delete id="deleteBusiSubTaskByIds" parameterType="String">
        delete from busi_sub_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>