<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiProductOperateMapper">
    
    <resultMap type="BusiProductOperate" id="BusiProductOperateResult">
        <result property="id"    column="id"    />
        <result property="productStockId"    column="product_stock_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="amount"    column="amount"    />
        <result property="productValue"    column="product_value"    />
        <result property="amountPerPackage"    column="amount_per_package"    />
        <result property="oprateType"    column="oprate_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusiProductOperateVo">
        select id, product_stock_id, task_id, amount, product_value, amount_per_package, oprate_type, create_by, create_time, remark from busi_product_operate
    </sql>

    <select id="selectBusiProductOperateList" parameterType="BusiProductOperate" resultMap="BusiProductOperateResult">
        <include refid="selectBusiProductOperateVo"/>
        <where>  
            <if test="productStockId != null  and productStockId != ''"> and product_stock_id = #{productStockId}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="oprateType != null  and oprateType != ''"> and oprate_type = #{oprateType}</if>
        </where>
    </select>
    
    <select id="selectBusiProductOperateById" parameterType="String" resultMap="BusiProductOperateResult">
        <include refid="selectBusiProductOperateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiProductOperate" parameterType="BusiProductOperate" useGeneratedKeys="true" keyProperty="id">
        insert into busi_product_operate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productStockId != null and productStockId != ''">product_stock_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="amount != null">amount,</if>
            <if test="productValue != null">product_value,</if>
            <if test="amountPerPackage != null">amount_per_package,</if>
            <if test="oprateType != null and oprateType != ''">oprate_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productStockId != null and productStockId != ''">#{productStockId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="productValue != null">#{productValue},</if>
            <if test="amountPerPackage != null">#{amountPerPackage},</if>
            <if test="oprateType != null and oprateType != ''">#{oprateType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusiProductOperate" parameterType="BusiProductOperate">
        update busi_product_operate
        <trim prefix="SET" suffixOverrides=",">
            <if test="productStockId != null and productStockId != ''">product_stock_id = #{productStockId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="productValue != null">product_value = #{productValue},</if>
            <if test="amountPerPackage != null">amount_per_package = #{amountPerPackage},</if>
            <if test="oprateType != null and oprateType != ''">oprate_type = #{oprateType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiProductOperateById" parameterType="String">
        delete from busi_product_operate where id = #{id}
    </delete>

    <delete id="deleteBusiProductOperateByIds" parameterType="String">
        delete from busi_product_operate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selProductSizeByLineId" parameterType="String" resultType="java.util.Map">
        SELECT bpr.size from busi_sub_task bst
             left JOIN busi_product_require bpr on bst.product_require_id = bpr.id
             left JOIN busi_task bt on bt.id = bst.task_id
         WHERE bt.prison_line_id = #{lineId} and bt.`status`=1
    </select>

    <select id="selProductColorByLineIdAndSize" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT bpr.color,bpr.amount,bst.completed_amount completedAmount,bst.target_amount targetAmount,bt.order_id orderId,bst.id subTaskId,bst.task_id taskId from busi_sub_task bst
              left JOIN busi_product_require bpr on bst.product_require_id = bpr.id
              left JOIN busi_task bt on bt.id = bst.task_id
         WHERE bt.prison_line_id = #{lineId} and bt.`status`=1 and bpr.size = #{size}
    </select>


</mapper>