<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('成品出库')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productOperate-add">
            <input type="hidden" name="oprateType" th:value="${operType}" />
            <input id="productStockId" type="hidden" name="productStockId"/>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">订单：</label>
                <div class="col-sm-8">
                    <input id="treeId" name="orderId"   type="text" style="display: none;">
                    <input class="form-control" id="treeName" name="orderName"  type="text" onclick="selectOrder()" readonly="true"  required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label" title="出库产品选择源于库存，若无对应的选项，请先进行入库操作">产品选择：<i class="fa fa-question-circle-o"></i></label>
                <div class="col-sm-4">
                    <select id="size" name="size" class="form-control required" >
                    </select>
                </div>
                <div class="col-sm-4">
                    <select id="color" name="color" class="form-control required" >
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">出库数量：</label>
                <div class="col-sm-8">
                    <input name="amount" class="form-control digits" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "busi/productOperate"
        var sizeDatas = [[${@dict.getType('busi_size')}]];
        var colorDatas = [[${@dict.getType('busi_color')}]];
        $("#form-productOperate-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-productOperate-add').serialize());
            }
        }

        $("#size").change(function(){
            var orderId = $("#treeId").val();
            var size = $("#size").val();
            queryColorList(orderId, size);
        })

        $("#color").change(function(){
            var productStockId = $("#color :selected").attr("productStockId");
            $("#productStockId").val(productStockId);
        })

        /*订单选择*/
        function selectOrder() {
            var options = {
                title: '选择订单',
                width: "380",
                height: "400",
                url: ctx + "busi/order/selectOrder/" ,
                callBack: function(index, layero){
                    var body = $.modal.getChildFrame(index);
                    $("#treeId").val(body.find('#treeId').val());
                    $("#treeName").val(body.find('#treeName').val());
                    $.modal.close(index);
                    querySizeList(body.find('#treeId').val());
                }
            };
            $.modal.openOptions(options);
        }

        /*库存尺码查询*/
        function querySizeList(orderId) {
            var url = prefix + "/selProductSizeByOrderId?orderId=" + orderId;
            $.operate.ajaxPost(url, {}, function (result) {
                var data = result.data;
                $("#color").empty();
                $("#size").empty().append("<option  value=''>请选择尺码</option>");
                for (var i = 0; i < data.length; i++) {
                    var val = data[i].size;
                    var text = $.table.getDictText(sizeDatas, val);
                    $("#size").append("<option value='" + val + "'>" + text + "</option>");
                }
            })
        }

        /*库存颜色查询*/
        function queryColorList(orderId, size) {
            var url = prefix + "/selProductColorByOrderIdAndSize";
            $.operate.ajaxPost(url, {
                orderId:orderId,
                size:size
            }, function (result) {
                var data = result.data;
                $("#color").empty().append("<option  value=''>请选择颜色</option>");
                for (var i = 0; i < data.length; i++) {
                    var val = data[i].color;
                    var text = $.table.getDictText(colorDatas, val);
                    var productStockId = data[i].productStockId;
                    var ss = "<option productStockId='%s' value='%s'>%s</option>";
                    var option = $.common.sprintf(ss, productStockId, val, text);
                    $("#color").append(option);
                }
            })
        }
    </script>
</body>
</html>