.myPrize{
	/* opacity:0;
	height:0; */
}
.myPrize .cont{
	height:280px;
}
.myPrize .cont>div{
	width:100%;
	height:auto;
	box-sizing: border-box;
}
.myPrize .cont>div:first-child{
	height:30px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:-3px;
}
.myPrize .cont>div:first-child>img{
	width:35px;
	height:auto;
	object-fit: contain;
	display:inline-block;
}
.myPrize .cont>div:first-child>div{
	margin:0 10px;
	font-size:24px;
	color:#ffe2ab;
	letter-spacing: 1px;
	/* font-weight:bold; */
}
.myPrize .popList,.postListTop{
	width:100%;
	height:auto;
	display:flex;
	flex-direction: column;
	padding:0 7px;
	font-size:12px;
	background: #f43c24;
}
.myPrize .popList{
	flex-basis:100%;
	overflow-y: scroll;
}
.postListTop{
	z-index: 800;
}
.popList{
	z-index: 700;
}
.myPrize .popList>div,.myPrize .postListTop>div{
	width:100%;
	height:38px;
	min-height:38px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:10px 12px 0px;
	box-sizing: border-box;
	border-bottom:1px dashed #f2afa7;
	color:#ffe2ab;
	background: #f43c24;
}
.myPrize .postListTop>div>div:last-child,.popList>div>div:last-child{
	min-width:95px;
	text-align: right;
}
.myPrize .postListTop>div:first-child{
	border-bottom:1px solid #fff;
	color:#fff;
}
.myPrize .postListTop>div:first-child>div:last-child{
	text-align: center;
}
