<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.province.platform.mapper.EconTypeMapper">
    
    <resultMap type="EconType" id="EconTypeResult">
        <result property="econId"    column="econ_id"    />
        <result property="econName"    column="econ_name"    />
        <result property="docNum"    column="doc_num"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createByuserName"    column="createByuserName"    />
        <result property="updateByuserName"    column="updateByuserName"    />
    </resultMap>

    <sql id="selectEconTypeVo">
          select t.econ_id, t.econ_name, t.doc_num, t.status, t.remark, t.del_flag, t.create_by, t.create_time, t.update_by, t.update_time,
            a1.user_name as createByuserName,            a2.user_name as updateByuserName            from platf_econ_type t
            left join sys_user a1 on t.create_by=a1.login_name
            left join sys_user a2 on t.update_by=a2.login_name
    </sql>

    <select id="selectEconTypeList" parameterType="EconType" resultMap="EconTypeResult">
        <include refid="selectEconTypeVo"/>
        <where>  
            <if test="econName != null  and econName != ''"> and t.econ_name like concat('%', #{econName}, '%')</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectEconTypeById" parameterType="Long" resultMap="EconTypeResult">
        <include refid="selectEconTypeVo"/>
        where t.econ_id = #{econId}
    </select>

    <select id="checkEconTypeUnique" parameterType="String" resultMap="EconTypeResult">
        <include refid="selectEconTypeVo"/>
        where t.econ_name=#{EconName} limit 1
    </select>

    <insert id="insertEconType" parameterType="EconType" useGeneratedKeys="true" keyProperty="econId">
        insert into platf_econ_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="econName != null and econName != ''">econ_name,</if>
            <if test="docNum != null">doc_num,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="econName != null and econName != ''">#{econName},</if>
            <if test="docNum != null">#{docNum},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEconType" parameterType="EconType">
        update platf_econ_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="econName != null and econName != ''">econ_name = #{econName},</if>
            <if test="docNum != null">doc_num = #{docNum},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where econ_id = #{econId}
    </update>

    <delete id="deleteEconTypeById" parameterType="Long">
        delete from platf_econ_type where econ_id = #{econId}
    </delete>

    <delete id="deleteEconTypeByIds" parameterType="String">
        delete from platf_econ_type where econ_id in 
        <foreach item="econId" collection="array" open="(" separator="," close=")">
            #{econId}
        </foreach>
    </delete>

</mapper>