<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html ;charset=utf-8" />
<head>
    <th:block th:include="include :: header('日期和时间')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <div class="container text-left">
        <div class="row">
            <div class="col-xs-3">
                <img src="../static/img/silergy.jpg" th:src="@{/img/silergy.jpg}">
            </div>
            <div class="col-xs-7">
                <h2 class="my-h2">
                    矽力杰半导体技术（杭州）有限公司
                </h2>
                <h2 class="my-h3">请购单</h2>
            </div>
        </div>
    </div>

    <form action="none" id="form-nonSaleRequisitionAdd-add">
        <table class="my-table1" boder="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="6" style="width: 75%">

                </td>
                <td class="text-center" style="width: 10%">
                    申购单号 NO：
                </td>
                <td style="width: 15%">
                    <input type="text" th:field="*{requisition.requisitionNo}"  class="form-control " disabled="true">
                    <input type="hidden" id="is-close" th:value="${isClose}">
                    <input type="hidden" id="requisitionId" th:value="${requisition.id}">
                </td>
            </tr>
        </table>
        <div id="for-boder">
        <table class="my-table">
            <tbody style="text-align:right;">
            <!--////////////////            表头-->

            <tr>
                <td class="text-center" style="width: 10%;">选择公司</td>
                <td style="width: 15%;">

                    <select class="form-control change-h2" id="company" name="company" disabled="true"
                            th:with="type=${@dict.getType('company')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:selected="${dict.dictValue } == ${requisition.company}">
                    </select>
                </td>
                <td class="text-center" style="width: 10%;">员工编号<br></td>
                <td style="width: 15%;"><input id="employeeNo" name="employeeNo" class="form-control employeeNo" type="text" th:field="*{requisition.employeeNo}" readonly="true"></td>
                <td class="text-center" style="width: 10%;">员工姓名</td>
                <td style="width: 15%;"><input id="userName" name="userName" class="form-control" th:field="*{requisition.userName}" type="text" readonly="true"></td>
                <td class="text-center" style="width: 10%;">部门</td>
                <td style="width: 15%;"><input name="userDepartment" onclick="selectDeptTree()" id="treeName" class="form-control" th:field="*{requisition.userDepartment}" type="text" maxlength="200" readonly="true"></td>
            </tr>
            <tr>
                <td class="text-center">申请类别</td>
                <td>
                    <select class="form-control select-change" name="typeOfApplication" disabled="true">
                        <option value="">请选择</option>
                        <option th:selected="${requisition.typeOfApplication == 1}" value="1">非销售性请购</option>
                        <option th:selected="${requisition.typeOfApplication == 2}" value="2">固定资产</option>
                    </select>
                </td>
                <td class="text-center">所属类别</td>
                <td>
                    <select class="form-control" name="category" id="category" disabled="true">
                        <option th:selected="${requisition.category == 1}" value="1">预算内</option>
                        <option th:selected="${requisition.category == 2}" value="2">预算外</option>
                        <option th:selected="${requisition.category == 3}" value="3">新产品开发</option>
                        <option th:selected="${requisition.category == 4}" value="4">其他</option>
                    </select>
                </td>
                <td class="text-center">
                    资产管理类别
                </td>
                <td>
                    <select class="form-control" name="assetManagement" id="assetManagement" disabled="true">
                        <option value="">请选择</option>
                        <option th:selected="${requisition.assetManagement == 1}" value="1">测试设备类</option>
                        <option th:selected="${requisition.assetManagement == 2}" value="2">IT桌面类</option>
                        <option th:selected="${requisition.assetManagement == 3}" value="3">办公家具类</option>
                        <option th:selected="${requisition.assetManagement == 4}" value="4">实验室桌椅</option>
                        <option th:selected="${requisition.assetManagement == 6}" value="6">元器件</option>
                        <option th:selected="${requisition.assetManagement == 7}" value="7">办公家具</option>
                        <option th:selected="${requisition.assetManagement == 5}" value="5">无</option>
                        <option th:selected="${requisition.assetManagement == 8}" value="8">办公用品类</option>
                        <option th:selected="${requisition.assetManagement == 9}" value="9">工程维修改造</option>
                        <option th:selected="${requisition.assetManagement == 10}" value="10">工程维修改造</option>
                        <option th:selected="${requisition.assetManagement == 11}" value="11">无</option>
                        <option th:selected="${requisition.assetManagement == 12}" value="12">个人电脑</option>
                    </select>
                </td>
                <td class="text-center">
                    办公室
                </td>
                <td>
                    <input type="text" class="form-control office" th:field="*{requisition.office}" name="office" disabled="true">
                </td>
            </tr>
            <tr>
                <td class="text-center" style="width: 10%;">需求日期</td>
                <td style="width: 15%;">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="userDate" class="form-control" disabled="true"
                               th:value="${#dates.format(requisition.userDate, 'yyyy-MM-dd')}" placeholder="yyyy-mm-dd">
                    </div>
                </td>
                <td class="text-center">
                    地区部门编号
                </td>
                <td>
                    <input class="form-control departmentCode" id="departmentCode" th:field="*{requisition.departmentCode}" name="departmentCode" disabled="true">
                </td>
                <td class="text-center">
                    是否新员工入职
                </td>
                <td>
                    <select class="form-control" name="newStaff" disabled="true">
                        <option th:selected="${requisition.newStaff == null}" value=""></option>
                        <option th:selected="${requisition.newStaff == 1}" value="1">是新员工入职</option>
                        <option th:selected="${requisition.newStaff == 2}" value="2">不是新员工入职</option>
                    </select>
                </td>
                <td class="text-center">
                    新员工入职hr
                </td>
                <td>
                    <input type="text" name="hrSign" th:field="*{requisition.hrSign}" class="form-control hrSign" disabled="true">
                </td>
            </tr>
            <tr id="element">
                <td class="text-center">
                    产品线类别
                </td>
                <td class="text-center">
                   
                    <select  class="type form-control select-change-product-line" id="productLine" name="productLine" disabled="true">
                        <option value="">请选择</option>
                        <option th:value="${requisition.productLine}" th:text="${requisition.productLine}" selected="true"></option>
                    </select>
                </td>
                <td class="text-center">
                    产品线详细
                </td>
                <td class="text-center">
                    <select class="router form-control" id="productLine1" name="productLine1" disabled="true">
                        <option value="">请选择</option>
                        <option th:value="${requisition.productLine1}" th:text="${requisition.productLine1}" selected="true"></option>
                    </select>
                </td>
                <td colspan="2">
                    <input th:field="*{requisition.productLineOther}" class="form-control productLineOther" id="productLineOther" name="productLineOther" disabled="true">
                </td>
                <td class="text-center">
                    预算申购单编号 NO：
                </td>
                <td>
                    <input type="text" name="purchaseCode" th:field="*{requisition.purchaseCode}"  class="form-control purchaseCode" disabled="true">
                </td>
            </tr>
            <tr>
                <td class="text-center" style="width: 10%;">
                    请购原因
                </td>
                <td colspan="7">
                    <textarea type="text" autoHeight="true" th:field="*{requisition.reasonForPurchase}" name="reasonForPurchase" class="form-control" placeholder="请输入200字以内" readonly="true"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-center">是否须比议价<br></td>
                <td>
                    <select class="form-control select-change" name="priceComparison" disabled="true">
                        <option value="">请选择</option>
                        <option th:selected="${requisition.priceComparison == 1}" value="1">是</option>
                        <option th:selected="${requisition.priceComparison == 2}" value="2">否</option>
                    </select>
                </td>
                <td class="text-center">
                    特殊原因说明
                </td>
                <td colspan="5">
                    <textarea type="text" th:if="${requisition.priceComparison == 2}" id="specialReason" th:field="*{requisition.specialReason}" name="specialReason" class="form-control" readonly="true"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="border" style="height: 40px;padding-top: 10px">
            <div class="col-md-4">
                <strong>购买产品说明</strong>
            </div>
        </div>
        <table class="my-table operate-table1" th:if="${not #lists.isEmpty(requisition.requisitionDt1List)}">
            <thead>
            <tr>
                <td class="text-center" style="width: 10%">
                    项目编号
                </td>
                <td class="text-center" style="width: 25%">
                    购买产品名称
                </td>
                <td class="text-center" style="width: 34%">
                    规格说明
                </td>
                <td class="text-center" style="width: 8%">
                    购买数量
                </td>
                <td class="text-center" style="width: 10%">
                    单价
                </td>
                <td class="text-center" style="width: 13%">
                    金额
                </td>
            </tr>
            </thead>
            <tbody style="text-align:right;">

            <tr id="addColumn1" class="material1 text-center" th:each="requisitionDt1:${requisition.requisitionDt1List}">
                <td><span type="text" name="projectCode" th:text="${requisitionDt1.projectCode}" readonly></span></td>
                <td><span id="projectName"  type="text" th:text="${requisitionDt1.projectName}" readonly="true"></span></td>
                <td><textarea class="form-control text-center" autoHeight="true"  type="text" id="specifications" th:text="${requisitionDt1.specifications}" readonly="true"></textarea></td>
                <td><input class="form-control text-center" type="text" onkeyup='checkInt(this)' id="quantity" th:value="${requisitionDt1.quantity}" readonly="true" /></td>
                <td><input class="form-control text-center amount"  type="text" id="unitPrice" th:value="${requisitionDt1.unitPrice}" readonly="true" /></td>
                <td><input class="form-control text-center amount"  type="text" id="amount" th:value="${requisitionDt1.amount}" readonly="true" /></td>
            </tr>
            </tbody>
            <tr>
                <td class="text-right" colspan="5">
                    <b>合计金额：</b>
                </td>
                <td>
                    <input id="sum" class="form-control text-center amount" th:value="${requisition.totalAmount}" name="sum" readonly>
                </td>
            </tr>
        </table>
        <table class="my-table operate-table2" th:if="${not #lists.isEmpty(requisition.requisitionDt2List)}">
            <div class="border" style="height: 40px;padding-top: 10px">
                <div class="col-md-4">
                    <strong>厂商比议价说明</strong>
                </div>
            </div>
            <thead>
            <tr>
                <td class="text-center" style="width: 2%">
                    选中
                </td>
                <td class="text-center" style="width: 4%">
                    供应商编号
                </td>
                <td class="text-center" style="width: 10%">
                    供应商名称
                </td>
                <td class="text-center" style="width: 4%">
                    交易币别
                </td>
                <td class="text-center" style="width: 5%">
                    未税金额
                </td>
                <td class="text-center" style="width: 4%">
                    税率
                </td>
                <td class="text-center" style="width: 5%">
                    含税金额
                </td>
                <td class="text-center" style="width: 10%">
                    备注
                </td>
            </tr>
            </thead>
            <tbody style="text-align:right;">

            <tr id="addColumn2" class="material2" th:each="requisitionDt2:${requisition.requisitionDt2List}">
                <td class="text-center">
                    <input th:if="${not #strings.isEmpty(requisitionDt2.suppliers)}" class="checkbox" style="text-align: center" value="1" type="checkbox" checked disabled="true"/>
                    <input th:if="${#strings.isEmpty(requisitionDt2.suppliers)}" class="checkbox" style="text-align: center" value="1" type="checkbox" disabled="true"/>
                </td>
                <td>
                    <input class="form-control text-center" th:value="${requisitionDt2.suppliersCode}" id="suppliersCode"  type="text" disabled="true">
                </td>
                <td>
                    <input class="form-control text-center" th:value="${requisitionDt2.suppliersName}" id="suppliersName"  type="text" disabled="true">
                </td>
                <td>
                    <select class="form-control text-center" name="coin" th:with="type=${@dict.getType('coin')}" disabled="true">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:selected="${dict.dictValue } == ${requisitionDt2.coin}">
                    </select>
                </td>
                <td>
                    <input class="form-control amount text-center" th:value="${requisitionDt2.untaxedUnitPrice}"
                           id="untaxedUnitPrice"  type="text" disabled="true"></td>
                <td>
                    <select class="form-control text-center tax-rate-change" name="taxRate" disabled="true"
                            th:with="type=${@dict.getType('tax_rate')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:selected="${dict.dictValue } == ${requisitionDt2.taxRate}">
                    </select>
                </td>
                <td><input class="form-control amount text-center" th:value="${requisitionDt2.totalAmount}" id="totalAmount"  type="text" disabled="true"></td>
                <td><textarea class="form-control text-center" autoHeight="true"  id="remark" th:text="${requisitionDt2.remark}" type="text" disabled="true"></textarea></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${not #lists.isEmpty(lists)}" class="row" style="height: 34px;padding-left: 2%;padding-top: 7px">
            <div class="col-md-4">
                <strong>审批进度</strong>
            </div>
            <div class="col-md-8 text-right" th:if="${not #strings.isEmpty(requisition.closeFile)}">
                <a class="btn btn-primary btn-xs" th:onclick="downloadFaReport([[${requisition.closeFile}]], [[${requisition.closeFileName}]])">
                    线下签核截图下载
                </a>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(lists)}" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 1%;">
                [[${requisition.progressRate}]]%
            </div>
        </div>
        <table th:if="${not #lists.isEmpty(lists)}" class="my-table">
            <thead>
            <tr style="height: 34px">
                <td class="text-center" style="width: 4%">
                    角色:
                </td>
                <td class="text-center" style="width: 4%">
                    处理人:
                </td>
                <td class="text-center" style="width: 4%">
                    处理结果:
                </td>
                <td class="text-center" style="width: 23%">
                    备注:
                </td>
                <td class="text-center" style="width: 4%">
                    加签人员:
                </td>
                <td class="text-center" style="width: 6.5%">
                    处理时间:
                </td>
            </tr>
            </thead>
            <tr th:each="processFlow:${lists}">
                <td class="text-center">
                    <p th:switch="${processFlow.status}" class="text-center">
                        <span th:case="'1'">创建者</span>
                        <span th:case="'2'">主管</span>
                        <span th:case="'23'">经理</span>
                        <span th:case="'24'">总监</span>
                        <span th:case="'25'">执行总监</span>
                        <span th:case="'13'">资产管理员</span>
                        <span th:case="'20'">采购代表</span>
                        <span th:case="'16'">新员工入职HR</span>
                        <span th:case="'19'">HR审核</span>
                        <span th:case="'14'">预算管理员</span>
                        <span th:case="'27'">财务预算经理</span>
                        <span th:case="'3'">总账</span>
                        <span th:case="'11'">财务经理</span>
                        <span th:case="'4'">总经理</span>
                        <span th:case="'18'">前加签</span>
                        <span th:case="'26'">后加签</span>
                    </p>
                </td>
                <td>
                    <input th:value="${processFlow.createBy}" class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td class="text-center">
                    <p class="text-center" th:switch="${processFlow.auditResult}">
                        <span class="text-center title_content" th:case="'0'">用户提交</span>
                        <span class="text-center title_content" th:case="'1'">同意</span>
                        <span class="text-center title_content" th:case="'2'">否决</span>
                        <span class="text-center title_content" th:case="'3'">退回重送</span>
                        <span class="text-center title_content" th:case="'4'">保留</span>
                        <span class="text-center title_content" th:case="'5'">加签</span>
                    </p>
                </td>
                <td>
                    <div th:if="${processFlow.createByCode != 'S00001' || isClose != '1'}">
                        <textarea type="text" autoHeight="true" th:text="${processFlow.remark}" class="form-control text-center show-dateil" readonly="true" style="overflow:hidden"> </textarea>
                    </div>
                    <div class="form-control text-center" style="height: 46px;"
                         th:if="${processFlow.createByCode == 'S00001' && isClose == '1'}">
                        <a class="btn btn-primary btn-xs" style="margin-top: 1.5%" onclick="addFile()">
                            上传线下签核截图
                        </a>
                    </div>
                </td>
                <td>
                    <input th:if="${not #strings.isEmpty(processFlow.endorsementName)}"
                           th:value="${processFlow.endorsementName}" class="form-control text-center" type="text" disabled="true"/>
                    <input th:if="${#strings.isEmpty(processFlow.endorsementName) && not #strings.isEmpty(processFlow.auditResult)}"
                           value="无" class="form-control text-center" type="text" disabled="true"/>
                    <input th:if="${#strings.isEmpty(processFlow.endorsementName) && #strings.isEmpty(processFlow.auditResult)}"
                           value="" class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td>
                    <input th:value="${#dates.format(processFlow.createTime, 'yyyy-MM-dd HH:mm')}" class="form-control text-center" type="text" disabled="true"/>
                </td>
            </tr>
            <!--<tr th:if="${isClose} == '1'">
                <td class="text-center">
                    <input value="总经理" class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td>
                    <input th:value="${sendToCode}" class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td class="text-center">
                    <input class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td th:if="${isClose} == '1'" class="text-center">
                    <a class="btn btn-primary btn-xs" onclick="addFile()">
                         上传线下签核截图
                    </a>
                </td>
                <td>
                    <input  class="form-control text-center" type="text" disabled="true"/>
                </td>
                <td>
                    <input class="form-control text-center" type="text" disabled="true"/>
                </td>
            </tr>-->
        </table>
        <div th:if="${not #lists.isEmpty(listFile)}" class="row" style="height: 34px;padding-left: 40px;padding-top: 7px">
            <div class="col-md-4">
                <strong>附件</strong>
            </div>
        </div>
        <table th:if="${not #lists.isEmpty(listFile)}" class="my-table" style="width: 100%">
            <thead>
            <tr style="height: 34px">
                <td style="width: 0.1%">
                    
                </td>
                <td class="text-center" style="width: 80%">
                    文件名:
                </td>
                <td class="text-center" style="width: 20%">
                    操作:
                </td>
            </tr>
            </thead>
            <tr th:each="RequisitionFile:${listFile}">
                <td>
                    <input id="value" th:value="${RequisitionFile.filePath}" class="form-control text-center"
                           type="hidden" disabled="true"/>
                </td>
                <td class="text-center">
                    <input id="fileName" th:value="${RequisitionFile.fileName}" class="form-control text-center"
                           type="text" disabled="true"/>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-info btn-sm"
                            th:onclick="downloadFaReport([[${RequisitionFile.filePath}]],[[${RequisitionFile.fileName}]])">download
                    </button>
                </td>
            </tr>
        </table>

        <div class="col-sm-12 close-file">
            <div class="col-sm-2 bottom">
            </div>
            <div class="col-sm-2 bottom">

            </div>
            <div class="col-sm-1 bottom">

            </div>
            <div class="col-sm-5 bottom">
                <button th:if="${requisition.status == 5}" type="button" class="btn btn-success btn-sm"
                        th:onclick="printPdf([[${requisition.id}]])"><i class="fa fa-download"></i>打印</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关闭</button>
            </div>
            <div class="col-sm-2 bottom">
               
            </div>
        </div>
        
    </form>

</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/ajax/libs/beautifyhtml/beautifyhtml.js}"></script>
<script type="text/javascript">

    var prefix = ctx + "system/requisition"

    $(function(){
        $.fn.autoHeight = function(){
            function autoHeight(elem){
                elem.style.height = 'auto';
                elem.scrollTop = 0; //防抖动
                elem.style.height = elem.scrollHeight + 'px';
            }
            this.each(function(){
                autoHeight(this);
                $(this).on('keyup', function(){
                    autoHeight(this);
                });
            });
        }
        $('textarea[autoHeight]').autoHeight();
    })

    //初始化抬头
    $(document).ready(function () {
        var value = $(".change-h2").val();
        if (value == "14") {
            $(".my-h2").html("&nbsp &nbsp &nbsp上海矽力杰微电子技术有限公司");
        } else if (value == "20") {
            $(".my-h2").html("&nbsp &nbsp &nbsp南京矽力微電子(香港)有限公司");
        } else {
            $(".my-h2").html("&nbsp &nbsp &nbsp南京矽力微电子技术有限公司");
        }

        $(".amount").each(function(){
            this.value = this.value.replace(/(\d{1,3})(?=(\d{3})+(?:$|\.))/g,'$1,');
        });

        //审批进度
        $('.progress-bar').attr("aria-valuenow", [[${requisition.progressRate}]] == 0 ? 1 : [[${requisition.progressRate}]]);
        $('.progress-bar').attr("style", "width:" + ([[${requisition.progressRate}]] == 0 ? 2 : [[${requisition.progressRate}]]) + "%");
    });

    $(function(){
        $(".datetimepicker-yyyy-mm-dd").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    });

    //PDF打印
    function printPdf(id) {
        $.modal.loading("注意页面跳转，即将打开打印页面，请允许浏览器打开新的窗口......");
        window.open(prefix + "/detail/" + id + "/" + 2);
        setTimeout(closeLoading,5000);
    }

    function closeLoading() {
        $.modal.closeLoading()
    }

    // $(function(){
    //     var isClose = $("#is-close").val();
    //     if(isClose === "0"){
    //         console.log(isClose);
    //         $("#add-file").addClass("hide");
    //     }
    // });

    // 下载文件
    function downloadFaReport(filePath, fileName) {
        window.location.href = ctx + "common/download/resources?resource=" + encodeURIComponent(filePath) + "&fileName=" + encodeURIComponent(fileName);
    }


    /*function addFile() {
        var requisitionId = $("#requisitionId").val();
        var url = prefix + '/addCloseRequisitionFile/' + requisitionId;
        $.modal.open("上传文件", url,500,300);
    }*/

    //上传审批文件
    function addFile() {
        var currentId = 'importTpl';
        layer.open({
            type: 1,
            area: ['400px', '230px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: '上传文件',
            content: $('#' + currentId).html(),
            btn: ['<i class="fa fa-check"></i> 上传', '<i class="fa fa-remove"></i> 取消'],
            // 弹层外区域关闭
            shadeClose: true,
            btn1: function (index, layero) {
                $.modal.disable();
                var formData = new FormData();
                formData.append('file', $('#file')[0].files[0]);
                formData.append('requisitionId', $("#requisitionId").val());
                $.ajax({
                    url: prefix + "/addCloseRequisitionFile/save",
                    data: formData,
                    cache: false, //是否在缓存中读取数据，只针对get方式生效
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    dataType: "json",
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.msgSuccess(result.msg);
                            location.reload();
                        } else if (result.code == web_status.WARNING) {
                            $.modal.alertWarning(result.msg)
                        }  else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                        $.modal.enable();
                    }
                });
            }
        });
    }

</script>
<!-- 上传文件区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <font color="red" class="pull-left mt10">
                <!--                提示：仅允许导入“ppt”、“pdf”或“word”格式文件！-->
                <br>
            </font>
        </div>
    </form>
</script>
<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        line-height: 1 !important;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: 3px 0 3px 4px !important;

    }

    body{
        overflow: scroll;
    }
    .wrapper{
        /*text-align: center; !*让div内部文字居中*!*/
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 1050px;
        /*border:1px solid #000*/
    }
    .my-table{
        margin-left: 0px;
        margin-right: auto;
        /*margin-top: 1px;*/
        /*margin-bottom: 1px;*/
    }
    .my-table1 tr td{
        border:none;
    }
    .bottom{
        margin-top: 10px;
    }
    .form-control {
        /*border: 0;*/
        webkit-box-shadow: none;
        box-shadow: none;
        width: 96%;
        margin-left: 2%;
    }
    .form-control:focus, .single-line:focus {
        border-color: #3C8DBC!important;
    }
    table td{
        border: 1px solid #000;
    }
    .my-h2{
        padding-top: 10px;
        margin-bottom: 1px;
    }
    .my-h3{
        margin-left: 160px;
    }
    .col-md-5{
        padding-left: 0px;
    }
    #for-boder{
        border:1px solid #000
    }
    .checkbox{
        display: inline;
    }
    
    input[readonly],.form-control[readonly]{background-color: #FFFFFF;}
    .form-control:disabled{
        background-color: transparent;
    }
    p{
        margin: 0 0 0px;
    }
    textarea.form-control {
        height: 45px;
    }

    input[readonly], .form-control[readonly] {
        background-color: #FFFFFF;
    }

    input[disabled], .form-control[disabled] {
        border: none;
        background-color: transparent;
    }
    .border{
        /*border: 1px solid #1a2226;*/
        border-left: 1px solid #1a2226;
        border-right: 1px solid #1a2226;
        border-bottom: 1px solid #1a2226;
    }

    select[disabled]{
        /* 去掉三角 */
        appearance:none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari 和 Chrome */
    }
</style>
</body>
</html>
