<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增机房')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-assetsMachineRoom-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">机房名称：</label>
            <div class="col-sm-8">
                <input id="machineRoomName" name="machineRoomName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">带宽类型：</label>
            <div class="col-sm-8">
                <select id="bandwidthType" name="bandwidthType.dictCode"
                        th:with="type=${@dict.getType('dict_bandwidth_type')}">
                    <option value="">请选择带宽类型</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictCode}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">带宽大小：</label>
            <div class="col-sm-8">
                <input id="bandwidthSize" name="bandwidthSize" class="form-control" type="number" min="1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所在国家：</label>
            <div class="col-sm-8">
                <input id="country" name="country" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所在省：</label>
            <div class="col-sm-8">
                <input id="province" name="province" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所在市：</label>
            <div class="col-sm-8">
                <input id="city" name="city" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所在区：</label>
            <div class="col-sm-8">
                <input id="area" name="area" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-sm-8">
                <input id="location" name="location" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-8">
                <input id="contactPerson" name="contactPerson" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8">
                <input id="contactPhone" name="contactPhone" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-8">
                <input id="email" name="email" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "assets/assetsMachineRoom";
    $("#form-assetsMachineRoom-add").validate({
        rules: {
            "bandwidthType.dictCode": {
                required: true
            },
            machineRoomName: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            bandwidthSize: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            country: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            province: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            city: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            area: {
                required: true,
                minlength: 1,
                maxlength: 10
            },
            email: {
                required: false,
                email: true
            },
            contactPhone: {
                required: false,
                isPhone: true
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-assetsMachineRoom-add').serialize());
        }
    }
</script>
</body>
</html>
