<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('兑现申请记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>会员姓名：</label>
                                <input type="text" name="memberName" placeholder="会员姓名或手机号"/>
                            </li>
                            <li>
                                <label>开户银行：</label>
                                <select name="bankId">
                                    <option value="">所有</option>
                                    <option class="bankOption" th:each="dict:${@dict.getType('busi_cashdraw_bank')}" th:value="*{dict.dictValue}" th:text="*{dict.dictLabel}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:cash:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="business:cash:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:cash:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:cash:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <style>
        .fixed-table-toolbar{height: 0;overflow: hidden}
    </style>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:cash:edit')}]];
        var prefix = ctx + "business/cash";

        //取银行数据
        var bankDict = {};
        $(".bankOption").each(function(){bankDict[$(this).val()] = $(this).text()});
        var accountTypes = ["福豆余额", "个人福豆", "团队福豆", "专项福豆", "福豆田"];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                exportUrl: prefix + "/export",
                modalName: "兑现申请记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '兑现申请ID',
                    visible: false
                },
                {
                    field: 'memberName',
                    title: '申请会员'
                },
                {
                    field: 'accountType',
                    title: '提现类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return accountTypes[value];
                    }
                },
                {
                    field: 'drawMoney',
                    title: '提现金额',
                    align: 'center'
                },
                {
                    field: 'bankId',
                    title: '开户银行',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return bankDict[value];
                    }
                },
                {
                    field: 'bankUser',
                    title: '开户人姓名'
                },
                {
                    field: 'bankCity',
                    title: '开户地'
                },
                {
                    field: 'bankCard',
                    title: '卡号'
                },
                {
                    field: 'status',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        switch (value){
                            case 0: return "<span style='color:#5c5c5c'>待处理</span>";
                            case 1: return "<span style='color:#db8301'>已处理</span>";
                            case 2: return "<span style='color:#ad3636'>已驳回</span>";
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '申请时间',
                    align: 'center'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.status == 0){
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="agreeRequest(\'' + row.id + '\')"><i class="fa fa-sign-out"></i>通过申请</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function agreeRequest(id){
            $.modal.confirm("此操作设置该提现申请为已处理完毕, 是否继续?", function() {
                $.operate.post(prefix + "/agree", {
                    cashInfoID:id
                }, function(response){
                    if(response.code == 0){
                        $.modal.alertSuccess('操作成功！')
                    }
                });
            });
        }
    </script>
</body>
</html>