<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增订单')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-add">
            <input id="treeId" name="companyId"  type="hidden">
            <h4 class="form-header h4">订单信息</h4>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">客户公司：</label>
                <div class="col-sm-8">
                    <input  id="treeName" name="companyName" readonly="true" onclick="selectCompany()"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">订单名称：</label>
                <div class="col-sm-8">
                    <input name="orderName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">款号标识码：</label>
                <div class="col-sm-8">
                    <input name="identificationCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required ">订单价格：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control number" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">类型：</label>
                <div class="col-sm-8">
                    <select name="classify" class="form-control m-b" th:with="type=${@dict.getType('busi_order_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required" title="分料时，布匹长度由米转换为件时使用">转换比例(米/件)：<i class="fa fa-question-circle-o"></i></label>
                <div class="col-sm-8">
                    <input name="ratio" class="form-control number" type="text" required>
                </div>
            </div>
          <div class="form-group hidden">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('busi_order_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">产品需求信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "busi/order"
        var sizeDatas = [[${@dict.getType('busi_size')}]];
        var colorDatas = [[${@dict.getType('busi_color')}]];
        $("#form-order-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if (sizeAndColorValidate() && $.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-order-add').serialize());
            }
        }

        function sizeAndColorValidate() {
            var colors = $("select[name$='color']");
            var sizes = $("select[name$='size']");
            colors.removeClass("error");
            sizes.removeClass("error");
            var colorAndSize = [];
            var result = true;
            sizes.each(function (i, ele) {
                var ele = colors[i].value + sizes[i].value;
                var index = colorAndSize.indexOf(ele);
                if ( index >= 0) {
                    $(colors[i]).addClass("error");
                    $(sizes[i]).addClass("error");
                    $(colors[index]).addClass("error");
                    $(sizes[index]).addClass("error");
                    result = false;
                    // return false;
                } else {
                    colorAndSize.push(ele);
                }
            });
            return result;
        }

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'amount',
                    align: 'center',
                    title: '数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control required digits' type='text' name='busiProductRequireList[%s].amount' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'size',
                    align: 'center',
                    title: '尺码',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("busiProductRequireList[%s].size", index);
                        return $.common.dictToSelect(sizeDatas, value, name);
                    }
                },
                {
                    field: 'color',
                    align: 'center',
                    title: '颜色',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("busiProductRequireList[%s].color", index);
                        return $.common.dictToSelect(colorDatas, value, name);
                    }
                },
                {
                    field: 'endDate',
                    align: 'center',
                    title: '截止日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control endDate required'  readonly type='text' name='busiProductRequireList[%s].endDate' value='%s'>", index, value);
                        return html;
                    }
                
                }]
            };
            $.table.init(options);
        });

        function addColumn() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            sub.editColumn();
        	
            $("#" + table.options.id).bootstrapTable('insertRow', {
                index: count,
                row: {
                    index: $.table.serialNumber(count),
                    amount: "",
                    size: "",
                    color: "",
                    endDate: ""
                }
            });
            $(".endDate").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                startDate: new Date(),
                autoclose: true
            });
        }

        /*客户公司选择*/
        function selectCompany() {
            var options = {
                title: '选择客户公司',
                width: "380",
                height: "400",
                url: ctx + "busi/company/selectCompany/",
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var body = $.modal.getChildFrame(index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            $.modal.close(index);
        }
    </script>
</body>
</html>