<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('医生排班列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>机构名称：</label>
                                <input type="text" name="orgName"/>
                            </li>
                            <li>
                                <label>科室名称：</label>
                                <input type="text" name="deptName"/>
                            </li>
                            <li>
                                <label>医生名称：</label>
                                <input type="text" name="doctorName"/>
                            </li>
                            <li class="select-time">
                                <label>排班日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginScheduleDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endScheduleDate]"/>
                            </li>
                            <li>
                                <label>显示状态：</label>
                                <select name="isShow" th:with="type=${@dict.getType('biz_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="his:doctorSchedule:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="his:doctorSchedule:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="his:doctorSchedule:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="syncDoctorSchedule();" shiro:hasPermission="his:doctorSchedule:list">
                    <i class="fa fa-refresh"></i> 同步
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('his:doctorSchedule:edit')}]];
        var removeFlag = [[${@permission.hasPermi('his:doctorSchedule:remove')}]];
        var isShowDatas = [[${@dict.getType('biz_normal_disable')}]];
        var prefix = ctx + "his/doctorSchedule";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "医生排班",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'orgName',
                    title: '机构名称'
                },
                {
                    field: 'deptName',
                    title: '科室名称'
                },
                {
                    field: 'doctorName',
                    title: '医生名称'
                },
                {
                    field: 'scheduleDate',
                    title: '排班日期',
                    formatter: function (value, row, index) {
                        return changeDateFormat(value);
                    }
                },
                {
                    field: 'scheduleShift',
                    title: '班次',
                    align: 'center',
                },
                {
                    field: 'onLimitNum',
                    title: '线上限制量',
                    align: 'center',
                },
                {
                    field: 'onNum',
                    title: '线上已挂量',
                    align: 'center',
                },
                {
                    field: 'offLimitNum',
                    title: '线下限制量',
                    align: 'center',
                },
                {
                    field: 'offNum',
                    title: '线下已挂量',
                    align: 'center',
                },
                {
                    field: 'isShow',
                    title: '显示状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(isShowDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        //同步医生排班接口
        function syncDoctorSchedule() {
            const url = ctx + "his/v1/sync/doctor/schedule";
            $.get(url,function(result) {
                if (result.code === web_status.SUCCESS) {
                    $.modal.alertSuccess(result.msg)
                } else if (result.code === web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
            });
        }

        //转换日期格式(时间戳转换为datetime格式)
        function changeDateFormat(cellval) {
            var dateVal = cellval + "";
            if (cellval != null) {
                var date = new Date(dateVal);
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate;
            }
        }

    </script>
</body>
</html>