<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.infosouth.arj21.mapper.InfoImexportLogMapper">
    
    <resultMap type="InfoImexportLog" id="InfoImexportLogResult">
        <result property="id"    column="id"    />
        <result property="flDate"    column="fl_date"    />
        <result property="flNo"    column="fl_no"    />
        <result property="arn"    column="arn"    />
        <result property="acType"    column="ac_type"    />
        <result property="pod"    column="pod"    />
        <result property="poa"    column="poa"    />
        <result property="airline"    column="airline"    />
        <result property="csvPath"    column="csv_path"    />
        <result property="csvName"    column="csv_name"    />
        <result property="operateBy"    column="operate_by"    />
        <result property="operateDate"    column="operate_date"    />
        <result property="hostIp"    column="host_ip"    />
        <result property="fileSize"    column="file_size"    />
        <result property="operateType"    column="operate_type"    />
        <result property="isSucce"    column="is_succe"    />
        <result property="failType"    column="fail_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectInfoImexportLogVo">
        select id, fl_date, fl_no, arn, ac_type, pod, poa, airline, csv_path, csv_name, operate_by, operate_date, host_ip, file_size, operate_type, is_succe, fail_type, create_by, create_date, update_by, update_date, remarks, del_flag from info_imexport_log
    </sql>

    <select id="selectInfoImexportLogList" parameterType="InfoImexportLog" resultMap="InfoImexportLogResult">
        <include refid="selectInfoImexportLogVo"/>
        <where>  
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="flDate != null "> and fl_date = #{flDate}</if>
            <if test="arn != null  and arn != ''"> and arn = #{arn}</if>
            <if test="acType != null  and acType != ''"> and ac_type = #{acType}</if>
            <if test="pod != null  and pod != ''"> and pod = #{pod}</if>
            <if test="poa != null  and poa != ''"> and poa = #{poa}</if>
            <if test="airline != null  and airline != ''"> and airline = #{airline}</if>
            <if test="csvName != null  and csvName != ''"> and csv_name like concat('%', #{csvName}, '%')</if>
            <if test="operateBy != null  and operateBy != ''"> and operate_by = #{operateBy}</if>
            <if test="operateDate != null "> and operate_date = #{operateDate}</if>
            <if test="hostIp != null  and hostIp != ''"> and host_ip = #{hostIp}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="operateType != null  and operateType != ''"> and operate_type = #{operateType}</if>
            <if test="isSucce != null  and isSucce != ''"> and is_succe = #{isSucce}</if>
            <if test="failType != null  and failType != ''"> and fail_type = #{failType}</if>
        </where>
    </select>
    
    <select id="selectInfoImexportLogById" parameterType="String" resultMap="InfoImexportLogResult">
        <include refid="selectInfoImexportLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInfoImexportLog" parameterType="InfoImexportLog">
        insert into info_imexport_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="flDate != null ">fl_date,</if>
            <if test="flNo != null  and flNo != ''">fl_no,</if>
            <if test="arn != null  and arn != ''">arn,</if>
            <if test="acType != null  and acType != ''">ac_type,</if>
            <if test="pod != null  and pod != ''">pod,</if>
            <if test="poa != null  and poa != ''">poa,</if>
            <if test="airline != null  and airline != ''">airline,</if>
            <if test="csvPath != null  and csvPath != ''">csv_path,</if>
            <if test="csvName != null  and csvName != ''">csv_name,</if>
            <if test="operateBy != null  and operateBy != ''">operate_by,</if>
            <if test="operateDate != null ">operate_date,</if>
            <if test="hostIp != null  and hostIp != ''">host_ip,</if>
            <if test="fileSize != null ">file_size,</if>
            <if test="operateType != null  and operateType != ''">operate_type,</if>
            <if test="isSucce != null  and isSucce != ''">is_succe,</if>
            <if test="failType != null  and failType != ''">fail_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateDate != null ">update_date,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="flDate != null ">#{flDate},</if>
            <if test="flNo != null  and flNo != ''">#{flNo},</if>
            <if test="arn != null  and arn != ''">#{arn},</if>
            <if test="acType != null  and acType != ''">#{acType},</if>
            <if test="pod != null  and pod != ''">#{pod},</if>
            <if test="poa != null  and poa != ''">#{poa},</if>
            <if test="airline != null  and airline != ''">#{airline},</if>
            <if test="csvPath != null  and csvPath != ''">#{csvPath},</if>
            <if test="csvName != null  and csvName != ''">#{csvName},</if>
            <if test="operateBy != null  and operateBy != ''">#{operateBy},</if>
            <if test="operateDate != null ">#{operateDate},</if>
            <if test="hostIp != null  and hostIp != ''">#{hostIp},</if>
            <if test="fileSize != null ">#{fileSize},</if>
            <if test="operateType != null  and operateType != ''">#{operateType},</if>
            <if test="isSucce != null  and isSucce != ''">#{isSucce},</if>
            <if test="failType != null  and failType != ''">#{failType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateDate != null ">#{updateDate},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateInfoImexportLog" parameterType="InfoImexportLog">
        update info_imexport_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="flDate != null ">fl_date = #{flDate},</if>
            <if test="flNo != null  and flNo != ''">fl_no = #{flNo},</if>
            <if test="arn != null  and arn != ''">arn = #{arn},</if>
            <if test="acType != null  and acType != ''">ac_type = #{acType},</if>
            <if test="pod != null  and pod != ''">pod = #{pod},</if>
            <if test="poa != null  and poa != ''">poa = #{poa},</if>
            <if test="airline != null  and airline != ''">airline = #{airline},</if>
            <if test="csvPath != null  and csvPath != ''">csv_path = #{csvPath},</if>
            <if test="csvName != null  and csvName != ''">csv_name = #{csvName},</if>
            <if test="operateBy != null  and operateBy != ''">operate_by = #{operateBy},</if>
            <if test="operateDate != null ">operate_date = #{operateDate},</if>
            <if test="hostIp != null  and hostIp != ''">host_ip = #{hostIp},</if>
            <if test="fileSize != null ">file_size = #{fileSize},</if>
            <if test="operateType != null  and operateType != ''">operate_type = #{operateType},</if>
            <if test="isSucce != null  and isSucce != ''">is_succe = #{isSucce},</if>
            <if test="failType != null  and failType != ''">fail_type = #{failType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateDate != null ">update_date = #{updateDate},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInfoImexportLogById" parameterType="String">
        delete from info_imexport_log where id = #{id}
    </delete>

    <delete id="deleteInfoImexportLogByIds" parameterType="String">
        delete from info_imexport_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>