<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增广告位')" />
	<th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dict-add">
			<input id="bannerPicUrl" name="bannerPicUrl" type="hidden"/>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">广告标题：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="bannerTitle" id="bannerTitle" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">广告位类型：</label>
				<div class="col-sm-8">
					<select name="bannerType" class="form-control m-b" th:with="type=${@dict.getType('sys_banner_type')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">广告跳转地址：</label>
				<div class="col-sm-8">
					<textarea name="address" maxlength="500" class="form-control" rows="3"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">广告位图片（推荐宽高比240:176）：</label>

				<div class="col-sm-8">
					<div class="file-loading">
						<input id="singleFile" name="file" type="file">
					</div>
				</div>

			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-fileinput-js"/>
	<script type="text/javascript">
		var prefix = ctx + "advert/info";
	
<!--		$("#form-dict-add").validate({-->
<!--			rules:{-->
<!--				dictSort:{-->
<!--					digits:true-->
<!--				},-->
<!--			},-->
<!--			focusCleanup: true-->
<!--		});-->
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-dict-add').serialize());
	        }
	    }

	  $(function () {
        // 广告位单图上传
    	$("#singleFile").fileinput({
            uploadUrl: ctx + 'common/uploadsBanner',
            maxFileCount: 1,
            layoutTemplates: {
                footer: '',//隐藏全部小图标
            },
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
        	var rsp = data.response;
        	$("#bannerPicUrl").val(rsp.newFileName);
            log.info("return url：" + rsp.url)
            log.info("reutrn fileName：" + rsp.fileName)
            log.info("reutrn newFileName：" + rsp.newFileName)
            log.info("return originalFilename：" + rsp.originalFilename)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
            $("#bannerPicUrl").val('');
        })
    });
	</script>
</body>
</html>
