<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改交换机模板')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-tmplSwitch-edit" th:object="${tmplSwitch}">
        <input id="switchId" name="switchId" th:field="*{switchId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">交换机品牌：</label>
            <div class="col-sm-8">
                <input id="switchBrand" name="switchBrand" th:field="*{switchBrand}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交换机型号：</label>
            <div class="col-sm-8">
                <input id="switchType" name="switchType" th:field="*{switchType}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">交换机电源数量：</label>
            <div class="col-sm-8">
                <input id="powerNum" name="powerNum" th:field="*{powerNum}" class="form-control" min="1" type="number">
            </div>
        </div>
        <!--端口类型字典-->
        <div class="form-group" th:with="type=${@dict.getType('dict_port_type')}">
            <div class="col-sm-6" th:each="dict : ${type}">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" th:text="${dict.dictLabel}"></label>
                        <div class="col-sm-5">
                            <input type="number" min="0" max="100" th:id="${dict.dictCode}"
                                   class="form-control switchPort"
                                   placeholder="单位(个)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "template/tmplSwitch";
    $("#form-tmplSwitch-edit").validate({
        onkeyup: true,
        rules: {
            switchBrand: {
                required: true,
                minlength: 1,
                maxlength: 20
            },
            switchType: {
                required: true,
                minlength: 1,
                maxlength: 20
            },
            powerNum: {
                required: true,
                minlength: 1,
                maxlength: 2
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $('#form-tmplSwitch-edit').serializeArray();
            var params = [];
            $(".switchPort").each(function () {
                params.push({"id": $(this).attr("id"), "value": $(this).val()});
            });
            var obj = {
                "name": "foreignKeyInfo",
                "value": JSON.stringify(params)
            };
            data.push(obj);
            $.operate.save(prefix + "/edit", data);
        }
    }

    /*
     *  修改时手动回显SwitchPortNum
     */
    $(function () {
        var switchPorts = [[${tmplSwitch}]].switchPorts;
        $.each(switchPorts, function (index, port) {
            $("#" + port.switchPortType).val(port.switchPortNum);
        });
    });
</script>
</body>
</html>
