<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cronie.mengyu.mapper.GoodsTradeModelMapper">
    
    <resultMap type="GoodsTradeModel" id="GoodsTradeModelResult">
        <result property="modelId"    column="model_id"    />
        <result property="code"    column="code"    />
        <result property="basicVolumes"    column="basic_volumes"    />
        <result property="modelStatus"    column="model_status"    />
        <result property="buildingPrice"    column="building_price"    />
        <result property="exitPrice"    column="exit_price"    />
        <result property="stopPrice"    column="stop_price"    />
        <result property="creater"    column="creater"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectGoodsTradeModelVo">
        select model_id, code, basic_volumes, model_status, building_price, exit_price, stop_price, creater, create_time from my_goods_trade_model
    </sql>
	
    <select id="selectGoodsTradeModelList" parameterType="GoodsTradeModel" resultMap="GoodsTradeModelResult">
        <include refid="selectGoodsTradeModelVo"/>
        <where>  
            <if test="modelId != null "> and model_id = #{modelId}</if>
             <if test="code != null  and code != '' "> and code = #{code}</if>
             <if test="basicVolumes != null "> and basic_volumes = #{basicVolumes}</if>
             <if test="modelStatus != null "> and model_status = #{modelStatus}</if>
             <if test="buildingPrice != null "> and building_price = #{buildingPrice}</if>
             <if test="exitPrice != null "> and exit_price = #{exitPrice}</if>
             <if test="stopPrice != null "> and stop_price = #{stopPrice}</if>
             <if test="creater != null "> and creater = #{creater}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectGoodsTradeModelById" parameterType="Integer" resultMap="GoodsTradeModelResult">
        <include refid="selectGoodsTradeModelVo"/>
        where model_id = #{modelId}
    </select>
        
    <insert id="insertGoodsTradeModel" parameterType="GoodsTradeModel">
        insert into my_goods_trade_model
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="modelId != null  ">model_id,</if>
			<if test="code != null  and code != ''  ">code,</if>
			<if test="basicVolumes != null  ">basic_volumes,</if>
			<if test="modelStatus != null  ">model_status,</if>
			<if test="buildingPrice != null  ">building_price,</if>
			<if test="exitPrice != null  ">exit_price,</if>
			<if test="stopPrice != null  ">stop_price,</if>
			<if test="creater != null  ">creater,</if>
			<if test="createTime != null  ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="modelId != null  ">#{modelId},</if>
			<if test="code != null  and code != ''  ">#{code},</if>
			<if test="basicVolumes != null  ">#{basicVolumes},</if>
			<if test="modelStatus != null  ">#{modelStatus},</if>
			<if test="buildingPrice != null  ">#{buildingPrice},</if>
			<if test="exitPrice != null  ">#{exitPrice},</if>
			<if test="stopPrice != null  ">#{stopPrice},</if>
			<if test="creater != null  ">#{creater},</if>
			<if test="createTime != null  ">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateGoodsTradeModel" parameterType="GoodsTradeModel">
        update my_goods_trade_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="basicVolumes != null  ">basic_volumes = #{basicVolumes},</if>
            <if test="modelStatus != null  ">model_status = #{modelStatus},</if>
            <if test="buildingPrice != null  ">building_price = #{buildingPrice},</if>
            <if test="exitPrice != null  ">exit_price = #{exitPrice},</if>
            <if test="stopPrice != null  ">stop_price = #{stopPrice},</if>
            <if test="creater != null  ">creater = #{creater},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where model_id = #{modelId}
    </update>

	<delete id="deleteGoodsTradeModelById" parameterType="Integer">
        delete from my_goods_trade_model where model_id = #{modelId}
    </delete>
	
    <delete id="deleteGoodsTradeModelByIds" parameterType="String">
        delete from my_goods_trade_model where model_id in 
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
    
</mapper>