<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cronie.mengyu.mapper.MoneyPoolLogMapper">
    
    <resultMap type="MoneyPoolLog" id="MoneyPoolLogResult">
        <result property="billType"    column="bill_type"    />
        <result property="moneyPoolLog"    column="money_pool_log"    />
        <result property="trademMoney"    column="tradem_money"    />
        <result property="moneyPoolId"    column="money_pool_id"    />
        <result property="nodeId"    column="node_id"    />
    </resultMap>
	
	<sql id="selectMoneyPoolLogVo">
        select bill_type, money_pool_log, tradem_money, money_pool_id, node_id from my_money_pool_log
    </sql>
	
    <select id="selectMoneyPoolLogList" parameterType="MoneyPoolLog" resultMap="MoneyPoolLogResult">
        <include refid="selectMoneyPoolLogVo"/>
        <where>  
            <if test="billType != null "> and bill_type = #{billType}</if>
             <if test="moneyPoolLog != null "> and money_pool_log = #{moneyPoolLog}</if>
             <if test="trademMoney != null "> and tradem_money = #{trademMoney}</if>
             <if test="moneyPoolId != null "> and money_pool_id = #{moneyPoolId}</if>
             <if test="nodeId != null "> and node_id = #{nodeId}</if>
         </where>
    </select>
    
    <select id="selectMoneyPoolLogById" parameterType="Integer" resultMap="MoneyPoolLogResult">
        <include refid="selectMoneyPoolLogVo"/>
        where bill_type = #{billType}
    </select>
        
    <insert id="insertMoneyPoolLog" parameterType="MoneyPoolLog">
        insert into my_money_pool_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="billType != null  ">bill_type,</if>
			<if test="moneyPoolLog != null  ">money_pool_log,</if>
			<if test="trademMoney != null  ">tradem_money,</if>
			<if test="moneyPoolId != null  ">money_pool_id,</if>
			<if test="nodeId != null  ">node_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="billType != null  ">#{billType},</if>
			<if test="moneyPoolLog != null  ">#{moneyPoolLog},</if>
			<if test="trademMoney != null  ">#{trademMoney},</if>
			<if test="moneyPoolId != null  ">#{moneyPoolId},</if>
			<if test="nodeId != null  ">#{nodeId},</if>
         </trim>
    </insert>
	 
    <update id="updateMoneyPoolLog" parameterType="MoneyPoolLog">
        update my_money_pool_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="moneyPoolLog != null  ">money_pool_log = #{moneyPoolLog},</if>
            <if test="trademMoney != null  ">tradem_money = #{trademMoney},</if>
            <if test="moneyPoolId != null  ">money_pool_id = #{moneyPoolId},</if>
            <if test="nodeId != null  ">node_id = #{nodeId},</if>
        </trim>
        where bill_type = #{billType}
    </update>

	<delete id="deleteMoneyPoolLogById" parameterType="Integer">
        delete from my_money_pool_log where bill_type = #{billType}
    </delete>
	
    <delete id="deleteMoneyPoolLogByIds" parameterType="String">
        delete from my_money_pool_log where bill_type in 
        <foreach item="billType" collection="array" open="(" separator="," close=")">
            #{billType}
        </foreach>
    </delete>
    
</mapper>