<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BPS后台管理系统-测试首页</title>
</head>
<body>
<h1>BPS后台管理系统-测试首页</h1><br><br>
一、Mybaits配置DML测试-Oracle（第二数据源）
<li><a th:href="@{/test/selectAll}">查询所有用户</a></li>
<li><a th:href="@{/test/insert?id=1000&name=bo&password=12}">新增ID为1000的用户</a></li>
<li><a th:href="@{/test/selectById/1000}">根据ID查询用户,查询id=1000的用户</a></li>
<li><a th:href="@{/test/updateById?id=1000&name=Xia&password=20}">修改用户为1000的用户姓名为Xia</a></li>
<li><a th:href="@{/test/deleteById?id=1000}">删除ID为1000的用户</a></li>

<p></p>
二、Mybaits配置DDL测试-Oracle
<li><a th:href="@{/test/getRecordCount}">查询表中的记录数</a></li>
<li><a th:href="@{/test/isTableInDb}">查询tc_user是否存在</a></li>
<p />
<a th:href="@{/test/sendjson}">Ajax发送获取Json配置测试 </a>
<p />
二、输入后验证测试

<li><a th:href="@{/test/testVerify}">验证数据表中是否有记录</a></li>
<p />


三、当前系统时间<span th:text="${date}"></span>


</body>
</html>