<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhen.system.mapper.AdvertDataMapper">
	
	<resultMap type="AdvertInfo" id="AdvertDataResult">
		<id     property="id"       column="id"        />
		<result property="bannerTitle"   column="banner_title"   />
		<result property="bannerType"  column="banner_type"  />
		<result property="bannerPicUrl"  column="banner_pic_url"  />
		<result property="address"   column="address"   />
		<result property="delFlag"      column="del_flag"       />
		<result property="createBy"     column="create_by"      />
		<result property="createTime"   column="create_time"    />
		<result property="updateBy"     column="update_by"      />
		<result property="updateTime"   column="update_time"    />
		<result property="remark"       column="remark"         />
	</resultMap>
	
	<sql id="selectAdvertDataVo">
        select id, banner_title, banner_type, banner_pic_url, address, del_flag, create_by, create_time, update_by, update_time, remark
		from banner_info
    </sql>

	<select id="selectAdvertDataList" parameterType="AdvertInfo" resultMap="AdvertDataResult">
	    <include refid="selectAdvertDataVo"/>
		<where>
		    <if test="bannerType != null and bannerType != ''">
				AND banner_type = #{bannerType}
			</if>
			<if test="bannerTitle != null and bannerTitle != ''">
				AND banner_title like concat('%', #{bannerTitle}, '%')
			</if>
		</where>
	</select>
	

 	<delete id="deleteAdvertDataByIds" parameterType="String">
 		delete from banner_info where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
 	
	<update id="updateAdvertData" parameterType="AdvertInfo">
 		update banner_info
 		<set>
 			<if test="bannerTitle != null">banner_title = #{bannerTitle},</if>
 			<if test="bannerType != null and bannerType != ''">banner_type = #{bannerType},</if>
 			<if test="bannerPicUrl != null and bannerPicUrl != ''">banner_pic_url = #{bannerPicUrl},</if>
 			<if test="address != null">address = #{address},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where id = #{id}
	</update>

 	<insert id="insertAdvertData" parameterType="AdvertInfo">
 		insert into banner_info(
 			<if test="bannerTitle != null">banner_title,</if>
 			<if test="bannerType != null and bannerType != ''">banner_type,</if>
 			<if test="bannerPicUrl != null and bannerPicUrl != ''">banner_pic_url,</if>
 			<if test="address != null and address != ''">address,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 		    <if test="bannerTitle != null">#{bannerTitle},</if>
 		    <if test="bannerType != null and bannerType != ''">#{bannerType},</if>
 			<if test="bannerPicUrl != null and bannerPicUrl != ''">#{bannerPicUrl},</if>
 			<if test="address != null and address != ''">#{address},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>

	<select id="selectAdvertDataById" parameterType="Long" resultMap="AdvertDataResult">
		<include refid="selectAdvertDataVo"/>
		where id = #{id}
	</select>
	
</mapper> 