<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
<th:block th:include="include :: header('新增经济类型')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-econtype-add">
            <input type="hidden" name="createBy" id="createBy" />
            <input type="hidden" name="updateBy" id="updateBy" />


                <div class="row mt10">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">名称：</label>
                <div class="col-sm-8">
                    <input id="econName" name="econName" class="form-control"  type="text" required>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">单据号：</label>
                <div class="col-sm-8">
                    <input id="docNum" name="docNum" class="form-control"  readonly="readonly"  type="text">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">资料状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('platf_doc_statu')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" id="status" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-10">
                        <textarea id="remark" name="remark" maxlength="500" class="form-control" rows="3" ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">制单人：</label>
                <div class="col-sm-8">
                    <input id="createByuserName" name="createByuserName" class="form-control"  readonly="readonly"  type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">制单时间：</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" class="form-control"  readonly="readonly"  type="text">
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">修改人：</label>
                <div class="col-sm-8">
                    <input id="updateByuserName" name="updateByuserName" class="form-control"  readonly="readonly"  type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">修改时间：</label>
                <div class="col-sm-8">
                    <input id="updateTime" name="updateTime" class="form-control"  readonly="readonly"  type="text">
                </div>
            </div>
        </div>



            </form>
</div>
<th:block th:include="include :: footer" />
                                                                                                                                                                                                                                                                                                                                                            <script th:inline="javascript">
    var prefix = ctx + "platform/econtype"
        
    $("#form-econtype-add").validate({
        onkeyup: false,
        rules:{
            econName:{
                remote: {
                    url: prefix + "/checkEconTypeUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "EconName" : function() {
                            return $.common.trim($("#EconName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
        },
        messages: {
            "EconName": {
                remote: "经济类型 名称已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-econtype-add').serialize());
        }
    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                $("#createBy").val([[${user.loginName}]]);
        $("#createByuserName").val([[${user.userName}]]);
        $("#createTime").val
        ( $.common.dateFormat(new Date(),'yyyy-MM-dd HH:mm:ss') ) ; //获取日期与时间
        
</script>
</body>
</html>