<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="/static/ueditor/ueditor.config.js"></script>
    <script src="/static/ueditor/ueditor.all.js"></script>
    <script src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body class="white-bg">
<textarea id="container" name="content" type="text/plain">这里写你的初始化内容</textarea>





<script type="text/javascript">
    var editor = UE.getEditor('container');
    alert(editor);
</script>

</body>
</html>