<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
        <div class="btn-group hidden-xs" id="tableToolbar" role="group">
        	<!--
            <button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:addTest()'">
                <i class="glyphicon glyphicon-plus""></i>
            </button>
             -->
            <button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchForceLogout()'">
                <i class="glyphicon glyphicon-trash""></i>
            </button>
        </div>
        
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-search="true" data-show-refresh="true"
			   data-sort-name="last_access_time" data-order="desc">
		</table>
	</div>
	<!-- 	<a shiro:hasPermission="system:user:list" href="#">测试菜单</a>	 -->
    <!-- 	<a shiro:hasRole="admin" href="#">测试角色</a>    -->
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/ruoyi/monitor/online/online.js"></script>
</body>
</html>