<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="web/index::cmsHeader">
</head>
<body>

<div class="fly-header layui-bg-black" th:replace="web/index:: top">

</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="login.html">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">

              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">登录名</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="logiName" required lay-verify="email" autocomplete="on" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_username" name="userName" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button id="btnSubmit" class="layui-btn" lay-filter="*" onclick="regAccount()"> 立即注册</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="fly-footer" th:replace="web/index::cmsBottom">
</div>

<script>
    var layer;
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });

    })

    function regAccount() {
        var loginName = $.common.trim($("input[name='logiName']").val());
        var userName = $.common.trim($("input[name='userName']").val());
        var password = $.common.trim($("input[name='password']").val());
        var repassword = $.common.trim($("input[name='repassword']").val());
        if(password != repassword){
            layer.msg("密码不一致", {icon: 2});
            return;
        }
        $.ajax({
            type: "post",
            url: "/web/user/regaccount",
            data: {
                "loginName": loginName,
                "userName": userName,
                "password":password
            },
            success: function(r) {
                debugger
                if (r.code == 200) {
                    location.href = ctx + 'web/user/login.html';
                } else {
                    layer.msg(r.msg, {icon: 2});
                }
            }
        });
    }
</script>

</body>
</html>