<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改存储奖品的基础信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: jasny-bootstrap-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-edit" th:object="${drawPrizeInfo}">
            <input name="PRIZEID" th:field="*{PRIZEID}" type="hidden">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">奖品代码：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="PRIZECODE" th:field="*{PRIZECODE}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">奖品名称：</label>
                <div class="col-sm-8">
                    <input name="PRIZENAME" th:field="*{PRIZENAME}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">奖品类型：</label>
                <div class="col-sm-8">
                    <select name="PRIZETYPE" class="form-control m-b" th:with="type=${@dict.getType('prizeType')}">
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{PRIZETYPE}"></option>
                    </select>
<!--                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">奖品面额：</label>
                <div class="col-sm-8">
                    <input name="PRIZEVALUE" th:field="*{PRIZEVALUE}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">背景图片：</label>
                <div class="col-sm-8">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                             style="width: 200px; height: 150px;">
                            <img th:src="*{PRIZEIMG}">
                        </div>
                        <div>
                                                <span class="btn btn-white btn-file"><span
                                                        class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span>
                                                    <input type="file" id="pic" name="actPageConfigGuide-bgImg"
                                                           onchange="syncPic(this)"></span>
                            <a href="#" class="btn btn-white fileinput-exists"
                               data-dismiss="fileinput">清除</a>
                        </div>
                    </div>
                </div>
                <input id="picval" type="hidden" name="PRIZEIMG" value="" th:field="*{PRIZEIMG}">
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="COMMENTS" class="form-control">[[*{COMMENTS}]]</textarea>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">创建时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="input-group date">-->
<!--                        <input name="CREATETIMESTAMP" th:value="${#dates.format(drawPrizeInfo.CREATETIMESTAMP, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
<!--                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">最后修改时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="input-group date">-->
<!--                        <input name="LASTUPDATETIMESTAMP" th:value="${#dates.format(drawPrizeInfo.LASTUPDATETIMESTAMP, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
<!--                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
<!--                    <div class="radio-box">-->
<!--                        <input type="radio" name="STATUS" value="">-->
<!--                        <label th:for="STATUS" th:text="未知"></label>-->
<!--                    </div>-->
                    <div class="radio-box" th:each="dict : ${@dict.getType('status')}">
                        <input type="radio" th:id="${dict.dictCode}" name="STATUS" th:value="${dict.dictValue}" th:field="*{STATUS}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">积分项目编码：</label>
                <div class="col-sm-8">
                    <input name="INTEGRALPROJECTCODE" th:field="*{INTEGRALPROJECTCODE}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: jasny-bootstrap-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "activity/prize";
        $("#form-info-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-info-edit').serialize());
            }
        }

        $("input[name='CREATETIMESTAMP']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='LASTUPDATETIMESTAMP']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function syncPic(val){
            //传递值
            var id = val.id;
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#"+id+"val").val(e.target.result);
            }
            reader.readAsDataURL(val.files[0]);
        }
    </script>
</body>
</html>