<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('存储奖品的基础信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>奖品名称：</label>
                                <input type="text" name="PRIZECODE"/>
                            </li>
                            <li>
                                <label>奖品名称：</label>
                                <input type="text" name="PRIZENAME"/>
                            </li>
                            <li>
                                <label>奖品面额：</label>
                                <input type="text" name="PRIZEVALUE"/>
                            </li>
                            <li>
                                <label>奖品类型：</label>
                                <select name="PRIZETYPE" th:with="type=${@dict.getType('prizeType')}" style="width: 100px">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
<!--                            <li>-->
<!--                                <label>创建时间：</label>-->
<!--                                <input type="text" class="time-input" placeholder="请选择创建时间" name="CREATETIMESTAMP"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>最后修改时间：</label>-->
<!--                                <input type="text" class="time-input" placeholder="请选择最后修改时间" name="LASTUPDATETIMESTAMP"/>-->
<!--                            </li>-->
                            <li>
                                <label>状态：</label>
                                <select name="STATUS" th:with="type=${@dict.getType('status')}" style="width: 80px">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
<!--                            <li>-->
<!--                                <label>积分项目编码：</label>-->
<!--                                <input type="text" name="INTEGRALPROJECTCODE"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="activity:info:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="activity:info:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="activity:info:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="activity:info:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('activity:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('activity:info:remove')}]];
        var prefix = ctx + "activity/prize";
        var datas = [[${@dict.getType('prizeType')}]];
        var statusList = [[${@dict.getType('status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "存储奖品的基础信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'prizeid',
                    title: '业务主键',
                    visible: false
                },
                {
                    field: 'prizecode',
                    title: '奖品名称'
                },
                {
                    field: 'prizename',
                    title: '奖品名称'
                },
                {
                    field: 'prizetype',
                    title: '奖品类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'prizevalue',
                    title: '奖品面额'
                },
                {
                    field: 'comments',
                    title: '备注'
                },
                // {
                //     field: 'CREATETIMESTAMP',
                //     title: '创建时间'
                // },
                // {
                //     field: 'LASTUPDATETIMESTAMP',
                //     title: '最后修改时间'
                // },
                {
                    field: 'status',
                    title: '状态',
                    // 0 未启用，1 启用
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusList, value);
                    }
                },
                {
                    field: 'integralprojectcode',
                    title: '积分项目编码'
                },
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.prizeid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.prizeid + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>