package ${package}.domain;
import lombok.Data;

import com.ruoyi.common.core.domain.BaseEntity;
import lombok.EqualsAndHashCode;

import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Table;

#foreach ($column in $columns)
#if($column.attrType == 'Date')
import java.util.Date;
#break
#end
#end

/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@Table(name = "${tableName}")
public class ${className} extends BaseEntity
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)

	/**字段描述  $column.columnComment */
#if($column.iskey)
	@Id
#end
	@Column(name = "$column.columnName")
	private $column.attrType $column.attrname;
#end




}
