<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.TrainCoursewareMapper">
    
    <resultMap type="TrainCourseware" id="TrainCoursewareResult">
        <result property="id"    column="id"    />
        <result property="trainCoursewareCategoryId"    column="train_courseware_category_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="learnTime"    column="learn_time"    />
        <result property="state"    column="state"    />
        <result property="url"    column="url"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectTrainCoursewareVo">
         id, train_courseware_category_id, name, type, learn_time, state, url, content, del_flag, create_by, create_time, update_by, update_time, remark    </sql>
	
    <select id="selectTrainCoursewareList" parameterType="TrainCourseware" resultMap="TrainCoursewareResult">
        select
        <include refid="selectTrainCoursewareVo"/>
        from train_courseware
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="trainCoursewareCategoryId != null "> and train_courseware_category_id = #{trainCoursewareCategoryId}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="type != null  and type != '' "> and type = #{type}</if>
             <if test="learnTime != null "> and learn_time = #{learnTime}</if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="url != null  and url != '' "> and url = #{url}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>

    
</mapper>