<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商家信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-firm-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">商家编号：</label>
                <div class="col-sm-8">
                    <input name="businessCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">登录账号：</label>
                <div class="col-sm-8">
                    <input name="loginName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">用户昵称：</label>
                <div class="col-sm-8">
                    <input name="userName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">用户邮箱：</label>
                <div class="col-sm-8">
                    <input name="email" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">固定电话：</label>
                <div class="col-sm-8">
                    <input name="telephoneNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">手机号码：</label>
                <div class="col-sm-8">
                    <input name="phoneNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户性别：</label>
                <div class="col-sm-8">
                    <select name="sex" class="form-control m-b" required>
                        <option value="0">男</option>
                        <option value="1">女</option>
                        <option value="2">未知</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">头像路径：</label>
                <div class="col-sm-8">
                    <input name="avatar" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">身份证地址：</label>
                <div class="col-sm-8">
                    <input name="idCard" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">证件信息：</label>
                <div class="col-sm-8">
                    <input name="credentials" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">密码：</label>
                <div class="col-sm-8">
                    <input name="password" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">质保金：</label>
                <div class="col-sm-8">
                    <input name="guaranteeMoney" class="form-control" type="text" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">商家类型：</label>
                <div class="col-sm-8">
                    <select name="businessType" class="form-control m-b" required>
                        <option value="0">个人</option>
                        <option value="1">商家</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">省：</label>
                <div class="col-sm-8">
                    <select id="provinceSelect" name="provinceCode" class="form-control m-b" th:onchange="changeAreaCode('provinceSelect')"
                            th:with="areas=${@iAddressService.selectAddressByParentCode('0')}">
                        <option value="0">--请选择--</option>
                        <option th:each="area : ${areas}"
                                th:text="${area.areaName}"
                                th:value="${area.areaCode}" onclick="alert(0)"/>
                    </select>
                    <input id="provinceName" name="provinceName" type="text" style="display:none" value="">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">市：</label>
                <div class="col-sm-8">
                    <select id="citySelect" name="cityCode" class="form-control m-b" th:onchange="changeAreaCode('citySelect')">
                        <option value="0">--请选择--</option>
                    </select>
                    <input id="cityName" name="cityName" type="text" style="display:none" value="">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">县：</label>
                <div class="col-sm-8">
                    <select id="countrySelect" name="countryCode" class="form-control m-b" th:onchange="changeAreaCode('countrySelect')">
                        <option value="0">--请选择--</option>
                    </select>
                    <input id="countryName" name="countryName" type="text" style="display:none" value="">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">乡/镇：</label>
                <div class="col-sm-8">
                    <select id="townSelect" name="townCode" class="form-control m-b" th:onchange="changeAreaCode('townSelect')">
                        <option value="0">--请选择--</option>
                    </select>
                    <input id="townName" name="townName" type="text" style="display:none" value="">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">详细地址信息：</label>
                <div class="col-sm-8">
                    <input name="adress" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">开户行名称：</label>
                <div class="col-sm-8">
                    <input name="bankName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">开户行卡号：</label>
                <div class="col-sm-8">
                    <input name="bankCardNo" class="form-control" type="text" required>
                </div>
            </div>




        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/firm"
        $("#form-firm-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-firm-add').serialize());
            }
        }

        $("input[name='loginDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function changeAreaCode(selectId) {
            var code = '0';
            var nextSelectId = "";
            if ("provinceSelect" == selectId) {
                $("#citySelect").empty();
                $("#countrySelect").empty();
                $("#townSelect").empty();
                code = $("#provinceSelect").find("option:selected").attr("value");
                nextSelectId = "citySelect";
                $("#provinceName").val($("#provinceSelect").find("option:selected").text());
            } else if ("citySelect" == selectId) {
                code = $("#citySelect").find("option:selected").attr("value");
                nextSelectId = "countrySelect";
                $("#cityName").val($("#citySelect").find("option:selected").text());
            } else if ("countrySelect" == selectId) {
                code = $("#countrySelect").find("option:selected").attr("value");
                nextSelectId = "townSelect";
                $("#countryName").val($("#countrySelect").find("option:selected").text());
            } else if ("townSelect" == selectId) {
                $("#townName").val($("#townSelect").find("option:selected").text());
            }

            $.ajax({
                url: '/system/address/childrenList',
                dataType : "json",
                async:true,
                data:{code:code},
                success:function (result) {
                    var str='<option value="">--请选择--</option>';
                    for (var i = 0; i < result.length; i++) {
                        str+='<option value='+result[i].areaCode+'>'+result[i].areaName+'</option>';
                    }
                    $("#" + nextSelectId + "").html(str);
                }

            });
        }
    </script>
</body>
</html>