<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('导入导出日志列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>null：</p>
                                <input type="text" name="id"/>
                            </li>
                            <li class="select-time">
                                <p>航班日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginFlDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endFlDate]"/>
                            </li>
                            <li>
                                <p>飞机号：</p>
                                <input type="text" name="arn"/>
                            </li>
                            <li>
                                <p>机型：</p>
                                <select name="acType" >
                                    <option value="">所有</option>
                                    <option th:each="actype,status:${acTypeList}" th:text="${actype}" th:value="${actype}"></option>
                                </select>
                            </li>
                            <li>
                                <p>起飞机场：</p>
                                <input type="text" name="pod"/>
                            </li>
                            <li>
                                <p>到达机场：</p>
                                <input type="text" name="poa"/>
                            </li>
                            <li>
                                <p>所属公司：</p>
                                <input type="text" name="airline"/>
                            </li>
                            <li>
                                <p>操作人：</p>
                                <input type="text" name="operateBy"/>
                            </li>
                            <li class="select-time">
                                <p>操作时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginOperateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endOperateDate]"/>
                            </li>
                            <li>
                                <p>ip：</p>
                                <input type="text" name="hostIp"/>
                            </li>
                            <li>
                                <p>文件大小：</p>
                                <input type="text" name="fileSize"/>
                            </li>
                            <li>
                                <p>操作类型</p>
                                <select name="operateType">
                                    <option value="">所有</option>
                                    <option value="">导入</option>
                                    <option value="">导出</option>
                                </select>
                            </li>
                            <li>
                                <p>是否成功：</p>
                                <input type="text" name="isSucce"/>
                            </li>
                            <li>
                                <p>失败原因：</p>
 								<input type="text" name="failType"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="arj21:csvmanager/imexportLog:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="arj21:csvmanager/imexportLog:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="arj21:csvmanager/imexportLog:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="arj21:csvmanager/imexportLog:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('arj21:csvmanager/imexportLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('arj21:csvmanager/imexportLog:remove')}]];
        var prefix = ctx + "arj21/csvmanager/imexportLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "导入导出日志",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'flDate', 
                    title : '航班日期'
                },
                {
                    field : 'flNo', 
                    title : '航班号'
                },
                {
                    field : 'arn', 
                    title : '飞机号'
                },
                {
                    field : 'acType', 
                    title : '机型'
                },
                {
                    field : 'pod', 
                    title : '起飞机场'
                },
                {
                    field : 'poa', 
                    title : '到达机场'
                },
                {
                    field : 'airline', 
                    title : '所属公司'
                },
                {
                    field : 'csvPath', 
                    title : 'csv存储路径'
                },
                {
                    field : 'csvName', 
                    title : 'csv文件名'
                },
                {
                    field : 'operateBy', 
                    title : '操作人'
                },
                {
                    field : 'operateDate', 
                    title : '操作时间'
                },
                {
                    field : 'hostIp', 
                    title : 'ip'
                },
                {
                    field : 'fileSize', 
                    title : '文件大小'
                },
                {
                    field : 'operateType', 
                    title : '操作类型'
                },
                {
                    field : 'isSucce', 
                    title : '是否成功'
                },
                {
                    field : 'failType', 
                    title : '失败原因'
                },
                {
                    field : 'createDate', 
                    title : '创建时间'
                },
                {
                    field : 'updateDate', 
                    title : '更新时间'
                },
                {
                    field : 'remarks', 
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>