<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('航班信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <p>航班日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginFlDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endFlDate]"/>
                            </li>
                            <li>
                                <p>机型：</p>
                                <select name="acType" >
                                    <option value="">所有</option>
                                    <option th:each="actype,status:${acTypeList}" th:text="${actype}" th:value="${actype}"></option>
                                </select>
                            </li>
                            <li>
                                <p>飞机号：</p>
                                <input type="text" name="arn"/>
                            </li>
                            <li>
                                <p>起飞机场：</p>
                                <input type="text" name="pod"/>
                            </li>
                            <li>
                                <p>落地机场：</p>
                                <input type="text" name="poa"/>
                            </li>
                            
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                           <!--  <li>
                            	<p>导出类型：</p>
                            	 <select name="exportType" >
                                    <option value="csv">csv</option>
                                    <option value="xml">xml</option>
                                    <option value="txt">txt</option>
                                 </select>
                                 <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;</a>
                            </li> -->
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="arj21:flight:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="arj21:flight:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="arj21:flight:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="arj21:flight:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('arj21:flight:edit')}]];
        var removeFlag = [[${@permission.hasPermi('arj21:flight:remove')}]];
        var prefix = ctx + "arj21/csvmanager";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "航班信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'null',
                    visible: false
                },
                {
                    field : 'csvName', 
                    title : 'csv文件名'
                },
                {
                    field : 'arn', 
                    title : '飞机号'
                },
                {
                    field : 'acType', 
                    title : '机型'
                },
                {
                    field : 'flDate', 
                    title : '航班日期'
                },
                {
                    field : 'pod', 
                    title : '起飞机场'
                },
                {
                    field : 'poa', 
                    title : '到达机场'
                },
                {
                    field : 'createDate', 
                    title : '导入时间'
                }
               
               /*  {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                } */
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>