#if("" != $treeParentCode && $column.javaField == $treeParentCode)

<label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
<div class="col-sm-8">
    <div class="input-group">
        #set($BusinessName=$businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
        #set($treeId = "${className}?.${treeCode}")
        <input id="treeId" name="${treeParentCode}" type="hidden" th:value="${${treeId}}"/>
        <input class="form-control" type="text" onclick="select${BusinessName}Tree()" id="treeName"  th:value="${${treeName}}"#if($column.required) required#end>
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
</div>
#elseif($column.htmlType == "input")
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input id="${field}" name="${field}" class="form-control" #if($column.readonly) readonly="readonly" #end type="text"#if($column.required) required#end>
                </div>
            </div>
#elseif($column.htmlType == "upload")
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="${field}">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="${field}" name="file" type="file">
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "summernote")
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="${field}" name="${field}">
                    <div class="summernote" id="${field}"></div>
                </div>
            </div>
#elseif($column.htmlType == "select" && "" != $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <select name="${field}" class="form-control m-b" th:with="type=${@dict.getType('${dictType}')}"#if($column.required) required#end>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
#elseif($column.htmlType == "select" && $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <select id="${field}" name="${field}" class="form-control m-b"#if($column.required) required#end>
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "checkbox" && "" != $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8" th:with="type=${@dict.getType('${dictType}')}">
                    <label th:each="dict : ${type}" class="check-box">
                        <input id="${field}" name="${field}" type="checkbox" th:value="${dict.dictValue}" th:text="${dict.dictLabel}"#if($column.required) required#end>
                    </label>
                </div>
            </div>
#elseif($column.htmlType == "checkbox" && $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <label class="check-box">
                        <input id="${field}" name="${field}" type="checkbox"#if($column.required) required#end> 无
                    </label>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "radio" && "" != $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('${dictType}')}">
                        <input type="radio" th:id="${'${field}_' + dict.dictCode}" id="${field}" name="${field}" th:value="${dict.dictValue}" th:checked="${dict.default}"#if($column.required) required#end>
                        <label th:for="${'${field}_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
#elseif($column.htmlType == "radio" && $dictType)
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" id="${field}" name="${field}" value=""#if($column.required) required#end>
                        <label th:for="${field}" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
#elseif($column.htmlType == "datetime")
            <div class="col-sm-6">
                <label class="col-sm-4 control-label#if($column.required) is-required#end">${comment}：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="${field}" name="${field}" class="form-control" placeholder="yyyy-MM-dd" type="text"#if($column.required) required#end>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
#end