<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产品分类')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productType-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">产品分类名称：</label>
                <div class="col-sm-8">
                    <input name="productTypeName" class="form-control" type="text" required maxlength="20">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">附件地址：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="imageUrl">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="imageUrl" name="file" type="file">
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 只能上传png jpg gif图片且大小不能超过200KB</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">排序：</label>
                <div class="col-sm-8">
                    <input name="sort"  class="form-control" type="text" required digits="true" min="0" max="100">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 排序数字越大排列越靠前</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否禁用：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="isEnable" value="1">
                        <label th:for="isEnable" th:text="是"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="isEnable" checked value="0">
                        <label th:for="isEnable" th:text="否"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "business/productType"
        $("#form-productType-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-productType-add').serialize());
            }
        }

        $(".file-upload").fileinput({
            uploadUrl: '/common/upload',
            maxFileCount: 1,
            maxFileSize: 200,
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg','png','gif','jpeg'],
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    </script>
</body>
</html>