<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--360浏览器优先以webkit内核解析-->
	<title>BPS后台管理系统</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
	<style type="text/css">
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		#parent {
			height: 100%;
			margin: 0;
			border: 0;
		}
		#child {
			position: absolute;
			top: 40%;
			left: 40%;
			right: 0;
			bottom: 0;
			transform: translate(-50%, -50%);
			border: 0;
		}
	</style>
</head>

<body class="gray-bg">
<div id="parent" class="col-sm-4">
	<div id="child">
		<h3 class="text-primary"> <strong>[[${wordsContent}]]</strong></h3>
		<h5 class="pull-right text-warning">--&nbsp;&nbsp;《[[${wordsOrigin}]]》 · [[${wordsAuthor}]]</h5>
		<br/><br/>
		<h3 class="text-primary"> <strong>[[${oneWordContent}]]</strong></h3>
		<h5 class="pull-right text-warning">--&nbsp;&nbsp;《[[${oneWordOrigin}]]》</h5>
	</div>
</div>

<!--<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>BPS后台管理系统</h2>
		<p>
			<b>版本：</b><a href="http://www.ruoyi.vip" target="_blank"><b>若依 </b></a>v[[${version}]]
		</p>


</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>技术框架</h5>
				</div>
				<div class="ibox-content no-padding">
					<div class="panel-body">
						<div class="panel-group" id="tec">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#tec" href="#vtec01">v4.6.1</a><code class="pull-right">2021.04.12</code>
									</h5>
								</div>
								<div id="vtec01" class="panel-collapse collapse in">
									<div class="panel-body">
										<ol>
											<li>核心框架：Spring Boot。</li>
											<li>安全框架：Apache Shiro。</li>
											<li>模板引擎：Thymeleaf。</li>
											<li>持久层框架：MyBatis。</li>
											<li>定时任务:Quartz。</li>
											<li>数据库连接池：Druid。</li>
											<li>工具类：Fastjson。</li>
											<li>更多……</li>

										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>更新日志</h5>
				</div>
				<div class="ibox-content no-padding">
					<div class="panel-body">
						<div class="panel-group" id="version">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#version" href="#v461">v4.6.1</a><code class="pull-right">2021.04.12</code>
									</h5>
								</div>
								<div id="v461" class="panel-collapse collapse in">
									<div class="panel-body">
										<ol>
											<li>新增IE浏览器版本过低提示页面</li>
											<li>新增详细信息tab页签方式</li>
											<li>新增解锁屏幕打开上次页签</li>
											<li>数据监控默认账户密码防止越权访问</li>
											<li>新增表格示例（导出选择列）</li>
											<li>velocity剔除commons-collections版本，防止3.2.1版本的反序列化漏洞</li>
											<li>升级SpringBoot到最新版本2.2.13</li>
											<li>升级shiro到最新版1.7.1 阻止身份认证绕过漏洞</li>
											<li>升级bootstrapTable到最新版本v1.18.2</li>
											<li>升级bootstrapTable相关组件到最新版本v1.18.2</li>
											<li>升级fastjson到最新版1.2.75</li>
											<li>升级druid到最新版本v1.2.4</li>
											<li>升级oshi到最新版本v5.6.0</li>
											<li>其他细节优化</li>
										</ol>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#version" href="#v46">v4.6.0</a><code class="pull-right">2021.01.01</code>
									</h5>
								</div>
								<div id="v46" class="panel-collapse collapse">
									<div class="panel-body">
										<ol>
											<li>新增缓存监控管理</li>
											<li>新增锁定屏幕功能</li>
											<li>菜单新增是否刷新页面</li>
											<li>删除用户和角色解绑关联</li>
											<li>新增密码强度字符范围提示</li>
											<li>防止匿名访问进行过滤</li>
											<li>升级SpringBoot到最新版本2.2.12</li>
											<li>升级poi到最新版本4.1.2</li>
											<li>升级bitwalker到最新版本1.21</li>
											<li>升级bootstrap-fileinput到最新版本5.1.3</li>
											<li>升级bootstrapTable到最新版本v1.18.0</li>
											<li>升级bootstrapTable相关组件到最新版本v1.18.0</li>
											<li>升级oshi到最新版本v5.3.6</li>
											<li>新增示例（标签 & 提示）</li>
											<li>添加单据打印示例</li>
											<li>修改表格初始参数sortName默认值为undefined</li>
											<li>新增表格参数（自定义打印页面模板printPageBuilder）</li>
											<li>新增表格参数（是否显示行间隔色striped）</li>
											<li>新增表格参数（渲染完成后执行的事件onPostBody）</li>
											<li>Excel注解支持Image图片导出</li>
											<li>Excel支持注解align对齐方式</li>
											<li>Excel支持导入Boolean型数据</li>
											<li>主子表操作添加通用addColumn方法</li>
											<li>代码生成日期控件区分范围</li>
											<li>代码生成数据库文本类型生成表单文本域</li>
											<li>修复生成主子表外键名错误</li>
											<li>选项卡新增是否刷新属性</li>
											<li>修复树表格表头跟表格宽度不同步的问题</li>
											<li>表格树加载完成触发tooltip方法</li>
											<li>使用widthUnit定义树表格选项单位</li>
											<li>修复主子表editColumn序列问题</li>
											<li>修复添加全屏在无参数时没有替换url参数问题</li>
											<li>弹出层openOptions移动端自适应</li>
											<li>防止错误页返回主页出现嵌套问题</li>
											<li>设置回显数据字典验证防止空值</li>
											<li>其他细节优化</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>常用链接</h5>
				</div>
				<div class="ibox-content no-padding">
					<div class="panel-body">
						<div class="panel-group" id="doc">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#doc" href="#vdoc01">开发文档</a><code class="pull-right">2021.04.12</code>
									</h5>
								</div>
								<div id="vdoc01" class="panel-collapse collapse in">
									<div class="panel-body">
										<ol>
											<li><i class="fa fa-send-o"></i> 官方文档：<a href="http://doc.ruoyi.vip/ruoyi" target="_blank">http://doc.ruoyi.vip</a></li>

										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
</body>
</html>
