<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip" target="_blank">http://www.ruoyi.vip</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群：<s>满1389287</s> <s>满1679294</s> <s>满1529866</s> <s>满1772718</s> <s>满1366522</s> <a href="https://jq.qq.com/?_wv=1027&k=5Ofd4Pb" target="_blank">1382251</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ *若依</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v34">v3.4.0</a><code class="pull-right">2019.06.03</code>
								   </h5>
								</div>
								<div id="v34" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
									        <li>新增实例演示菜单及demo</li>
											<li>新增页签右键操作</li>
											<li>菜单管理新增打开方式</li>
											<li>新增点击某行触发的事件</li>
											<li>新增双击某行触发的事件</li>
											<li>新增单击某格触发的事件</li>
											<li>新增双击某格触发的事件</li>
											<li>新增是否启用显示细节视图</li>
											<li>支持上传任意格式文件</li>
											<li>修复角色权限注解失效问题</li>
											<li>左侧的菜单栏宽度调整</li>
											<li>新增响应完成后自定义回调函数</li>
											<li>支持前端及其他模块直接获取用户信息</li>
											<li>升级swagger到最新版2.9.2</li>
											<li>升级jquery.slimscroll到最新版1.3.8</li>
											<li>升级select2到最新版4.0.7</li>
											<li>新增角色配置本部门数据权限</li>
											<li>新增角色配置本部门及以下数据权限</li>
											<li>优化底部操作防止跳到页面顶端</li>
											<li>修改冻结列选框无效及样式问题</li>
											<li>修复部门四层级修改祖级无效问题</li>
											<li>更换开关切换按钮样式</li>
											<li>新增select2-bootstrap美化下拉框</li>
											<li>添加表格内图片预览方法</li>
											<li>修复权限校验失败跳转页面路径错误</li>
											<li>国际化资源文件调整</li>
											<li>通知公告布局调整</li>
											<li>删除页签操作功能</li>
											<li>表格树新增查询指定列值</li>
											<li>更改系统接口扫描方式及完善测试案例</li>
											<li>表格列浮动提示及字典回显默认去背景</li>
											<li>修复启用翻页记住前面的选择check没选中问题</li>
											<li>去除监控页面底部的广告</li>
											<li>日期控件功问题修复及data功能增强</li>
											<li>新增角色权限可见性（前端直接调用）</li>
											<li>新增获取当前登录用户方法（前端及子模块调用）</li>
											<li>修复热部署重启导致菜单丢失问题</li>
											<li>优化业务校验失败普通请求跳转页面</li>
											<li>操作日志新增状态条件查询</li>
											<li>操作类型支持多选条件查询</li>
											<li>通知公告防止滚动触底回弹优化</li>
											<li>其他细节优化</li>
										</ol>
									</div>
								</div>
							 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
