<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductTagMapper">
    
    <resultMap type="ProductTag" id="ProductTagResult">
        <result property="id"    column="id"    />
        <result property="beanName"    column="bean_name"    />
        <result property="rules"    column="rules"    />
        <result property="instructions"    column="instructions"    />
    </resultMap>

    <sql id="selectProductTagVo">
        select id, bean_name, rules, instructions from cbfa_product_tag
    </sql>

    <select id="selectProductTagList" parameterType="ProductTag" resultMap="ProductTagResult">
        <include refid="selectProductTagVo"/>
        <where>  
            <if test="beanName != null  and beanName != ''"> and bean_name like concat('%', #{beanName}, '%')</if>
            <if test="rules != null "> and rules = #{rules}</if>
            <if test="instructions != null  and instructions != ''"> and instructions = #{instructions}</if>
        </where>
    </select>
    
    <select id="selectProductTagById" parameterType="Long" resultMap="ProductTagResult">
        <include refid="selectProductTagVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductTag" parameterType="ProductTag">
        insert into cbfa_product_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="beanName != null  and beanName != ''">bean_name,</if>
            <if test="rules != null ">rules,</if>
            <if test="instructions != null  and instructions != ''">instructions,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="beanName != null  and beanName != ''">#{beanName},</if>
            <if test="rules != null ">#{rules},</if>
            <if test="instructions != null  and instructions != ''">#{instructions},</if>
         </trim>
    </insert>

    <update id="updateProductTag" parameterType="ProductTag">
        update cbfa_product_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="beanName != null  and beanName != ''">bean_name = #{beanName},</if>
            <if test="rules != null ">rules = #{rules},</if>
            <if test="instructions != null  and instructions != ''">instructions = #{instructions},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductTagById" parameterType="Long">
        delete from cbfa_product_tag where id = #{id}
    </delete>

    <delete id="deleteProductTagByIds" parameterType="String">
        delete from cbfa_product_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>