<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bps.mapper.ExpSubscribeMapper">
    
    <resultMap type="ExpSubscribe" id="ExpSubscribeResult">
        <result property="sid"    column="sid"    />
        <result property="company"    column="company"    />
        <result property="number"    column="number"    />
        <result property="phone"    column="phone"    />
        <result property="salt"    column="salt"    />
        <result property="subscribeTime"    column="subscribeTime"    />
        <result property="result"    column="result"    />
        <result property="returnCode"    column="returnCode"    />
        <result property="message"    column="message"    />
        <result property="requestFrom"    column="requestFrom"    />
        <result property="requestId"    column="requestId"    />
    </resultMap>

    <sql id="selectExpSubscribeVo">
        select sid, company, number, phone, salt, subscribeTime, result, returnCode, message, requestFrom, requestId from exp_subscribe
    </sql>

    <select id="selectExpSubscribeList" parameterType="ExpSubscribe" resultMap="ExpSubscribeResult">
        <include refid="selectExpSubscribeVo"/>
        <where>  
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="subscribeTime != null  and subscribeTime != ''"> and subscribeTime like concat('%', #{subscribeTime}, '%')</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="returnCode != null  and returnCode != ''"> and returnCode = #{returnCode}</if>
            <if test="requestFrom != null  and requestFrom != ''"> and requestFrom = #{requestFrom}</if>
            <if test="requestId != null  and requestId != ''"> and requestId = #{requestId}</if>
        </where>
    </select>
    
    <select id="selectExpSubscribeById" parameterType="Long" resultMap="ExpSubscribeResult">
        <include refid="selectExpSubscribeVo"/>
        where sid = #{sid}
    </select>
        
    <insert id="insertExpSubscribe" parameterType="ExpSubscribe" useGeneratedKeys="true" keyProperty="sid">
        insert into exp_subscribe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="company != null">company,</if>
            <if test="number != null">number,</if>
            <if test="phone != null">phone,</if>
            <if test="salt != null">salt,</if>
            <if test="subscribeTime != null">subscribeTime,</if>
            <if test="result != null">result,</if>
            <if test="returnCode != null">returnCode,</if>
            <if test="message != null">message,</if>
            <if test="requestFrom != null">requestFrom,</if>
            <if test="requestId != null">requestId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="company != null">#{company},</if>
            <if test="number != null">#{number},</if>
            <if test="phone != null">#{phone},</if>
            <if test="salt != null">#{salt},</if>
            <if test="subscribeTime != null">#{subscribeTime},</if>
            <if test="result != null">#{result},</if>
            <if test="returnCode != null">#{returnCode},</if>
            <if test="message != null">#{message},</if>
            <if test="requestFrom != null">#{requestFrom},</if>
            <if test="requestId != null">#{requestId},</if>
         </trim>
    </insert>

    <update id="updateExpSubscribe" parameterType="ExpSubscribe">
        update exp_subscribe
        <trim prefix="SET" suffixOverrides=",">
            <if test="company != null">company = #{company},</if>
            <if test="number != null">number = #{number},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="salt != null">salt = #{salt},</if>
            <if test="subscribeTime != null">subscribeTime = #{subscribeTime},</if>
            <if test="result != null">result = #{result},</if>
            <if test="returnCode != null">returnCode = #{returnCode},</if>
            <if test="message != null">message = #{message},</if>
            <if test="requestFrom != null">requestFrom = #{requestFrom},</if>
            <if test="requestId != null">requestId = #{requestId},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteExpSubscribeById" parameterType="Long">
        delete from exp_subscribe where sid = #{sid}
    </delete>

    <delete id="deleteExpSubscribeByIds" parameterType="String">
        delete from exp_subscribe where sid in 
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>

    <select id="selectExpSubscribeByNumber"  resultMap="ExpSubscribeResult">
        <include refid="selectExpSubscribeVo"/>
        where number in
        <foreach  item="number" collection="list" open="(" separator="," close=")">
            #{number}
        </foreach>
    </select>
</mapper>