<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bps.mapper.ExpSubsPushRespMapper">
    
    <resultMap type="ExpSubsPushResp" id="ExpSubsPushRespResult">
        <result property="sid"    column="sid"    />
        <result property="status"    column="status"    />
        <result property="billStatus"    column="billStatus"    />
        <result property="message"    column="message"    />
        <result property="autoCheck"    column="autoCheck"    />
        <result property="comOld"    column="comOld"    />
        <result property="comNew"    column="comNew"    />
        <result property="lastResultMessage"    column="lastResultMessage"    />
        <result property="lastResultState"    column="lastResultState"    />
        <result property="lastResulStatus"    column="lastResulStatus"    />
        <result property="lastResultCondition"    column="lastResultCondition"    />
        <result property="lastResultIsCheck"    column="lastResultIsCheck"    />
        <result property="lastResultCom"    column="lastResultCom"    />
        <result property="lastResultNu"    column="lastResultNu"    />
        <result property="lastResultData"    column="lastResultData"    />
        <result property="destResultMessage"    column="destResultMessage"    />
        <result property="destResultState"    column="destResultState"    />
        <result property="destResultStatus"    column="destResultStatus"    />
        <result property="destResultCondition"    column="destResultCondition"    />
        <result property="destResultIsCheck"    column="destResultIsCheck"    />
        <result property="destResultCom"    column="destResultCom"    />
        <result property="destResultNu"    column="destResultNu"    />
        <result property="destResultData"    column="destResultData"    />
    </resultMap>

    <sql id="selectExpSubsPushRespVo">
        select sid, status, billStatus, message, autoCheck, comOld, comNew, lastResultMessage, lastResultState, lastResulStatus, lastResultCondition, lastResultIsCheck, lastResultCom, lastResultNu, lastResultData, destResultMessage, destResultState, destResultStatus, destResultCondition, destResultIsCheck, destResultCom, destResultNu, destResultData from exp_subs_push_resp
    </sql>

    <select id="selectExpSubsPushRespList" parameterType="ExpSubsPushResp" resultMap="ExpSubsPushRespResult">
        <include refid="selectExpSubsPushRespVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="lastResultState != null  and lastResultState != ''"> and lastResultState = #{lastResultState}</if>
            <if test="lastResultIsCheck != null  and lastResultIsCheck != ''"> and lastResultIsCheck = #{lastResultIsCheck}</if>
            <if test="lastResultCom != null  and lastResultCom != ''"> and lastResultCom = #{lastResultCom}</if>
            <if test="lastResultNu != null  and lastResultNu != ''"> and lastResultNu = #{lastResultNu}</if>
            <if test="destResultState != null  and destResultState != ''"> and destResultState = #{destResultState}</if>
            <if test="destResultIsCheck != null  and destResultIsCheck != ''"> and destResultIsCheck = #{destResultIsCheck}</if>
            <if test="destResultCom != null  and destResultCom != ''"> and destResultCom = #{destResultCom}</if>
            <if test="destResultNu != null  and destResultNu != ''"> and destResultNu = #{destResultNu}</if>
        </where>
    </select>
    
    <select id="selectExpSubsPushRespById" parameterType="Long" resultMap="ExpSubsPushRespResult">
        <include refid="selectExpSubsPushRespVo"/>
        where sid = #{sid}
    </select>
        
    <insert id="insertExpSubsPushResp" parameterType="ExpSubsPushResp" useGeneratedKeys="true" keyProperty="sid">
        insert into exp_subs_push_resp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="billStatus != null">billStatus,</if>
            <if test="message != null">message,</if>
            <if test="autoCheck != null">autoCheck,</if>
            <if test="comOld != null">comOld,</if>
            <if test="comNew != null">comNew,</if>
            <if test="lastResultMessage != null">lastResultMessage,</if>
            <if test="lastResultState != null">lastResultState,</if>
            <if test="lastResulStatus != null">lastResulStatus,</if>
            <if test="lastResultCondition != null">lastResultCondition,</if>
            <if test="lastResultIsCheck != null">lastResultIsCheck,</if>
            <if test="lastResultCom != null">lastResultCom,</if>
            <if test="lastResultNu != null">lastResultNu,</if>
            <if test="lastResultData != null">lastResultData,</if>
            <if test="destResultMessage != null">destResultMessage,</if>
            <if test="destResultState != null">destResultState,</if>
            <if test="destResultStatus != null">destResultStatus,</if>
            <if test="destResultCondition != null">destResultCondition,</if>
            <if test="destResultIsCheck != null">destResultIsCheck,</if>
            <if test="destResultCom != null">destResultCom,</if>
            <if test="destResultNu != null">destResultNu,</if>
            <if test="destResultData != null">destResultData,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="billStatus != null">#{billStatus},</if>
            <if test="message != null">#{message},</if>
            <if test="autoCheck != null">#{autoCheck},</if>
            <if test="comOld != null">#{comOld},</if>
            <if test="comNew != null">#{comNew},</if>
            <if test="lastResultMessage != null">#{lastResultMessage},</if>
            <if test="lastResultState != null">#{lastResultState},</if>
            <if test="lastResulStatus != null">#{lastResulStatus},</if>
            <if test="lastResultCondition != null">#{lastResultCondition},</if>
            <if test="lastResultIsCheck != null">#{lastResultIsCheck},</if>
            <if test="lastResultCom != null">#{lastResultCom},</if>
            <if test="lastResultNu != null">#{lastResultNu},</if>
            <if test="lastResultData != null">#{lastResultData},</if>
            <if test="destResultMessage != null">#{destResultMessage},</if>
            <if test="destResultState != null">#{destResultState},</if>
            <if test="destResultStatus != null">#{destResultStatus},</if>
            <if test="destResultCondition != null">#{destResultCondition},</if>
            <if test="destResultIsCheck != null">#{destResultIsCheck},</if>
            <if test="destResultCom != null">#{destResultCom},</if>
            <if test="destResultNu != null">#{destResultNu},</if>
            <if test="destResultData != null">#{destResultData},</if>
         </trim>
    </insert>

    <update id="updateExpSubsPushResp" parameterType="ExpSubsPushResp">
        update exp_subs_push_resp
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="billStatus != null">billStatus = #{billStatus},</if>
            <if test="message != null">message = #{message},</if>
            <if test="autoCheck != null">autoCheck = #{autoCheck},</if>
            <if test="comOld != null">comOld = #{comOld},</if>
            <if test="comNew != null">comNew = #{comNew},</if>
            <if test="lastResultMessage != null">lastResultMessage = #{lastResultMessage},</if>
            <if test="lastResultState != null">lastResultState = #{lastResultState},</if>
            <if test="lastResulStatus != null">lastResulStatus = #{lastResulStatus},</if>
            <if test="lastResultCondition != null">lastResultCondition = #{lastResultCondition},</if>
            <if test="lastResultIsCheck != null">lastResultIsCheck = #{lastResultIsCheck},</if>
            <if test="lastResultCom != null">lastResultCom = #{lastResultCom},</if>
            <if test="lastResultNu != null">lastResultNu = #{lastResultNu},</if>
            <if test="lastResultData != null">lastResultData = #{lastResultData},</if>
            <if test="destResultMessage != null">destResultMessage = #{destResultMessage},</if>
            <if test="destResultState != null">destResultState = #{destResultState},</if>
            <if test="destResultStatus != null">destResultStatus = #{destResultStatus},</if>
            <if test="destResultCondition != null">destResultCondition = #{destResultCondition},</if>
            <if test="destResultIsCheck != null">destResultIsCheck = #{destResultIsCheck},</if>
            <if test="destResultCom != null">destResultCom = #{destResultCom},</if>
            <if test="destResultNu != null">destResultNu = #{destResultNu},</if>
            <if test="destResultData != null">destResultData = #{destResultData},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteExpSubsPushRespById" parameterType="Long">
        delete from exp_subs_push_resp where sid = #{sid}
    </delete>

    <delete id="deleteExpSubsPushRespByIds" parameterType="String">
        delete from exp_subs_push_resp where sid in 
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>

</mapper>