<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bps.mapper.ExpTopgpLogMapper">
    
    <resultMap type="ExpTopgpLog" id="ExpTopgpLogResult">
        <result property="sid"    column="sid"    />
        <result property="requestId"    column="requestId"    />
        <result property="requestType"    column="requestType"    />
        <result property="expressNum"    column="expressNum"    />
        <result property="deliveryNum"    column="deliveryNum"    />
        <result property="requestStr"    column="requestStr"    />
        <result property="requestTime"    column="requestTime"    />
        <result property="responseCode"    column="responseCode"    />
        <result property="responseStr"    column="responseStr"    />
    </resultMap>

    <sql id="selectExpTopgpLogVo">
        select sid, requestId, requestType, expressNum, deliveryNum, requestStr, requestTime, responseCode, responseStr from exp_topgp_log
    </sql>

    <select id="selectExpTopgpLogList" parameterType="ExpTopgpLog" resultMap="ExpTopgpLogResult">
        <include refid="selectExpTopgpLogVo"/>
        <where>  
            <if test="requestId != null  and requestId != ''"> and requestId = #{requestId}</if>
            <if test="requestType != null  and requestType != ''"> and requestType = #{requestType}</if>
            <if test="expressNum != null  and expressNum != ''"> and expressNum = #{expressNum}</if>
            <if test="deliveryNum != null  and deliveryNum != ''"> and deliveryNum = #{deliveryNum}</if>
            <if test="requestStr != null  and requestStr != ''"> and requestStr = #{requestStr}</if>
            <if test="requestTime != null  and requestTime != ''"> and requestTime = #{requestTime}</if>
            <if test="responseCode != null  and responseCode != ''"> and responseCode = #{responseCode}</if>
            <if test="responseStr != null  and responseStr != ''"> and responseStr = #{responseStr}</if>
        </where>
    </select>
    
    <select id="selectExpTopgpLogBySid" parameterType="Long" resultMap="ExpTopgpLogResult">
        <include refid="selectExpTopgpLogVo"/>
        where sid = #{sid}
    </select>
        
    <insert id="insertExpTopgpLog" parameterType="ExpTopgpLog" useGeneratedKeys="true" keyProperty="sid">
        insert into exp_topgp_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requestId != null">requestId,</if>
            <if test="requestType != null">requestType,</if>
            <if test="expressNum != null">expressNum,</if>
            <if test="deliveryNum != null">deliveryNum,</if>
            <if test="requestStr != null">requestStr,</if>
            <if test="requestTime != null">requestTime,</if>
            <if test="responseCode != null">responseCode,</if>
            <if test="responseStr != null">responseStr,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requestId != null">#{requestId},</if>
            <if test="requestType != null">#{requestType},</if>
            <if test="expressNum != null">#{expressNum},</if>
            <if test="deliveryNum != null">#{deliveryNum},</if>
            <if test="requestStr != null">#{requestStr},</if>
            <if test="requestTime != null">#{requestTime},</if>
            <if test="responseCode != null">#{responseCode},</if>
            <if test="responseStr != null">#{responseStr},</if>
         </trim>
    </insert>

    <update id="updateExpTopgpLog" parameterType="ExpTopgpLog">
        update exp_topgp_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="requestId != null">requestId = #{requestId},</if>
            <if test="requestType != null">requestType = #{requestType},</if>
            <if test="expressNum != null">expressNum = #{expressNum},</if>
            <if test="deliveryNum != null">deliveryNum = #{deliveryNum},</if>
            <if test="requestStr != null">requestStr = #{requestStr},</if>
            <if test="requestTime != null">requestTime = #{requestTime},</if>
            <if test="responseCode != null">responseCode = #{responseCode},</if>
            <if test="responseStr != null">responseStr = #{responseStr},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteExpTopgpLogBySid" parameterType="Long">
        delete from exp_topgp_log where sid = #{sid}
    </delete>

    <delete id="deleteExpTopgpLogBySids" parameterType="String">
        delete from exp_topgp_log where sid in 
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>

</mapper>