<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增生产任务')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-add">
            <h4 class="form-header h4">生产任务信息</h4>
            <div class="form-group">
                <label class="col-sm-3 control-label">任务名称：</label>
                <div class="col-sm-8">
                    <input name="taskName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">产线选择：</label>
                <div class="col-sm-8">
<!--                    <input name="prisonLineId" class="form-control" type="text" required>-->
                    <input id="lineTreeId" name="prisonLineId" type="hidden" />
                    <input class="form-control" type="text" onclick="selectPrisonLineTree()" id="lineTreeName" readonly="true"  required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">订单选择：</label>
                <div class="col-sm-8">
                    <input id="treeId" name="orderId"  type="hidden">
                    <input  id="treeName" readonly="true" onclick="selectOrder(1)"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-sm-3 control-label is-required">任务状态：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control m-b" th:with="type=${@dict.getType('busi_task_status')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <h4 class="form-header h4">订单产品分配</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "busi/task"
        var sizeDatas = [[${@dict.getType('busi_size')}]];
        var colorDatas = [[${@dict.getType('busi_color')}]];
        $("#form-task-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-task-add').serialize());
            }
        }

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'productRequireId',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='busiSubTaskList[%s].productRequireId' value='%s'>", index, value);
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'size',
                    align: 'center',
                    title: '尺码',
                    formatter: function(value, row, index) {
                        var html = $.table.selectDictLabel(sizeDatas, value);
                        return html;
                    }
                },
                {
                    field: 'color',
                    align: 'center',
                    title: '颜色',
                    formatter: function(value, row, index) {
                        var html = $.table.selectDictLabel(colorDatas, value);
                        return html;
                    }
                },
                {
                    field: 'requireAmount',
                    align: 'center',
                    title: '需求数量'
                },
                {
                    field: 'unassignedAmount',
                    align: 'center',
                    title: '未分配数量'
                },
                {
                    field: 'targetAmount',
                    align: 'center',
                    title: '目标数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control digits' type='text' name='busiSubTaskList[%s].targetAmount' value='%s' required>", index, value);
                        return html;
                    }
                }]
            };
            $.table.init(options);
        });

        function addColumn(data) {
            var row = {
                productRequireId: data.productRequireId,
                size: data.size,
                color: data.color,
                requireAmount: data.requireAmount,
                unassignedAmount: data.requireAmount - (data.assignedAmount||0),
                targetAmount: ''
            };
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            // sub.editColumn();
            $("#" + table.options.id).bootstrapTable('insertRow', {
                index: count,
                row: row
            });
        }

        function addValidator(data, index){
            var unassignedAmount = data.requireAmount - (data.assignedAmount||0);
            $("[name='busiSubTaskList[" + index + "].targetAmount']").rules("add", {
                min: 1,
                max: unassignedAmount,
                messages: {
                    min: "分配数量必须大于0",
                    max: "不能超过未分配数量"
                }
            });
        }

        function queryProductRequire(orderId){
            var url = prefix + "/selectProductRequire?orderId="+orderId;
            $.operate.ajaxPost(url, {}, function (result) {
                $("#" + table.options.id).bootstrapTable('removeAll');
                var datas = result.data;
                var index = 0;
                for (var i = 0; i < datas.length; i++) {
                    var data = datas[i];
                    if(data.requireAmount - (data.assignedAmount||0) > 0){
                        addColumn(data);
                        addValidator(data, index++);
                    }
                }
            })
        }

        /*订单选择*/
        function selectOrder(status) {
            var options = {
                title: '选择订单',
                width: "380",
                height: "400",
                url: ctx + "busi/order/selectOrder/" + status,
                callBack: function(index, layero){
                    var body = $.modal.getChildFrame(index);
                    $("#treeId").val(body.find('#treeId').val());
                    $("#treeName").val(body.find('#treeName').val());
                    $.modal.close(index);
                    queryProductRequire(body.find('#treeId').val());
                }
            };
            $.modal.openOptions(options);
        }

        /*监区产线-新增-选择父监区产线树*/
        function selectPrisonLineTree() {
            var options = {
                title: '监区产线选择',
                width: "380",
                url: ctx + "busi/prisonLine/selectPrisonLineTree/" + $("#lineTreeId").val(),
                callBack: function(index, layer){
                    var body = $.modal.getChildFrame(index);
                    console.log(body);
                    $("#lineTreeId").val(body.find('#treeId').val());
                    $("#lineTreeName").val(body.find('#treeName').val());
                    $.modal.close(index);
                }
            };
            $.modal.openOptions(options);
        }
    </script>
</body>
</html>