<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('记录微心愿的列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								微心愿id：<input type="text" name="wishId"/>
							</li>
							<li>
								微心愿名称2：<input type="text" name="wishName"/>
							</li>

							<li>
								微心愿归属地区：<input type="text" name="wishOrg"/>
							</li>

							<li>
								微心愿状态 01.未认领02.已认领03.已完成：<input type="text" name="wishStatus"/>
							</li>

							<li>
								微心愿对象 01党组织团体02党员个体：<input type="text" name="wishTarget"/>
							</li>

							<li>
								微心愿类型 01.组织建设类02.党员需求类03.初心教育类04.业务合作类：<input type="text" name="wishType"/>
							</li>

							<li>
								申请认领次数：<input type="text" name="wishCount"/>
							</li>

							<li>
								是不是推荐 0.是 1.不是：<input type="text" name="isRecommend"/>
							</li>

							<li>
								微心愿项目进展：<input type="text" name="wishProgress"/>
							</li>

							<li>
								微心愿详细描述：<input type="text" name="wishDesc"/>
							</li>

							<li>
								申请人姓名：<input type="text" name="applyerName"/>
							</li>

							<li>
								申请人联系方式：<input type="text" name="applyerPhone"/>
							</li>

							<li>
								申请人所在党组织：<input type="text" name="applyerComp"/>
							</li>

							<li>
								失效日期：<input type="text" name="expireDate"/>
							</li>

							<li>
								生效日期：<input type="text" name="effectDate"/>
							</li>

							<li>
								认领日期：<input type="text" name="claimDate"/>
							</li>

							<li>
								完成日期：<input type="text" name="completeDate"/>
							</li>

							<li>
								图片存储路径：<input type="text" name="savePath"/>
							</li>

							<li>
								创建日期(YYYY-MM-DD hh:mm:ss UUUUUU)：<input type="text" name="gmtCreate"/>
							</li>

							<li>
								创建操作员：<input type="text" name="createOperId"/>
							</li>

							<li>
								修改日期(YYYY-MM-DD hh:mm:ss UUUUUU)：<input type="text" name="gmtModified"/>
							</li>

							<li>
								修改操作员：<input type="text" name="modifiedOperId"/>
							</li>

							<li>
								审核时间(YYYY-MM-DD hh:mm:ss UUUUUU)：<input type="text" name="gmtAudit"/>
							</li>

							<li>
								审核操作员：<input type="text" name="auditOperId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wish:wishInfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="wish:wishInfo:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wish:wishInfo:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wish:wishInfo:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('wish:wishInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('wish:wishInfo:remove')}]];
        var prefix = ctx + "wish/wishInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "记录微心愿的",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'wishId', 
					title : '微心愿ID',
					visible: true
				},
				{
					field : 'wishName', 
					title : '微心愿名称',
					sortable: true
				},
				{
					field : 'wishOrg', 
					title : '微心愿归属地区',
					sortable: true
				},
				{
					field : 'wishStatus', 
					title : '微心愿状态 01.未认领02.已认领03.已完成',
					sortable: true
				},
				{
					field : 'wishTarget', 
					title : '微心愿对象 01党组织团体02党员个体',
					sortable: true
				},
				{
					field : 'wishType', 
					title : '微心愿类型 01.组织建设类02.党员需求类03.初心教育类04.业务合作类',
					sortable: true
				},
				{
					field : 'wishCount', 
					title : '申请认领次数',
					sortable: true
				},
				{
					field : 'isRecommend', 
					title : '是不是推荐 0.是 1.不是',
					sortable: true
				},
				{
					field : 'wishProgress', 
					title : '微心愿项目进展',
					sortable: true
				},
				{
					field : 'wishDesc', 
					title : '微心愿详细描述',
					sortable: true
				},
				{
					field : 'applyerName', 
					title : '申请人姓名',
					sortable: true
				},
				{
					field : 'applyerPhone', 
					title : '申请人联系方式',
					sortable: true
				},
				{
					field : 'applyerComp', 
					title : '申请人所在党组织',
					sortable: true
				},
				{
					field : 'expireDate', 
					title : '失效日期',
					sortable: true
				},
				{
					field : 'effectDate', 
					title : '生效日期',
					sortable: true
				},
				{
					field : 'claimDate', 
					title : '认领日期',
					sortable: true
				},
				{
					field : 'completeDate', 
					title : '完成日期',
					sortable: true
				},
				{
					field : 'savePath', 
					title : '图片存储路径',
					sortable: true
				},
				{
					field : 'gmtCreate', 
					title : '创建日期(YYYY-MM-DD hh:mm:ss UUUUUU)',
					sortable: true
				},
				{
					field : 'createOperId', 
					title : '创建操作员',
					sortable: true
				},
				{
					field : 'gmtModified', 
					title : '修改日期(YYYY-MM-DD hh:mm:ss UUUUUU)',
					sortable: true
				},
				{
					field : 'modifiedOperId', 
					title : '修改操作员',
					sortable: true
				},
				{
					field : 'gmtAudit', 
					title : '审核时间(YYYY-MM-DD hh:mm:ss UUUUUU)',
					sortable: true
				},
				{
					field : 'auditOperId', 
					title : '审核操作员',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.wishId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.wishId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>