<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增快递订阅推送信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-expsubspushresp-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">监控状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="billStatus" value="">
                        <label th:for="billStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">监控状态消息：</label>
                <div class="col-sm-8">
                    <input name="message" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递公司编码是否出错：</label>
                <div class="col-sm-8">
                    <input name="autoCheck" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">原始快递公司编码：</label>
                <div class="col-sm-8">
                    <input name="comOld" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修正快递公司编码：</label>
                <div class="col-sm-8">
                    <input name="comNew" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">当前快递消息：</label>
                <div class="col-sm-8">
                    <input name="lastResultMessage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">当前快递单状态：</label>
                <div class="col-sm-8">
                    <input name="lastResultState" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通讯状态：</label>
                <div class="col-sm-8">
                    <input name="lastResulStatus" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递单明细状态：</label>
                <div class="col-sm-8">
                    <input name="lastResultCondition" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否签收：</label>
                <div class="col-sm-8">
                    <input name="lastResultIsCheck" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递公司编码：</label>
                <div class="col-sm-8">
                    <input name="lastResultCom" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递单号：</label>
                <div class="col-sm-8">
                    <input name="lastResultNu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递流转信息：</label>
                <div class="col-sm-8">
                    <input name="lastResultData" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递消息：</label>
                <div class="col-sm-8">
                    <input name="destResultMessage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递单状态：</label>
                <div class="col-sm-8">
                    <input name="destResultState" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国通讯状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="destResultStatus" value="">
                        <label th:for="destResultStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递单明细状态：</label>
                <div class="col-sm-8">
                    <input name="destResultCondition" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国是否签收：</label>
                <div class="col-sm-8">
                    <input name="destResultIsCheck" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递公司编码：</label>
                <div class="col-sm-8">
                    <input name="destResultCom" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递单号：</label>
                <div class="col-sm-8">
                    <input name="destResultNu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">目的国快递流转信息：</label>
                <div class="col-sm-8">
                    <input name="destResultData" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "bps/expsubspushresp"
        $("#form-expsubspushresp-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-expsubspushresp-add').serialize());
            }
        }
    </script>
</body>
</html>