<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('快递订阅推送信息列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label class="font-noraml">当前状态：</label>
                                <select  class="form-control select" name="lastResultState" th:with="type=${@dict.getType('express_stats')}">
                                    <option value="">---所有---</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label class="font-noraml">是否签收：</label>
                                <select  class="form-control" name="lastResultIsCheck">
                                    <option value="">---所有---</option>
                                    <option value="0">未签收</option>
                                    <option value="1">已签收</option>
                                </select>
                            </li>
                            <li>
                                <label class="font-noraml">快递公司：</label>
                                <select  class="form-control" name="lastResultCom" th:with="type=${@dict.getType('express_company')}">
                                    <option value="">---所有---</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>快递单号：</label>
                                <input type="text" name="lastResultNu"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bps:expsubspushresp:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="bps:expsubspushresp:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bps:expsubspushresp:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bps:expsubspushresp:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('bps:expsubspushresp:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bps:expsubspushresp:remove')}]];
        var companyDatas = [[${@dict.getType('express_company')}]];
        var statsDatas = [[${@dict.getType('express_stats')}]];
        var prefix = ctx + "bps/expsubspushresp";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "快递订阅推送信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'sid',
                    title: 'SID',
                    visible: false
                },
                /*{
                    field: 'status',
                    title: '监控状态'
                },
                {
                    field: 'billStatus',
                    title: '状态'
                },
                {
                    field: 'message',
                    title: '监控状态消息'
                },
                {
                    field: 'autoCheck',
                    title: '快递公司编码是否出错'
                },
                {
                    field: 'comOld',
                    title: '原始快递公司编码'
                },
                {
                    field: 'comNew',
                    title: '修正快递公司编码'
                },
                {
                    field: 'lastResultMessage',
                    title: '当前快递消息'
                },*/
                {
                    field: 'lastResultState',
                    title: '当前状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statsDatas, value);
                    }
                },
                {
                    field: 'lastResulStatus',
                    title: '通讯状态'
                },
                /*{
                    field: 'lastResultCondition',
                    title: '快递单明细状态'
                },*/
                {
                    field: 'lastResultIsCheck',
                    title: '是否签收',
                    formatter: function(value, row, index) {
                        if(value=="0"){return "未签收";}
                        if(value=="1"){return "已签收";}
                        return value;
                    }
                },
                {
                    field: 'lastResultCom',
                    title: '快递公司',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(companyDatas, value);
                    }
                },
                {
                    field: 'lastResultNu',
                    title: '快递单号'
                },
                {
                    field: 'lastResultData',
                    title: '运单详情',
                    formatter:function (value,row,index){
                        return value.replace(/(\r\n)|(\n)/g,'<br>');
                    }
                },/*
                {
                    field: 'destResultMessage',
                    title: '目的国快递消息'
                },
                {
                    field: 'destResultState',
                    title: '目的国快递单状态'
                },
                {
                    field: 'destResultStatus',
                    title: '目的国通讯状态'
                },
                {
                    field: 'destResultCondition',
                    title: '目的国快递单明细状态'
                },
                {
                    field: 'destResultIsCheck',
                    title: '目的国是否签收'
                },
                {
                    field: 'destResultCom',
                    title: '目的国快递公司编码'
                },
                {
                    field: 'destResultNu',
                    title: '目的国快递单号'
                },
                {
                    field: 'destResultData',
                    title: '目的国快递流转信息'
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.sid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.sid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>