<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.activity.mapper.ActPageConfigGuideMapper">
    
    <resultMap type="ActPageConfigGuide" id="ActPageConfigGuideResult">
        <result property="id"    column="id"    />
        <result property="actCode"    column="act_code"    />
        <result property="actTitle"    column="act_title"    />
        <result property="actDesc"    column="act_desc"    />
        <result property="bgImg"    column="bg_img"    />
        <result property="btnText"    column="btn_text"    />
        <result property="btnLink"    column="btn_link"    />
        <result property="btnLink2"    column="btn_link2"    />
        <result property="btnText2"    column="btn_text2"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectActPageConfigGuideVo">
        select id, act_code, act_title, act_desc, bg_img, btn_text, btn_link, btn_link2, btn_text2, create_time, update_time from act_page_config_guide
    </sql>

    <select id="selectActPageConfigGuideList" parameterType="ActPageConfigGuide" resultMap="ActPageConfigGuideResult">
        <include refid="selectActPageConfigGuideVo"/>
        <where>  
            <if test="actCode != null  and actCode != ''"> and act_code = #{actCode}</if>
            <if test="actTitle != null  and actTitle != ''"> and act_title = #{actTitle}</if>
            <if test="actDesc != null  and actDesc != ''"> and act_desc = #{actDesc}</if>
            <if test="bgImg != null  and bgImg != ''"> and bg_img = #{bgImg}</if>
            <if test="btnText != null  and btnText != ''"> and btn_text = #{btnText}</if>
            <if test="btnLink != null  and btnLink != ''"> and btn_link = #{btnLink}</if>
            <if test="btnLink2 != null  and btnLink2 != ''"> and btn_link2 = #{btnLink2}</if>
            <if test="btnText2 != null  and btnText2 != ''"> and btn_text2 = #{btnText2}</if>
        </where>
    </select>
    
    <select id="selectActPageConfigGuideById" parameterType="Integer" resultMap="ActPageConfigGuideResult">
        <include refid="selectActPageConfigGuideVo"/>
        where id = #{id}
    </select>
    <select id="selectActPageConfigGuideByCode" resultMap="ActPageConfigGuideResult">
        <include refid="selectActPageConfigGuideVo"/>
        where act_code = #{drawCode}
    </select>

    <insert id="insertActPageConfigGuide" parameterType="ActPageConfigGuide" useGeneratedKeys="true" keyProperty="id">
        insert into act_page_config_guide
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actCode != null and actCode != ''">act_code,</if>
            <if test="actTitle != null">act_title,</if>
            <if test="actDesc != null">act_desc,</if>
            <if test="bgImg != null">bg_img,</if>
            <if test="btnText != null">btn_text,</if>
            <if test="btnLink != null">btn_link,</if>
            <if test="btnLink2 != null">btn_link2,</if>
            <if test="btnText2 != null">btn_text2,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actCode != null and actCode != ''">#{actCode},</if>
            <if test="actTitle != null">#{actTitle},</if>
            <if test="actDesc != null">#{actDesc},</if>
            <if test="bgImg != null">#{bgImg},</if>
            <if test="btnText != null">#{btnText},</if>
            <if test="btnLink != null">#{btnLink},</if>
            <if test="btnLink2 != null">#{btnLink2},</if>
            <if test="btnText2 != null">#{btnText2},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateActPageConfigGuide" parameterType="ActPageConfigGuide">
        update act_page_config_guide
        <trim prefix="SET" suffixOverrides=",">
            <if test="actCode != null and actCode != ''">act_code = #{actCode},</if>
            <if test="actTitle != null">act_title = #{actTitle},</if>
            <if test="actDesc != null">act_desc = #{actDesc},</if>
            <if test="bgImg != null">bg_img = #{bgImg},</if>
            <if test="btnText != null">btn_text = #{btnText},</if>
            <if test="btnLink != null">btn_link = #{btnLink},</if>
            <if test="btnLink2 != null">btn_link2 = #{btnLink2},</if>
            <if test="btnText2 != null">btn_text2 = #{btnText2},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteActPageConfigGuideById" parameterType="Integer">
        delete from act_page_config_guide where id = #{id}
    </delete>

    <delete id="deleteActPageConfigGuideByIds" parameterType="String">
        delete from act_page_config_guide where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>