<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增资源使用申请')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-busResourceApply-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">资源id：</label>
				<div class="col-sm-8">
					<input id="resourceId" name="resourceId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请状态（00待审核/01已通过/99未通过）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请人id：</label>
				<div class="col-sm-8">
					<input id="applyUserId" name="applyUserId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请人名称：</label>
				<div class="col-sm-8">
					<input id="applyUserName" name="applyUserName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请时间：</label>
				<div class="col-sm-8">
					<input id="applyTime" name="applyTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请备注：</label>
				<div class="col-sm-8">
					<input id="applyRemark" name="applyRemark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核人id：</label>
				<div class="col-sm-8">
					<input id="auditUserId" name="auditUserId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核人名称：</label>
				<div class="col-sm-8">
					<input id="auditUserName" name="auditUserName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核时间：</label>
				<div class="col-sm-8">
					<input id="auditTime" name="auditTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审核意见：</label>
				<div class="col-sm-8">
					<input id="auditRemark" name="auditRemark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/busResourceApply"
		$("#form-busResourceApply-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-busResourceApply-add').serialize());
	        }
	    }
	</script>
</body>
</html>
