<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.news.mapper.NewsNotificationMapper">
    
    <resultMap type="NewsNotification" id="NewsNotificationResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="unit"    column="unit"    />
        <result property="instructor"    column="instructor"    />
        <result property="contenu"    column="contenu"    />
        <result property="auteur"    column="auteur"    />
        <result property="date"    column="date"    />
        <result property="files"    column="files"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectNewsNotificationVo">
        select id, title, unit, instructor, contenu, auteur, date, files, status from news_notification
    </sql>

    <select id="selectNewsNotificationList" parameterType="NewsNotification" resultMap="NewsNotificationResult">
        <include refid="selectNewsNotificationVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="instructor != null  and instructor != ''"> and instructor = #{instructor}</if>
            <if test="contenu != null  and contenu != ''"> and contenu = #{contenu}</if>
            <if test="auteur != null  and auteur != ''"> and auteur = #{auteur}</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="files != null  and files != ''"> and files = #{files}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectNewsNotificationById" parameterType="Long" resultMap="NewsNotificationResult">
        <include refid="selectNewsNotificationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNewsNotification" parameterType="NewsNotification" useGeneratedKeys="true" keyProperty="id">
        insert into news_notification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="unit != null">unit,</if>
            <if test="instructor != null">instructor,</if>
            <if test="contenu != null">contenu,</if>
            <if test="auteur != null">auteur,</if>
            <if test="date != null">date,</if>
            <if test="files != null">files,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="unit != null">#{unit},</if>
            <if test="instructor != null">#{instructor},</if>
            <if test="contenu != null">#{contenu},</if>
            <if test="auteur != null">#{auteur},</if>
            <if test="date != null">#{date},</if>
            <if test="files != null">#{files},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateNewsNotification" parameterType="NewsNotification">
        update news_notification
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="instructor != null">instructor = #{instructor},</if>
            <if test="contenu != null">contenu = #{contenu},</if>
            <if test="auteur != null">auteur = #{auteur},</if>
            <if test="date != null">date = #{date},</if>
            <if test="files != null">files = #{files},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsNotificationById" parameterType="Long">
        delete from news_notification where id = #{id}
    </delete>

    <delete id="deleteNewsNotificationByIds" parameterType="String">
        delete from news_notification where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>