<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('编码申请数据列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>申请单ID：</label>
                                <input type="text" name="appId"/>
                            </li>
                            <li>
                                <label>CC或者ID：</label>
                                <select name="type">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>CC代码或ID代码：</label>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <label>设计描述：</label>
                                <input type="text" name="designDesc"/>
                            </li>
                            <li>
                                <label>中文公制短描述：</label>
                                <input type="text" name="zhCnShortDesc"/>
                            </li>
                            <li>
                                <label>中文公制长描述：</label>
                                <input type="text" name="zhCnLongDesc"/>
                            </li>
                            <li>
                                <label>中文英制短描述：</label>
                                <input type="text" name="zhEnShortDesc"/>
                            </li>
                            <li>
                                <label>中文英制长描述：</label>
                                <input type="text" name="zhEnLongDesc"/>
                            </li>
                            <li>
                                <label>俄文公制短描述：</label>
                                <input type="text" name="ruCnShortDesc"/>
                            </li>
                            <li>
                                <label>俄文公制长描述：</label>
                                <input type="text" name="ruCnLongDesc"/>
                            </li>
                            <li>
                                <label>俄文英制短描述：</label>
                                <input type="text" name="ruEnShortDesc"/>
                            </li>
                            <li>
                                <label>俄文英制长描述：</label>
                                <input type="text" name="ruEnLongDesc"/>
                            </li>
                            <li>
                                <label>英文公制短描述：</label>
                                <input type="text" name="enCnShortDesc"/>
                            </li>
                            <li>
                                <label>英文公制长描述：</label>
                                <input type="text" name="enCnLongDesc"/>
                            </li>
                            <li>
                                <label>英文英制短描述：</label>
                                <input type="text" name="enEnShortDesc"/>
                            </li>
                            <li>
                                <label>英文英制长描述：</label>
                                <input type="text" name="enEnLongDesc"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:data:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:data:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:data:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:data:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:data:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:data:remove')}]];
        var prefix = ctx + "system/data";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "编码申请数据",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'appDataId',
                    title: '申请单明细主键seq_sys_app_data.nextval',
                    visible: false
                },
                {
                    field: 'appId',
                    title: '申请单ID'
                },
                {
                    field: 'type',
                    title: 'CC或者ID'
                },
                {
                    field: 'code',
                    title: 'CC代码或ID代码'
                },
                {
                    field: 'designDesc',
                    title: '设计描述'
                },
                {
                    field: 'zhCnShortDesc',
                    title: '中文公制短描述'
                },
                {
                    field: 'zhCnLongDesc',
                    title: '中文公制长描述'
                },
                {
                    field: 'zhEnShortDesc',
                    title: '中文英制短描述'
                },
                {
                    field: 'zhEnLongDesc',
                    title: '中文英制长描述'
                },
                {
                    field: 'ruCnShortDesc',
                    title: '俄文公制短描述'
                },
                {
                    field: 'ruCnLongDesc',
                    title: '俄文公制长描述'
                },
                {
                    field: 'ruEnShortDesc',
                    title: '俄文英制短描述'
                },
                {
                    field: 'ruEnLongDesc',
                    title: '俄文英制长描述'
                },
                {
                    field: 'enCnShortDesc',
                    title: '英文公制短描述'
                },
                {
                    field: 'enCnLongDesc',
                    title: '英文公制长描述'
                },
                {
                    field: 'enEnShortDesc',
                    title: '英文英制短描述'
                },
                {
                    field: 'enEnLongDesc',
                    title: '英文英制长描述'
                },
                {
                    field: 'status',
                    title: '状态'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.appDataId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.appDataId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>