<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goodsTradeModel-edit" th:object="${goodsTradeModel}">
            <input id="modelId" name="modelId" th:field="*{modelId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">品种代码：</label>
                <div class="col-sm-8">
                    <input id="code" name="code" th:field="*{code}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">基础成交量：</label>
                <div class="col-sm-8">
                    <input id="basicVolumes" name="basicVolumes" th:field="*{basicVolumes}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">模型状态 （启用，停用）：</label>
                <div class="col-sm-8">
                    <input id="modelStatus" name="modelStatus" th:field="*{modelStatus}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">建仓价：</label>
                <div class="col-sm-8">
                    <input id="buildingPrice" name="buildingPrice" th:field="*{buildingPrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">平仓价：</label>
                <div class="col-sm-8">
                    <input id="exitPrice" name="exitPrice" th:field="*{exitPrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">止损价：</label>
                <div class="col-sm-8">
                    <input id="stopPrice" name="stopPrice" th:field="*{stopPrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <input id="creater" name="creater" th:field="*{creater}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "mengyu/goodsTradeModel"
		$("#form-goodsTradeModel-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-goodsTradeModel-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
