<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('DOE分析')" />
</head>
<body class="gray-bg">
	<div class="container-div" style="overflow: hidden">
		<div class="row" style="height: 80%;">
			<div class="col-sm-12 search-collapse">
				<form id="search-form">
					<div class="select-list">
						<ul>
							<li>
								板名：<input type="text" name="productname" id="productname" required/>
							</li>
							<li>
								版本：<input type="text" name="version" id="version" required/>
							</li>
							<li>
								筛选：
								<select name="dataType" id="dataType" required>
									<option value="keyParam" selected>关键工艺参数</option>
									<option value="rework">维修不良</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeSearch()"><i class="fa fa-search"></i>&nbsp;检索</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        
	        <div id="search-result-div1" class="col-sm-12 select-table table-striped" style="height:90%;">
			    <table id="search-result-keyparam-table" class="table table-striped table-fixed-header"   data-filter-control="true"
					   data-filter-show-clear="true" ></table>
			</div>
			<div id="search-result-div2" class="col-sm-12 select-table table-striped" style="height:90%; display: none;">
				<table id="search-result-rework-table" class="table table-striped table-fixed-header" data-filter-control="true"
					   data-filter-show-clear="true"></table>
			</div>
		</div>
		<div class="row" style="height: 20%;">
			<div class="col-sm-12 search-collapse">
				<form id="calculate-form">
					<div class="select-list">
						<ul>
							<li>
								数量：<input type="text" name="quantity" id="quantity" required/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeCalculate()"><i class="fa fa-play-circle"></i>&nbsp;计算</a>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeSave()"><i class="fa fa-save"></i>&nbsp;结果入库</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div id="calculate-result-div" class="col-sm-12 select-table table-striped" style="overflow: scroll;height:80%;">
				<table id="calculate-result-table" class="table table-striped table-fixed-header" data-height="300" style="display: none"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "doeAnalysis.do";
		//当前表格检索结果，使用的dataType
		var currentDataType = "";
		var currentProductName = "";
		var currentVersion = "";

		$(document).ready(function(){

			var divHeight = $("#search-result-div1").height() - 40;
			initKeyParamTable(divHeight);
			initReworkTable(divHeight);
			$("#search-result-div2").hide();
			initCalculateResultTable();
			$("#calculate-result-table").hide();
		});
		//onmouseup松开鼠标时执行
		//模拟鼠标滚动事件，以实现横向滚动条的移动，表头跟数据对应
		function onmouseUP(){
			var scrollTop = document.getElementsByTagName("body")[0].scrollTop;
			scrollTop -= 10;
			// $(".table-fixed-header").fixedHeader();
			//alert(scrollTop)
		}


		function initKeyParamTable(divHeight) {
		    var options = {
		        sortName: "roleSort",
				pagination: false,
				modalName: "DOE分析-关键工艺参数",
				height: divHeight,
				filterControl: true,
		        columns: [
					{
		            	checkbox: true
					},
					{
						field: 'index',
						title: '序号',
						sortable: false,
						formatter: function (value, row, index) {
							return index + 1;
						}
					},
					{
						field: 'keyparamtype',
						title: '规则名',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true,
						formatter: function(value, row, index) {
							return $.table.tooltip(row.keyparamdesc);
						}
					},
					{
						field: 'refdes',
						title: '位号',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'keyparttype',
						title: '器件类型',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'relativerefdes',
						title: '关联位号',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'relativeparttype',
						title: '关联类型',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'measurementvalue',
						title: '测量值',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'checkvalue',
						title: '规则值',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'isRework',
						title: '是否维修',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'defecttype',
						title: '维修类型关联',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'boardbarcode',
						title: '单板条码',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					}
		        ]
		    };
			$("#search-result-keyparam-table").bootstrapTable(options);

			//固定表头
			$("#search-result-keyparam-table").on("post-body.bs.table",function(){
				//alert(1);
				$("#search-result-keyparam-table thead").addClass("header");
				// $(".table-fixed-header").fixedHeader();
				onmouseUP();
			});

		}


		function initReworkTable(divHeight) {
			var options = {
				sortName: "roleSort",
				pagination: false,
				modalName: "DOE分析-关键工艺参数",
				filterControl: true,
				height: divHeight,
				columns: [
					{
						checkbox: true
					},
					{
						field: 'index',
						title: '序号',
						sortable: false,
						formatter: function (value, row, index) {
							return index + 1;
						}
					},
					{
						field: 'boardbarcode',
						title: '单板条码',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'refdes',
						title: '位号',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'defecttype',
						title: '维修类型',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'isRelativeKeyParam',
						title: '是否关联关键工艺参数',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'keyparamtype',
						title: '规则名',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true,
						formatter: function(value, row, index) {
							return $.table.tooltip(row.keyparamdesc);
						}
					},
					{
						field: 'measurementvalue',
						title: '测量值',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					},
					{
						field: 'checkvalue',
						title: '规则值',
						sortable: false,
						filterControl: 'select',
						filterStrictSearch: true
					}
				]
			};
			$("#search-result-rework-table").bootstrapTable(options);
			//固定表头
			$("#search-result-rework-table").on("post-body.bs.table",function(){
				//alert(1);
				$("#search-result-rework-table thead").addClass("header");
				// $(".table-fixed-header").fixedHeader();
				onmouseUP();
			});
		}

		function fillKeyParamTable(data) {
			$("#search-result-keyparam-table").bootstrapTable('load', data);
		}

		function fillReworkTable(data) {
			$("#search-result-rework-table").bootstrapTable('load', data);
		}


		function doeSearch() {
			var data = $("#search-form").serialize();
			$.ajax({
				url: prefix + "/list",
				data: data,
				cache:false,
				dataType:"json",
				success: function(json){
					//销毁表格
					$("#search-result-table").html("");
					var dataType = $("#dataType").val();
					currentDataType = dataType;
					currentProductName = $("#productname").val();
					currentVersion = $("#version").val();
					if("keyParam"== dataType) {
						fillKeyParamTable(json);
						$("#search-result-div2").hide();
						$("#search-result-div1").show();
					} else {
						fillReworkTable(json);
						$("#search-result-div1").hide();
						$("#search-result-div2").show();
					}
				}
			});
		}

		function doeCalculate() {
			var quantity = $("#quantity").val();
			if($.trim(quantity) == "") {
				$.modal.alertError("请填写计算数量！");
				return;
			}
			var data;
			if("keyParam"== currentDataType) {
				data = $('#search-result-keyparam-table').bootstrapTable('getAllSelections');
			} else {
				data = $('#search-result-rework-table').bootstrapTable('getAllSelections');
			}
			if(data.length <= 0) {
				$.modal.alertError("请选择需要计算的数据！");
				return;
			}

			var newData = new Array();
			for (var i = 0; i < data.length; i++) {
				var newObj = {
					Keyparamtype: data[i].keyparamtype,
					Refdes: data[i].refdes,
					Defecttype: data[i].defecttype
				};
				newData.push(newObj);
			}
			var param = {
				quantity: $("#quantity").val(),
				productname : currentProductName,
				version: currentVersion,
				body: JSON.stringify(newData)
			};

			$.ajax({
				url: prefix + "/calculate",
				data: param,
				type: 'post',
				cache:false,
				dataType:"json",
				success: function(json){
					$("#calculate-result-table").bootstrapTable('load', json);
					$("#calculate-result-table").show();
				}
			});
		}


		function initCalculateResultTable() {
			var options = {
				sortName: "roleSort",
				pagination: false,
				modalName: "DOE分析-计算结果",
				columns: [
					{
						field: 'index',
						title: '序号',
						sortable: false,
						formatter: function (value, row, index) {
							return index + 1;
						}
					},
					{
						field: 'DataType',
						title: '规则名',
						sortable: false
					},
					{
						field: 'DataValue',
						title: 'DPPM值影响',
						sortable: false
					}
				]
			};
			$("#calculate-result-table").bootstrapTable(options);
			$("#calculate-result-table").show();
			//固定表头
			$("#calculate-result-table").on("post-body.bs.table",function(){
				//alert(1);
				$("#calculate-result-table thead").addClass("header");
				// $(".table-fixed-header").fixedHeader();
				onmouseUP();
			});
		}

		function doeSave() {
			//获取所有数据
			var rows = $('#calculate-result-table').bootstrapTable('getData',{useCurrentPage:true,includeHiddenRows:true});
			if(rows.length <= 0) {
				$.modal.alertError("请先计算出结果，再保存数据");
				return;
			}
			var param = {
				productname : currentProductName,
				version: currentVersion,
				body: JSON.stringify(rows)
			};

			$.ajax({
				url: prefix + "/save",
				data: param,
				type: 'post',
				cache:false,
				dataType:"json",
				success: function(json){
					if(null == json || 0 != json.code) {
						$.modal.alertSuccess("结果入库失败！");
					} else {
						$.modal.alertSuccess("结果入库成功！");
					}
				}
			});
		}


	</script>
	<!--<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>-->
	<script type="text/javascript" th:src="@{/ajax/libs/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js}" th:inline="none"></script>
</body>
</html>