<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
	<!--<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">-->

	<!--<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>-->
	<!--<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>-->
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="search-form">
					<div class="select-list">
						<ul>
							<li>
								板名：<input type="text" name="productname" required/>
							</li>
							<li>
								版本：<input type="text" name="version" required/>
							</li>
							<li>
								筛选：
								<select name="dataType" id="dataType" required>
									<option value="keyParam" selected>关键工艺参数</option>
									<option value="rework">维修不良</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeSearch()"><i class="fa fa-search"></i>&nbsp;检索</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        
	        <div id="search-result-div" class="col-sm-12 select-table table-striped" style="overflow: scroll;height: 300px;">
			    <table id="search-result-keyparam-table">
				</table>
				<table id="search-result-rework-table" style="display: none"></table>
			</div>

			<div class="col-sm-12 search-collapse">
				<form id="calculate-form">
					<div class="select-list">
						<ul>
							<li>
								数量：<input type="text" name="quantity" id="quantity" required/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeCalculate()"><i class="fa fa-play-circle"></i>&nbsp;计算</a>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="javascript:doeSave()"><i class="fa fa-save"></i>&nbsp;结果入库</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div id="calculate-result-div" class="col-sm-12 select-table table-striped" style="overflow: scroll;height: 200px;">
				<table id="calculate-result-table"></table>
			</div>

		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "doeAnalysis.do";
		//当前表格检索结果，使用的dataType
		var currentDataType = "";

		$(document).ready(function(){
			initKeyParamTable();
			initReworkTable();
			$("#search-result-rework-table").hide();
		});

		function initKeyParamTable() {
		    var options = {
		        sortName: "roleSort",
				pagination: false,
				modalName: "DOE分析-关键工艺参数",
		        columns: [
					{
		            	checkbox: true
					},
					{
						field: 'keyparamtype',
						title: '规则名',
						sortable: false
					},
					{
						field: 'refdes',
						title: '位号',
						sortable: false
					},
					{
						field: 'keyparttype',
						title: '器件类型',
						sortable: false
					},
					{
						field: 'relativerefdes',
						title: '关联位号',
						sortable: false
					},
					{
						field: 'relativeparttype',
						title: '关联类型',
						sortable: false
					},
					{
						field: 'measurementvalue',
						title: '测量值',
						sortable: false
					},
					{
						field: 'checkvalue',
						title: '规则值',
						sortable: false
					},
					{
						field: 'isRework',
						title: '是否维修',
						sortable: false
					},
					{
						field: 'defecttype',
						title: '维修类型关联',
						sortable: false,
						formatter: function (value, row, index) {
							var html="";
							html += "<select name=\"status\" class=\"form-control m-b\" multiple>";
							if($.trim(value) != "") {
								var defecttypes = value.split(",");
								for (var i = 0; i < defecttypes.length; i++) {
									html += "<option value=\""+defecttypes[i]+"\">"+defecttypes[i]+"</option>";
								}
							}
							html += "</select>";
							return html;
						}
					}
		        ]
		    };
		    $.table.init(options);
			$("#search-result-keyparam-table").bootstrapTable(options);
		}



		function initReworkTable() {
			var options = {
				sortName: "roleSort",
				pagination: false,
				modalName: "DOE分析-关键工艺参数",
				columns: [
					{
						checkbox: true
					},
					{
						field: 'refdes',
						title: '位号',
						sortable: false
					},
					{
						field: 'defecttype',
						title: '维修类型',
						sortable: false
					},
					{
						field: 'isRelativeKeyParam',
						title: '是否关联关键工艺参数',
						sortable: false
					},
					{
						field: 'keyparamtype',
						title: '规则名',
						sortable: false
					},
					{
						field: 'measurementvalue',
						title: '测量值',
						sortable: false
					},
					{
						field: 'checkvalue',
						title: '规则值',
						sortable: false
					}
				]
			};
			$.table.init(options);

			$("#search-result-rework-table").bootstrapTable(options);
		}

		function fillKeyParamTable(data) {
			$("#search-result-keyparam-table").bootstrapTable('load', data);
		}

		function fillReworkTable(data) {
			$("#search-result-rework-table").bootstrapTable('load', data);
		}


		function doeSearch() {
			var data = $("#search-form").serialize();
			$.ajax({
				url: prefix + "/list",
				data: data,
				cache:false,
				dataType:"json",
				success: function(json){
					//销毁表格
					$("#search-result-table").html("");
					var dataType = $("#dataType").val();
					currentDataType = dataType;
					if("keyParam"== dataType) {
						fillKeyParamTable(json);
						$("#search-result-rework-table").hide();
						$("#search-result-keyparam-table").show();
					} else {
						fillReworkTable(json);
						$("#search-result-keyparam-table").hide();
						$("#search-result-rework-table").show();
					}
				}
			});
		}

		function doeCalculate() {

		}

		function doeSave() {

		}


	</script>
</body>
</html>