<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								员工姓名：<input type="text" name="name"/>
							</li>
							<li>
								用户名：<input type="text" name="username"/>
							</li>
							<li>
								所在部门：<input type="text" name="department"/>
							</li>
							<li>
								项目组：<input type="text" name="projectGroup"/>
							</li>
							<li>
								状态：<select name="state">
								<option value="-1">--请选择--</option>
								<option value="0">启用</option>
								<option value="1">禁用</option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.addTab()" >-->
	                <!--<i class="fa fa-plus"></i> 新增-->
	            <!--</a>-->
	            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" >
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<!--<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >-->
		            <!--<i class="fa fa-remove"></i> 删除-->
		        <!--</a>-->
		        <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" >-->
		            <!--<i class="fa fa-download"></i> 导出-->
		        <!--</a>-->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "user.do";

		$(function() {
		    var options = {
		        url: prefix + "/getUserList",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit?uid={id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
				pauseUrl: prefix + "/changeUserState",
		        sortName: "roleSort",
		        modalName: "用户",
		        columns: [
					{
		            checkbox: true
		        },
		        {
		            field: 'id',
					visible: false
		        },
		        {
		            field: 'name',
		            title: '员工姓名',
		            sortable: true
		        },
				{
					field: 'username',
					title: '用户名',
					sortable: true
				},
				{
					field: 'department',
					title: '所在部门',
					sortable: true
				},
				{
					field: 'projectGroup',
					title: '项目组',
					sortable: true
				},
				{
					field: 'email',
					title: 'Email',
					sortable: true
				},
		        {
		            field: 'ccEmail',
		            title: '抄送Email',
		            sortable: true
		        },
		        {
		            field: 'groupId',
		            title: '是否管理员',
		            sortable: true,
					formatter: function (value, row, index) {
		            	if(1 == value) {
		            		return "系统管理员";
						} else if(3 == value) {
							return "部门管理员";
						} else {
		            		return "否"
						}
					}
		        },
				{
					field: 'status',
					title: '状态',
					sortable: true,
					formatter: function (value, row, index) {
						if(0 == value) {
							return "启用";
						} else {
							return "暂停";
						}
					}
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                var pauseOperType = "";
		                var userState = 0;
						if(0 == row.status) {
							pauseOperType = "暂停";
							userState = 1;
						} else {
							pauseOperType = "启用";
							userState = 0;
						}
		                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.removeUser(' + row.id + ')"><i class="fa fa-remove"></i>删除</a> ');
						actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.pauseUser(' + row.id + ',' + userState + ')"><i class="fa fa-edit"></i>' + pauseOperType + '</a> ');
		                return actions.join('');
		            }
		        }
		        ]
		    };
		    $.table.init(options);
		});

	</script>
</body>
</html>