<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('良率预测')" />
	<th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row" style="height: 200px;">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								板命：<input type="text" name="name"/>
							</li>
							<li>
								版本：<input type="text" name="username"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;预测</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;导出</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>

		<h4 class="form-header h4">良率预测结果</h4>

		<div class="row" style="height: 200px;">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">预估良率约为</label>
				</div>
			</div>
		</div>


		<h4 class="form-header h4">物料DPPM</h4>
		<div class="row" style="height: 200px;">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">物料DPPM影响因素占</label>
				</div>
			</div>
		</div>



		<h4 class="form-header h4">关键工艺参数的影响</h4>
		<div class="row" style="height: 200px;">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">关键工艺参数的影响因素占</label>
				</div>
			</div>
		</div>


	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">

	</script>
</body>
</html>