<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('联系方式列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>机构地址：</label>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <label>服务电话：</label>
                                <input type="text" name="servicePhone"/>
                            </li>
                            <li>
                                <label>监督电话：</label>
                                <input type="text" name="supervisePhone"/>
                            </li>
                            <li>
                                <label>监督部门：</label>
                                <input type="text" name="superviseDept"/>
                            </li>
                            <li>
                                <label>邮箱：</label>
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                <label>服务时间：</label>
                                <input type="text" name="serviceDate"/>
                            </li>
                            <li>
                                <label>版权所有：</label>
                                <input type="text" name="copyright"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="front:contactInformation:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="front:contactInformation:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="front:contactInformation:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
               <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="front:contactInformation:export">
                    <i class="fa fa-download"></i> 导出
                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('front:contactInformation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('front:contactInformation:remove')}]];
        var prefix = ctx + "front/contactInformation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "联系方式",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'address',
                    title: '机构地址'
                },
                {
                    field: 'servicePhone',
                    title: '服务电话'
                },
                {
                    field: 'supervisePhone',
                    title: '监督电话'
                },
                {
                    field: 'superviseDept',
                    title: '监督部门'
                },
                {
                    field: 'email',
                    title: '邮箱'
                },
                {
                    field: 'serviceDate',
                    title: '服务时间'
                },
                {
                    field: 'copyright',
                    title: '版权所有'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>