<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.front.mapper.EventRecruitmentMapper">
    
    <resultMap type="EventRecruitment" id="EventRecruitmentResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="introduction"    column="introduction"    />
        <result property="activityTime"    column="activity_time"    />
        <result property="address"    column="address"    />
        <result property="organizer"    column="organizer"    />
        <result property="pictureUrl"    column="picture_url"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEventRecruitmentVo">
        select id, title, introduction, activity_time, address, organizer, picture_url, del_flag, create_by, create_time, update_by, update_time from event_recruitment
    </sql>

    <select id="selectEventRecruitmentList" parameterType="EventRecruitment" resultMap="EventRecruitmentResult">
        <include refid="selectEventRecruitmentVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="activityTime != null  and activityTime != ''"> and activity_time = #{activityTime}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="organizer != null  and organizer != ''"> and organizer = #{organizer}</if>
            <if test="pictureUrl != null  and pictureUrl != ''"> and picture_url = #{pictureUrl}</if>
        </where>
    </select>
    
    <select id="selectEventRecruitmentById" parameterType="Long" resultMap="EventRecruitmentResult">
        <include refid="selectEventRecruitmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEventRecruitment" parameterType="EventRecruitment" useGeneratedKeys="true" keyProperty="id">
        insert into event_recruitment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="introduction != null and introduction != ''">introduction,</if>
            <if test="activityTime != null">activity_time,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="organizer != null and organizer != ''">organizer,</if>
            <if test="pictureUrl != null and pictureUrl != ''">picture_url,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="introduction != null and introduction != ''">#{introduction},</if>
            <if test="activityTime != null">#{activityTime},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="organizer != null and organizer != ''">#{organizer},</if>
            <if test="pictureUrl != null and pictureUrl != ''">#{pictureUrl},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEventRecruitment" parameterType="EventRecruitment">
        update event_recruitment
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="activityTime != null">activity_time = #{activityTime},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="organizer != null and organizer != ''">organizer = #{organizer},</if>
            <if test="pictureUrl != null and pictureUrl != ''">picture_url = #{pictureUrl},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEventRecruitmentById" parameterType="Long">
        delete from event_recruitment where id = #{id}
    </delete>

    <delete id="deleteEventRecruitmentByIds" parameterType="String">
        delete from event_recruitment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>